<div class="containers">
  <div class="title">Privacy Policy</div>
  <div class="paragraph">
    The purpose of this privacy policy is to inform online visitors with regards to the collecting, using, sharing, storing, <br/>
    and disclosing of personal information of the users of COULLAX.com (the “Website“). This policy is also applicable <br/>
    to, but not limited to, any applications, products, tokens, or services (the “Services“) that occur as a result of the<br/>
    use of the Website.<br/><br/>

    Third-Party Links:<br/><br/>

    Our website may contain links to third-party websites, which have their own privacy policies.<br/>

    We are not responsible for the privacy practices of these websites.<br/><br/>

    Information We Collect:<br/><br/>

    We may collect personal information such as your name, email address, phone number, and mailing address.<br/>

    We may also collect information about your company, industry, and job title.<br/>

    We may collect this information through our website, email communications, or other means of contact.<br/>

    Use of Information:<br/><br/>

    We use your personal information to provide consulting services, communicate with you about your project, and <br/>
    process payments.<br/>

    We may use your personal information to send you marketing materials, but you can opt-out of these <br/>
    communications at any time.<br/>

    We do not sell or rent your personal information to third parties.<br/>

    How we use your information<br/>

    We use the information we collect in various ways, including to:<br/>

    Provide, operate, and maintain our website<br/>

    Improve, personalize, and expand our website<br/>

    Understand and analyze how you use our website<br/>

    Develop new products, services, features, and functionality<br/>

    Communicate with you, either directly or through one of our partners, including for customer service, to provide<br/>
    you with updates and other information relating to the website, and for marketing and promotional purposes<br/>

    Send you emails<br/>

    Find and prevent fraud<br/>

    Log Files<br/><br/>

    COULLAX follows a standard procedure of using log files. These files log visitors when they visit websites. All hosting<br/>
    companies do this and a part of hosting services’ analytics. The information collected by log files include internet <br/>
    protocol (IP) addresses, browser type, Internet Service Provider (ISP), date and time stamp, referring/exit pages, <br/>
    and possibly the number of clicks. These are not linked to any information that is personally identifiable. The <br/>
    purpose of the information is for analyzing trends, administering the site, tracking users’ movement on the website, <br/>
    and gathering demographic information.<br/>

    Cookies and Tracking:<br/>

    We may use cookies and other tracking technologies to improve your browsing experience and collect analytics <br/>data.<br/><br/>

    You can disable cookies in your web browser, but this may affect the functionality of our website.<br/>

    Third Party Privacy Policies<br/>

    COULLAX’s Privacy Policy does not apply to other advertisers or websites. Thus, we are advising you to consult the <br/>
    respective Privacy Policies of these third-party ad servers for more detailed information. It may include their <br/>
    practices and instructions about how to opt-out of certain options.<br/><br/>

    Refund Method:<br/>

    Refunds will be issued to the original payment method, unless otherwise specified<br/>

    within 7-14 business days of the refund request being approved<br/>

    The processing of personal data, such as the name, address, e-mail address, or telephone number of a data<br/>
    subject shall always be in line with the General Data Protection Regulation (GDPR), the California Consumer Privacy<br/>
    Act (CCPA), and in accordance with the country-specific data protection regulations applicable to COULLAX. By <br/>
    means of this data protection declaration, our enterprise would like to inform the general public of the nature, <br/>
    scope, and purpose of the personal data we collect, use and process, as well as the CCPA privacy rights available <br/>
    to California residents. Furthermore, data subjects are informed, by means of this data protection declaration, of <br/>
    the rights to which they are entitled under both GDPR and CCPA.<br/><br/>

    Collection of Data:<br/><br/>

    The extent and type of information we receive from you depends on what you do when visiting the Site. If you visit <br/>
    our Site to read or download information, such as news items, case studies, or capability statements, much of the <br/>
    information we collect – such as the domain from which you access the Internet, the date and time you access the<br/>
    Site, and the Internet address of the website from which you linked directly to our Site – is statistical only and not<br/>
    personally identifiable. We use information about the number of visitors and their use of the Site in aggregate form <br/>
    to make our Site more useful and attractive to you.<br/><br/>

    Links to other websites<br/><br/>

    Our website may contain links to other websites of interest. However, once you have used these links to leave our <br/>
    site, you should note that we do not have any control over that other website. Therefore, we cannot be responsible <br/>
    for the protection and privacy of any information which you provide whilst visiting such sites and such sites are not <br/>
    governed by this privacy statement. You should exercise caution and look at the privacy statement applicable to <br/>the website in question.<br/><br/>

    Children’s Information<br/><br/>

    Another part of our priority is adding protection for children while using the internet. We encourage parents and <br/>
    guardians to observe, participate in, and/or monitor and guide their online activity.<br/>

    COULLAX does not knowingly collect any Personal Identifiable Information from children under the age of 13. If you<br/>
    think that your child provided this kind of information on our website, we strongly encourage you to contact us<br/>
    immediately and we will do our best efforts to promptly remove such information from our records.<br/><br/>
  </div>

  <div class="text-[color(display-p3_0.4446_0.4446_0.4446)] text-center text-xs leading-3 mt-4 mb-5 pb-5" aria-label="© 2024 Coullax All Rights Reserved">
    © 2024 Coullax All Rights Reserved
  </div>
</div>
