<!-- <div class="video_wrapper">
  <div class="vide_container" *ngFor="let data of videoList">
      <input type="text" value="" hidden>
      <div class="image_wrapper">
        <img src="assets/youtube/youtube_circle.png" class="youtube_icon" alt="youtubeIcon" (click)="playVideo(videoList[1].id)">
        <img [src]="videoList[1].id | getThumbnail" class="glightbox" alt="" (click)="playVideo(videoList[1].id)">
      </div>
  </div>
</div> -->
<swiper-container class="mySwiper" navigation="true" loop="true">
  <swiper-slide>
    <div class="vide_container">
      <input type="text" value="" hidden>
      <div class="image_wrapper">
        <img src="assets/youtube/youtube_circle.png" class="youtube_icon" alt="youtubeIcon" (click)="playVideo(videoList[0].id)">
        <img [src]="videoList[0].id | getThumbnail" class="glightbox" alt="" (click)="playVideo(videoList[0].id)">
      </div>
    </div>
  </swiper-slide>
  <swiper-slide>
    <div class="vide_container">
      <input type="text" value="" hidden>
      <div class="image_wrapper">
        <img src="assets/youtube/youtube_circle.png" class="youtube_icon" alt="youtubeIcon" (click)="playVideo(videoList[0].id)">
        <img [src]="videoList[1].id | getThumbnail" class="glightbox" alt="" (click)="playVideo(videoList[1].id)">
      </div>
    </div>
  </swiper-slide>
  <swiper-slide>
    <div class="vide_container">
      <input type="text" value="" hidden>
      <div class="image_wrapper">
        <img src="assets/youtube/youtube_circle.png" class="youtube_icon" alt="youtubeIcon" (click)="playVideo(videoList[0].id)">
        <img [src]="videoList[2].id | getThumbnail" class="glightbox" alt="" (click)="playVideo(videoList[3].id)">
      </div>
    </div>
  </swiper-slide>
</swiper-container>



