swiper-container {
    width: 100%;
    height: 100%;
  }

  swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  swiper-slide  {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

.video_container{
    border: 1px solid #e0e0e0;
    border-radius: 18px;
}
.mySwiper-video{
    background: var(--main-content-background-color)
}
.image_wrapper{
    position: relative;
    height: 100%;
    width: 100%;
    cursor: pointer;
    border-radius: 4px;
}
.youtube_icon{
    cursor: pointer;
    height: 67.85px;
    width: 69px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}
.glightbox{
    height: 100%;
    width: 100%;
    border-radius: 18px;
}

.video-title{
  color: var(--supper-power-title-color);
  font-family: Poppins, serif;
  font-size: 45px;
  font-style: normal;
  font-weight: 600;
  line-height: 96.6%;
  margin-top: 66px;
  margin-bottom: 54px
}

@media screen and (max-width: 900px) {
  .video-title{
    color: var(--supper-power-title-color);
    font-family: Poppins, serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: 96.6%;
    margin-top: 31px;
    margin-bottom: 20px
  }
}
