<div class="call-bar-web">
    <div class="flex flex-col justify-center items-center px-16 py-10 rounded-2xl max-md:px-5 call-container">
      <div class="flex justify-center max-w-full flex-col items-stretch" data-aos="fade-up" data-aos-duration="600" >
        <h1 class="up-text">Still not satisfied?</h1>
        <button class="text-lg font-bold leading-5 whitespace-nowrap self-center justify-center items-stretch  book-call-btn" (click)="scheduleCall()">
          Book a call with us
        </button>
      </div>
    </div>
</div>


<div class="call-bar-mobile">
  <div class="flex flex-col justify-center items-center px-16 py-10 rounded-2xl max-md:px-5 call-container">
    <div class="flex justify-center max-w-full flex-col items-stretch" data-aos="zoom-in" data-aos-duration="600" >
      <h1 class="up-text">Still not satisfied?</h1>
      <button class="justify-center items-stretch  book-call-btn" (click)="scheduleCall()">
        Book a call with us
      </button>
    </div>
  </div>
</div>
