@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,400;9..40,700&family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,400;9..40,700&family=Poppins:wght@500;600&display=swap');


.up-text{
  color: #F5F5F7;
  font-family: 'Poppins', sans-serif;
  font-size: 38px;
  font-style: normal;
  font-weight: 600;
  line-height: 96.6%;
}

.book-call-btn{
  width: 215px;
  height: 44px;
  border-radius: 22px;
  background: var(--call-bar-btn-bg-color);
  color: var(--call-bar-btn-text-color);
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 103.6%;
  margin-top: 29px;
  border: var(--call-bar-btn-border-color);
}

.call-container{
  background: var(--call-bar-background-color);
  width: 900px;
  height: 190px;
  border-radius: 18px;
}

///////////////////////////////////////////////////////////////////////////
//new version


.call-bar-web{
  width: 900px;
  height: 308px;
  border-radius: 18px;
  background: var(--call-bar-background-color-new);
}
.grid-item{
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 30px;
  padding: 45px 0 0 58px;
}

.title{
  color: #4F92F6;
  font-family: Poppins, serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 103.6%;
}

.des{
  color: var(--call-bar-des-color-new);
  font-family: Poppins, serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 103.6%;
  margin-top:21px
}
.book-call-btn{
  border-radius: 26px;
  background: #4F92F6;
  width: 276px;
  height: 52px;
  color: #fff;
  border: none;
  margin-top:37px
}







$t: 1s;

@property --k {
  syntax: '<number>';
  initial-value: -1;
  inherits: true
}


button {
  --m: 3;
  grid-area: 2/ 1/ span 1/ span 2;
  position: relative;
  //border: solid 2em transparent;
  //padding: 0.5em 3.25em;
  border-radius: 5em;
  box-shadow: inset 0 0 1px #23429e;
  background:
    radial-gradient(#4f92f6, 67.5%, #3476da) padding-box,
    radial-gradient(#a0c2ed, 35%, #a0c2ed00 70%) 50% 0/ 80% 50% repeat-y;
  font: 700 1.5em/ 1 montserrat, sans-serif;

  #slow:checked ~ & { --m: 5 }
  width: 215px;
  height: 44px;
  color: var(--call-bar-btn-text-color);
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 103.6%;
  margin-top: 29px;
  //border: var(--call-bar-btn-border-color);
}

@keyframes k { 0%, 33.3% { --k: 1 } }

.particle {
  --f: 1;
  --pos-k: max(0, var(--k));
  --neg-k: max(0, -1*var(--k));
  --low-c: min(1, 4*(1 - var(--pos-k)));
  --abs-d: max(var(--neg-k) - .5, .5 - var(--neg-k));
  --mov-f: var(--pos-k);
  display: grid;
  position: absolute;
  left: var(--x); top: var(--y);
  rotate: var(--a);
  animation: k calc(var(--m)*#{$t}) linear calc(var(--m)*var(--t, 0)*#{$t}) infinite;

  @supports (scale: sqrt(4)) { --mov-f: sqrt(var(--pos-k)) }

  &::before, &::after {
    grid-area: 1/ 1;
    width: .75em;
    aspect-ratio: 1
  }

  &::before {
    --sa: calc(min(1, 1 - 2*min(.5, var(--mov-f)))*45deg);
    border-radius: calc(1.25*min(.8, var(--mov-f))*50%) 50% 50%;
    transform-origin: 0 0;
    translate: calc(var(--mov-f)*var(--d));
    rotate: -45deg;
    scale: var(--f);
    transform: skew(var(--sa), var(--sa));
    opacity: var(--low-c);
    filter: Saturate(var(--low-c));
    background: radial-gradient(at 85% 85%, #bad9fa, #3e66a4 75%);
    content: ''
  }

  &::after {
    translate: -50% -50%;
    scale: calc(var(--f)*(1 - 2*var(--abs-d)));
    text-align: center;
    filter: blur(.5px);
    content: '✦'
  }

}

[type='checkbox'] {
  justify-self: end;
  margin: 5px;
  width: 1em;
  aspect-ratio: 1;

  &, & + label {
    align-self: center;
    font: 1.25em orbitron, monospace;
    cursor: pointer
  }
}


//////////////////////////

.call-bar-mobile{
  display: none;
}

//////////////////////////////////////////////////////

////new mobile version
@media screen and (max-width: 900px) {
  .call-bar-mobile {
    display: block;
    border-radius: 18px;
    background: var(--call-bar-background-color-new);
    width: 375px;
    height: 213px;
  }
  .call-bar-web {
    display: none;
  }

  .title{
    color: #4F92F6;
    font-family: Poppins, serif;
    font-size: 23px;
    font-style: normal;
    font-weight: 600;
    line-height: 103.6%;
  }

  .des{
    color: var(--call-bar-des-color-new);
    font-family: Poppins, serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 103.6%;
    text-align: center;
    margin-top:11px
  }
  .book-call-btn{
    border-radius: 26px;
    background: #4F92F6;
    width: 236.842px;
    height: 44.622px;
    color: #fff;
    border: none;
    text-align: center;
    font-family: Poppins, serif;
    font-size: 17.162px;
    font-style: normal;
    font-weight: 500;
    line-height: 103.6%;
    margin-top:20px
  }
  .item-mobile{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    padding:29px 36px 0 36px
  }
}



/////////////////////////////////////////////////////////////////

//@media screen and (max-width: 900px) {
//  .call-bar-mobile{
//    display: block;
//  }
//  .call-bar-web{
//    display: none;
//  }
//
//  .up-text{
//    color: #F5F5F7;
//    font-family: 'Poppins', sans-serif;
//    text-align: center;
//    font-size: 23px;
//    font-style: normal;
//    font-weight: 600;
//    line-height: 96.6%;
//  }
//
//  //.book-call-btn{
//  //  width: 232px;
//  //  height: 43px;
//  //  border-radius: 22px;
//  //  background: var(--call-bar-btn-bg-color);
//  //  color: var(--call-bar-btn-text-color);
//  //  font-family: 'Poppins', sans-serif;
//  //  text-align: center;
//  //  font-size: 16px;
//  //  font-style: normal;
//  //  font-weight: 500;
//  //  line-height: 103.6%;
//  //  margin-top: 14px;
//  //  border: var(--call-bar-btn-border-color);
//  //}
//
//  .call-container{
//    background: var(--call-bar-background-color);
//    width: 375px;
//    height: 123px;
//    border-radius: 9px;
//  }
//}
