<div class="container">
    <div class="flex flex-col justify-center items-center px-16 py-10 rounded-2xl max-md:px-5">
      <div class="flex w-[334px] max-w-full flex-col items-stretch">
        <h1 class="text-4xl font-semibold leading-9 whitespace-nowrap">Still not satisfied?</h1>
        <button class="text-lg font-bold leading-5 whitespace-nowrap self-center justify-center items-stretch mt-9 max-md:px-5">
          <a href="#" class="bg-white px-7 py-4 rounded-3xl">Book a call with us</a>
        </button>
      </div>
    </div>
</div>
