<div class="review">
  <div #scroller class="scroller js-slideshow" data-direction="left" data-speed="slow">
    <ul class="tag-list scroller__inner">
      <li >
        <div class="flex w-[383px]  h-[171px] flex-col items-stretch pl-5 pr-8 background rounded-2xl">
          <div class="flex w-full items-stretch justify-between gap-5 mt-4">
            <div class="flex items-stretch justify-between gap-4">
              <img loading="lazy" srcset="assets/client-reviews/Mohid_jamil.svg"class="aspect-square object-contain object-center w-[41px] overflow-hidden shrink-0 max-w-full rounded-[50%]" />
              <div class="review-text review-text-font-size font-semibold leading-6 mt-1">Mohid<br>Jamil</div>
            </div>
            <div class="flex gap-1.5 mt-1 self-start items-start">
              <div class="review-text text-2xl font-semibold leading-6">5</div>
              <img loading="lazy" src="assets/client-reviews/star.svg" class="aspect-square object-contain object-center w-[19px] overflow-hidden self-stretch shrink-0 max-w-full" />
            </div>
          </div>
          <div class="review-text text-lg leading-5 mt-4 mb-4 mr-3">Will buy again and again. Already placed another order.</div>
        </div>
      </li>
      <li >
        <div class="flex w-[383px]  h-[171px] flex-col items-stretch pl-5 pr-8 background rounded-2xl">
          <div class="flex w-full items-stretch justify-between gap-5 mt-4">
            <div class="flex items-stretch justify-between gap-4">
              <img loading="lazy" srcset="assets/client-reviews/Mohid_jamil.svg"class="aspect-square object-contain object-center w-[41px] overflow-hidden shrink-0 max-w-full rounded-[50%]" />
              <div class="review-text review-text-font-size font-semibold leading-6 mt-1">Mohid<br>Jamil</div>
            </div>
            <div class="flex gap-1.5 mt-1 self-start items-start">
              <div class="review-text text-2xl font-semibold leading-6">5</div>
              <img loading="lazy" src="assets/client-reviews/star.svg" class="aspect-square object-contain object-center w-[19px] overflow-hidden self-stretch shrink-0 max-w-full" />
            </div>
          </div>
          <div class="review-text text-lg leading-5 mt-4 mb-4 mr-3">Will buy again and again. Already placed another order.</div>
        </div>
      </li>
      <li >
        <div class="flex w-[383px]  h-[171px] flex-col items-stretch pl-5 pr-8 background rounded-2xl">
          <div class="flex w-full items-stretch justify-between gap-5 mt-4">
            <div class="flex items-stretch justify-between gap-4">
              <img loading="lazy" srcset="assets/client-reviews/Mohid_jamil.svg"class="aspect-square object-contain object-center w-[41px] overflow-hidden shrink-0 max-w-full rounded-[50%]" />
              <div class="review-text review-text-font-size font-semibold leading-6 mt-1">Mohid<br>Jamil</div>
            </div>
            <div class="flex gap-1.5 mt-1 self-start items-start">
              <div class="review-text text-2xl font-semibold leading-6">5</div>
              <img loading="lazy" src="assets/client-reviews/star.svg" class="aspect-square object-contain object-center w-[19px] overflow-hidden self-stretch shrink-0 max-w-full" />
            </div>
          </div>
          <div class="review-text text-lg leading-5 mt-4 mb-4 mr-3">Will buy again and again. Already placed another order.</div>
        </div>
      </li>
      <li >
        <div class="flex w-[383px]  h-[171px] flex-col items-stretch pl-5 pr-8 background rounded-2xl">
          <div class="flex w-full items-stretch justify-between gap-5 mt-4">
            <div class="flex items-stretch justify-between gap-4">
              <img loading="lazy" srcset="assets/client-reviews/Mohid_jamil.svg"class="aspect-square object-contain object-center w-[41px] overflow-hidden shrink-0 max-w-full rounded-[50%]" />
              <div class="review-text review-text-font-size font-semibold leading-6 mt-1">Mohid<br>Jamil</div>
            </div>
            <div class="flex gap-1.5 mt-1 self-start items-start">
              <div class="review-text text-2xl font-semibold leading-6">5</div>
              <img loading="lazy" src="assets/client-reviews/star.svg" class="aspect-square object-contain object-center w-[19px] overflow-hidden self-stretch shrink-0 max-w-full" />
            </div>
          </div>
          <div class="review-text text-lg leading-5 mt-4 mb-4 mr-3">Will buy again and again. Already placed another order.</div>
        </div>
      </li>
      <li >
        <div class="flex w-[383px]  h-[171px] flex-col items-stretch pl-5 pr-8 background rounded-2xl">
          <div class="flex w-full items-stretch justify-between gap-5 mt-4">
            <div class="flex items-stretch justify-between gap-4">
              <img loading="lazy" srcset="assets/client-reviews/Mohid_jamil.svg"class="aspect-square object-contain object-center w-[41px] overflow-hidden shrink-0 max-w-full rounded-[50%]" />
              <div class="review-text review-text-font-size font-semibold leading-6 mt-1">Mohid<br>Jamil</div>
            </div>
            <div class="flex gap-1.5 mt-1 self-start items-start">
              <div class="review-text text-2xl font-semibold leading-6">5</div>
              <img loading="lazy" src="assets/client-reviews/star.svg" class="aspect-square object-contain object-center w-[19px] overflow-hidden self-stretch shrink-0 max-w-full" />
            </div>
          </div>
          <div class="review-text text-lg leading-5 mt-4 mb-4 mr-3">Will buy again and again. Already placed another order.</div>
        </div>
      </li>
      <li >
        <div class="flex w-[383px]  h-[171px] flex-col items-stretch pl-5 pr-8 background rounded-2xl">
          <div class="flex w-full items-stretch justify-between gap-5 mt-4">
            <div class="flex items-stretch justify-between gap-4">
              <img loading="lazy" srcset="assets/client-reviews/Mohid_jamil.svg"class="aspect-square object-contain object-center w-[41px] overflow-hidden shrink-0 max-w-full rounded-[50%]" />
              <div class="review-text review-text-font-size font-semibold leading-6 mt-1">Mohid<br>Jamil</div>
            </div>
            <div class="flex gap-1.5 mt-1 self-start items-start">
              <div class="review-text text-2xl font-semibold leading-6">5</div>
              <img loading="lazy" src="assets/client-reviews/star.svg" class="aspect-square object-contain object-center w-[19px] overflow-hidden self-stretch shrink-0 max-w-full" />
            </div>
          </div>
          <div class="review-text text-lg leading-5 mt-4 mb-4 mr-3">Will buy again and again. Already placed another order.</div>
        </div>
      </li>
    </ul>
  </div>
  <div class="read-more">
    <div (click)="showDialog()" class="read-more-btn">Read more reviews</div>
  </div>
</div>

<div class="review-mobile">
  <div #scroller class="scroller js-slideshow" data-direction="left" data-speed="slow">
    <ul class="tag-list scroller__inner">
      <li >
        <div class="flex w-[297px] h-[139px] flex-col items-stretch pl-5 pr-8 background rounded-2xl">
          <div class="flex w-full items-stretch justify-between gap-5 mt-[12px]">
            <div class="flex items-stretch justify-between gap-4">
              <img loading="lazy" srcset="assets/client-reviews/Mohid_jamil.svg"class="aspect-square object-contain object-center w-[32.46px] overflow-hidden shrink-0 max-w-full rounded-[50%]" />
              <div class="review-text review-text-font-size font-semibold leading-6 mt-1">Mohid<br>Jamil</div>
            </div>
            <div class="flex gap-1.5 mt-1 self-start items-start">
              <div class="review-text text-[25.796px] font-semibold leading-6">5</div>
              <img loading="lazy" src="assets/client-reviews/star.svg" class="aspect-square object-contain object-center w-[22.5px] overflow-hidden self-stretch shrink-0 max-w-full" />
            </div>
          </div>
          <div class="review-text text-[16px] leading-5 mt-2 mr-3">Will buy again and again. Already placed another order.</div>
        </div>
      </li>
      <li >
        <div class="flex w-[297px] h-[139px] flex-col items-stretch pl-5 pr-8 background rounded-2xl">
          <div class="flex w-full items-stretch justify-between gap-5 mt-[12px]">
            <div class="flex items-stretch justify-between gap-4">
              <img loading="lazy" srcset="assets/client-reviews/Mohid_jamil.svg"class="aspect-square object-contain object-center w-[32.46px] overflow-hidden shrink-0 max-w-full rounded-[50%]" />
              <div class="review-text review-text-font-size font-semibold leading-6 mt-1">Mohid<br>Jamil</div>
            </div>
            <div class="flex gap-1.5 mt-1 self-start items-start">
              <div class="review-text text-[25.796px] font-semibold leading-6">5</div>
              <img loading="lazy" src="assets/client-reviews/star.svg" class="aspect-square object-contain object-center w-[22.5px] overflow-hidden self-stretch shrink-0 max-w-full" />
            </div>
          </div>
          <div class="review-text text-[16px] leading-5 mt-2 mr-3">Will buy again and again. Already placed another order.</div>
        </div>
      </li>
      <li >
        <div class="flex w-[297px] h-[139px] flex-col items-stretch pl-5 pr-8 background rounded-2xl">
          <div class="flex w-full items-stretch justify-between gap-5 mt-[12px]">
            <div class="flex items-stretch justify-between gap-4">
              <img loading="lazy" srcset="assets/client-reviews/Mohid_jamil.svg"class="aspect-square object-contain object-center w-[32.46px] overflow-hidden shrink-0 max-w-full rounded-[50%]" />
              <div class="review-text review-text-font-size font-semibold leading-6 mt-1">Mohid<br>Jamil</div>
            </div>
            <div class="flex gap-1.5 mt-1 self-start items-start">
              <div class="review-text text-[25.796px] font-semibold leading-6">5</div>
              <img loading="lazy" src="assets/client-reviews/star.svg" class="aspect-square object-contain object-center w-[22.5px] overflow-hidden self-stretch shrink-0 max-w-full" />
            </div>
          </div>
          <div class="review-text text-[16px] leading-5 mt-2 mr-3">Will buy again and again. Already placed another order.</div>
        </div>
      </li>
      <li >
        <div class="flex w-[297px] h-[139px] flex-col items-stretch pl-5 pr-8 background rounded-2xl">
          <div class="flex w-full items-stretch justify-between gap-5 mt-[12px]">
            <div class="flex items-stretch justify-between gap-4">
              <img loading="lazy" srcset="assets/client-reviews/Mohid_jamil.svg"class="aspect-square object-contain object-center w-[32.46px] overflow-hidden shrink-0 max-w-full rounded-[50%]" />
              <div class="review-text review-text-font-size font-semibold leading-6 mt-1">Mohid<br>Jamil</div>
            </div>
            <div class="flex gap-1.5 mt-1 self-start items-start">
              <div class="review-text text-[25.796px] font-semibold leading-6">5</div>
              <img loading="lazy" src="assets/client-reviews/star.svg" class="aspect-square object-contain object-center w-[22.5px] overflow-hidden self-stretch shrink-0 max-w-full" />
            </div>
          </div>
          <div class="review-text text-[16px] leading-5 mt-2 mr-3">Will buy again and again. Already placed another order.</div>
        </div>
      </li>
      <li >
        <div class="flex w-[297px] h-[139px] flex-col items-stretch pl-5 pr-8 background rounded-2xl">
          <div class="flex w-full items-stretch justify-between gap-5 mt-[12px]">
            <div class="flex items-stretch justify-between gap-4">
              <img loading="lazy" srcset="assets/client-reviews/Mohid_jamil.svg"class="aspect-square object-contain object-center w-[32.46px] overflow-hidden shrink-0 max-w-full rounded-[50%]" />
              <div class="review-text review-text-font-size font-semibold leading-6 mt-1">Mohid<br>Jamil</div>
            </div>
            <div class="flex gap-1.5 mt-1 self-start items-start">
              <div class="review-text text-[25.796px] font-semibold leading-6">5</div>
              <img loading="lazy" src="assets/client-reviews/star.svg" class="aspect-square object-contain object-center w-[22.5px] overflow-hidden self-stretch shrink-0 max-w-full" />
            </div>
          </div>
          <div class="review-text text-[16px] leading-5 mt-2 mr-3">Will buy again and again. Already placed another order.</div>
        </div>
      </li>
    </ul>
  </div>

  <div class="read-more">
    <div (click)="showDialog()" class="read-more-btn">Read more reviews</div>
  </div>
</div>




<p-dialog  [(visible)]="visible" [maximizable]="true" styleClass="bgColorChange" [modal]="true" class="dialog-container" [style]="{ width: '900px', height:'650px'}" [draggable]="false" [resizable]="false">
  <div class="review-popup-title">Check out what the <br/> Folks are saying</div>
  <div class="item-grid-large" >
    <div class="item-grid-small" >
      <div class="item" *ngFor="let review of reviews1">
        <div class="flex w-[383px] flex-col pl-5 pr-5 background rounded-2xl cards-item">
          <div class="flex w-full  justify-between  mt-4">
            <div class="flex items-stretch justify-between gap-4">
              <img loading="lazy" srcset="{{review.profile}}" class="aspect-square object-contain object-center w-[41px] overflow-hidden shrink-0 max-w-full rounded-[50%]" />
              <div class="review-text review-text-font-size font-semibold leading-6 mt-1">{{review.name}}</div>
            </div>
            <div class="flex gap-1.5 mt-1 self-start items-start">
              <div class="review-text text-2xl font-semibold leading-6">{{review.ratings}}</div>
              <img loading="lazy" src="assets/client-reviews/star.svg" class="aspect-square object-contain object-center w-[19px] overflow-hidden self-stretch shrink-0 max-w-full" />
            </div>
          </div>
          <div class="review-text des-text  leading-5 mt-4 mb-4 mr-3">{{review.feedback}}</div>
        </div>
      </div>
    </div>
    <div class="item-grid-small" >
      <div class="items" *ngFor="let review of reviews2">
        <div class="flex w-[383px] flex-col  pl-5 pr-5 background rounded-2xl">
          <div class="flex w-full  justify-between  mt-4">
            <div class="flex items-stretch justify-between gap-4">
              <img loading="lazy" srcset="{{review.profile}}" class="aspect-square object-contain object-center w-[41px] overflow-hidden shrink-0 max-w-full rounded-[50%]" />
              <div class="review-text review-text-font-size font-semibold leading-6 mt-1">{{review.name}}</div>
            </div>
            <div class="flex gap-1.5 mt-1 self-start items-start">
              <div class="review-text text-2xl font-semibold leading-6">{{review.ratings}}</div>
              <img loading="lazy" src="assets/client-reviews/star.svg" class="aspect-square object-contain object-center w-[19px] overflow-hidden self-stretch shrink-0 max-w-full" />
            </div>
          </div>
          <div class="review-text des-text  leading-5 mt-4 mb-4 mr-3">{{review.feedback}}</div>
        </div>
      </div>
    </div>


  </div>
</p-dialog>
