<div #scroller class="scroller js-slideshow" data-direction="left" data-speed="slow">
  <ul class="tag-list scroller__inner">
    <li >
      <div class="flex max-w-[415px]  max-h-[127px] flex-col items-stretch pl-5 pr-8 bg-[#D0E7E2] rounded-2xl">
        <div class="flex w-full items-stretch justify-between gap-5 mt-3">
          <div class="flex items-stretch justify-between gap-4">
            <img loading="lazy" srcset="assets/client-reviews/Mohid_jamil.svg"class="aspect-square object-contain object-center w-[33px] overflow-hidden shrink-0 max-w-full rounded-[50%]" />
            <div class="text-[color(display-p3_0.1412_0.1451_0.1647)] text-2xl font-semibold leading-6 mt-1">Mohid Jamil</div>
          </div>
          <div class="flex gap-1.5 mt-1 self-start items-start">
            <div class="text-[color(display-p3_0.1412_0.1451_0.1647)] text-2xl font-semibold leading-6">5</div>
            <img loading="lazy" src="assets/client-reviews/star.svg" class="aspect-square object-contain object-center w-[19px] fill-[color(display-p3_0_0_0)] overflow-hidden self-stretch shrink-0 max-w-full" />
          </div>
        </div>
        <div class="text-[color(display-p3_0.1412_0.1451_0.1647)] text-lg leading-5 mt-3 mb-4 mr-11">Will buy again and again. Already placed another order.</div>
      </div>
    </li>
    <li >
      <div class="flex max-w-[415px]  max-h-[127px] flex-col items-stretch pl-5 pr-8 bg-[#D0E7E2] rounded-2xl">
        <div class="flex w-full items-stretch justify-between gap-5 mt-3">
          <div class="flex items-stretch justify-between gap-4">
            <img loading="lazy" srcset="assets/client-reviews/Mohid_jamil.svg"class="aspect-square object-contain object-center w-[33px] overflow-hidden shrink-0 max-w-full rounded-[50%]" />
            <div class="text-[color(display-p3_0.1412_0.1451_0.1647)] text-2xl font-semibold leading-6 mt-1">Mohid Jamil</div>
          </div>
          <div class="flex gap-1.5 mt-1 self-start items-start">
            <div class="text-[color(display-p3_0.1412_0.1451_0.1647)] text-2xl font-semibold leading-6">5</div>
            <img loading="lazy" src="assets/client-reviews/star.svg" class="aspect-square object-contain object-center w-[19px] fill-[color(display-p3_0_0_0)] overflow-hidden self-stretch shrink-0 max-w-full" />
          </div>
        </div>
        <div class="text-[color(display-p3_0.1412_0.1451_0.1647)] text-lg leading-5 mt-3 mb-4 mr-11">Will buy again and again. Already placed another order.</div>
      </div>
    </li>
    <li >
      <div class="flex max-w-[415px]  max-h-[127px] flex-col items-stretch pl-5 pr-8 bg-[#D0E7E2] rounded-2xl">
        <div class="flex w-full items-stretch justify-between gap-5 mt-3">
          <div class="flex items-stretch justify-between gap-4">
            <img loading="lazy" srcset="assets/client-reviews/Mohid_jamil.svg"class="aspect-square object-contain object-center w-[33px] overflow-hidden shrink-0 max-w-full rounded-[50%]" />
            <div class="text-[color(display-p3_0.1412_0.1451_0.1647)] text-2xl font-semibold leading-6 mt-1">Mohid Jamil</div>
          </div>
          <div class="flex gap-1.5 mt-1 self-start items-start">
            <div class="text-[color(display-p3_0.1412_0.1451_0.1647)] text-2xl font-semibold leading-6">5</div>
            <img loading="lazy" src="assets/client-reviews/star.svg" class="aspect-square object-contain object-center w-[19px] fill-[color(display-p3_0_0_0)] overflow-hidden self-stretch shrink-0 max-w-full" />
          </div>
        </div>
        <div class="text-[color(display-p3_0.1412_0.1451_0.1647)] text-lg leading-5 mt-3 mb-4 mr-11">Will buy again and again. Already placed another order.</div>
      </div>
    </li>
    <li >
      <div class="flex max-w-[415px]  max-h-[127px] flex-col items-stretch pl-5 pr-8 bg-[#D0E7E2] rounded-2xl">
        <div class="flex w-full items-stretch justify-between gap-5 mt-3">
          <div class="flex items-stretch justify-between gap-4">
            <img loading="lazy" srcset="assets/client-reviews/Mohid_jamil.svg"class="aspect-square object-contain object-center w-[33px] overflow-hidden shrink-0 max-w-full rounded-[50%]" />
            <div class="text-[color(display-p3_0.1412_0.1451_0.1647)] text-2xl font-semibold leading-6 mt-1">Mohid Jamil</div>
          </div>
          <div class="flex gap-1.5 mt-1 self-start items-start">
            <div class="text-[color(display-p3_0.1412_0.1451_0.1647)] text-2xl font-semibold leading-6">5</div>
            <img loading="lazy" src="assets/client-reviews/star.svg" class="aspect-square object-contain object-center w-[19px] fill-[color(display-p3_0_0_0)] overflow-hidden self-stretch shrink-0 max-w-full" />
          </div>
        </div>
        <div class="text-[color(display-p3_0.1412_0.1451_0.1647)] text-lg leading-5 mt-3 mb-4 mr-11">Will buy again and again. Already placed another order.</div>
      </div>
    </li>
    <li >
      <div class="flex max-w-[415px]  max-h-[127px] flex-col items-stretch pl-5 pr-8 bg-[#D0E7E2] rounded-2xl">
        <div class="flex w-full items-stretch justify-between gap-5 mt-3">
          <div class="flex items-stretch justify-between gap-4">
            <img loading="lazy" srcset="assets/client-reviews/Mohid_jamil.svg"class="aspect-square object-contain object-center w-[33px] overflow-hidden shrink-0 max-w-full rounded-[50%]" />
            <div class="text-[color(display-p3_0.1412_0.1451_0.1647)] text-2xl font-semibold leading-6 mt-1">Mohid Jamil</div>
          </div>
          <div class="flex gap-1.5 mt-1 self-start items-start">
            <div class="text-[color(display-p3_0.1412_0.1451_0.1647)] text-2xl font-semibold leading-6">5</div>
            <img loading="lazy" src="assets/client-reviews/star.svg" class="aspect-square object-contain object-center w-[19px] fill-[color(display-p3_0_0_0)] overflow-hidden self-stretch shrink-0 max-w-full" />
          </div>
        </div>
        <div class="text-[color(display-p3_0.1412_0.1451_0.1647)] text-lg leading-5 mt-3 mb-4 mr-11">Will buy again and again. Already placed another order.</div>
      </div>
    </li>
    <li >
      <div class="flex max-w-[415px]  max-h-[127px] flex-col items-stretch pl-5 pr-8 bg-[#D0E7E2] rounded-2xl">
        <div class="flex w-full items-stretch justify-between gap-5 mt-3">
          <div class="flex items-stretch justify-between gap-4">
            <img loading="lazy" srcset="assets/client-reviews/Mohid_jamil.svg"class="aspect-square object-contain object-center w-[33px] overflow-hidden shrink-0 max-w-full rounded-[50%]" />
            <div class="text-[color(display-p3_0.1412_0.1451_0.1647)] text-2xl font-semibold leading-6 mt-1">Mohid Jamil</div>
          </div>
          <div class="flex gap-1.5 mt-1 self-start items-start">
            <div class="text-[color(display-p3_0.1412_0.1451_0.1647)] text-2xl font-semibold leading-6">5</div>
            <img loading="lazy" src="assets/client-reviews/star.svg" class="aspect-square object-contain object-center w-[19px] fill-[color(display-p3_0_0_0)] overflow-hidden self-stretch shrink-0 max-w-full" />
          </div>
        </div>
        <div class="text-[color(display-p3_0.1412_0.1451_0.1647)] text-lg leading-5 mt-3 mb-4 mr-11">Will buy again and again. Already placed another order.</div>
      </div>
    </li>
    <li >
      <div class="flex max-w-[415px]  max-h-[127px] flex-col items-stretch pl-5 pr-8 bg-[#D0E7E2] rounded-2xl">
        <div class="flex w-full items-stretch justify-between gap-5 mt-3">
          <div class="flex items-stretch justify-between gap-4">
            <img loading="lazy" srcset="assets/client-reviews/Mohid_jamil.svg"class="aspect-square object-contain object-center w-[33px] overflow-hidden shrink-0 max-w-full rounded-[50%]" />
            <div class="text-[color(display-p3_0.1412_0.1451_0.1647)] text-2xl font-semibold leading-6 mt-1">Mohid Jamil</div>
          </div>
          <div class="flex gap-1.5 mt-1 self-start items-start">
            <div class="text-[color(display-p3_0.1412_0.1451_0.1647)] text-2xl font-semibold leading-6">5</div>
            <img loading="lazy" src="assets/client-reviews/star.svg" class="aspect-square object-contain object-center w-[19px] fill-[color(display-p3_0_0_0)] overflow-hidden self-stretch shrink-0 max-w-full" />
          </div>
        </div>
        <div class="text-[color(display-p3_0.1412_0.1451_0.1647)] text-lg leading-5 mt-3 mb-4 mr-11">Will buy again and again. Already placed another order.</div>
      </div>
    </li>
  </ul>
</div>
