<div class="redirect-bar-web">
  <div class="items-row">
      <div class="item" data-aos="zoom-in" data-aos-duration="600" >
        NFT Creations
      </div>
      <div class="item" data-aos="zoom-in" data-aos-duration="600" >
        Brand Development
      </div>
      <div class="item" data-aos="zoom-in" data-aos-duration="600" >
        UI / UX
      </div>

    <div class="item" data-aos="zoom-in" data-aos-duration="600" >
      Social media Management
    </div>
    <div class="item" data-aos="zoom-in" data-aos-duration="600" >
      Web & Software Development
    </div>
    <div class="item" data-aos="zoom-in" data-aos-duration="600" >
      Blockchain Development
    </div>
  </div>
</div>


<div class="redirect-bar-mobile">
  <div class="items-row">
    <div class="item" data-aos="zoom-in" data-aos-duration="600" >
      NFT Creations
    </div>
    <div class="item" data-aos="zoom-in" data-aos-duration="600" >
      Brand <br>Development
    </div>
    <div class="item" data-aos="zoom-in" data-aos-duration="600" >
      Web & Software Development
    </div>

    <div class="item" data-aos="zoom-in" data-aos-duration="600" >
      Social media Management
    </div>
    <div class="item" data-aos="zoom-in" data-aos-duration="600" >
      UI / UX
    </div>
    <div class="item" data-aos="zoom-in" data-aos-duration="600" >
      Blockchain Development
    </div>
  </div>
</div>
