//////////////////////////////////////////////////////////////
//new version


.process-bars-new{
  border-radius: 18px;
  background: var(--process-bar-bg);
  width: 900px;
  height: 244px;
  padding: 24px 43px 0 43px;
}

.progress-bar-title{
  color: var(--supper-power-title-color);
  font-family: Poppins, serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 100%; /* 32px */
  letter-spacing: -1.6px;
  margin-bottom: 30px;
}

.emoji{
  background: linear-gradient(92deg, color(display-p3 0.4178 0.7985 0.5701) 24.29%, color(display-p3 0.3106 0.3617 0.8223) 53.56%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: Poppins, serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 100%;
  letter-spacing: -1.6px;
}

.progress-card-grid{
  display: grid;
  grid-template-columns: 268px 268px 268px;
  gap: 15px;
}

.card-item-blue{
  width: 268px;
  height: 208px;
  border-radius: 18px;
  background: url("/assets/svg/pro_card1.svg");
  padding:18px 0 0 22px;
}
.card-item-green{
  width: 268px;
  height: 208px;
  border-radius: 18px;
  background: url("/assets/svg/pro_card2.svg");
  padding:18px 0 0 22px;
}
.card-item-yellow{
  width: 268px;
  height: 208px;
  border-radius: 18px;
  background: url("/assets/svg/pro_card3.svg");
  padding:18px 0 0 22px;
}

.pro_text1{
  color: #294876;
  font-family: Poppins, serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 103.6%; /* 24.864px */
  letter-spacing: -1.2px;
}

.pro_text2{
  color: #007A41;
  font-family: Poppins, serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 103.6%; /* 24.864px */
  letter-spacing: -1.2px;
}

.pro_text3{
  color: #6F4F0D;
  font-family: Poppins, serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 103.6%; /* 24.864px */
  letter-spacing: -1.2px;
}
.icon{
  margin-bottom:55px;
}


$animationSpeed: 40s;

// Animation
@keyframes scroll {
  0% { transform: translateX(0); }
  100% { transform: translateX(calc(-156px * 7))}
}


// Styling
.slider {
  background: var(--process-bar-bg);
  height: 100px;
  margin: auto;
  overflow:hidden;
  position: relative;
  width: 805px;

  &::before,
  &::after {
    content: "";
    height: 100px;
    position: absolute;
    width: 200px;
    z-index: 2;
  }

  &::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
  }

  &::before {
    left: 0;
    top: 0;
  }

  .slide-track {
    animation: scroll $animationSpeed linear infinite;
    display: flex;
    width: calc(250px * 14);
  }

  .slide {
    height: 100px;
    width: 156px;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
  }
}

.icon-text{
  color: var(--supper-power-title-color);
  text-align: start;
  font-family: Poppins, serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 96.6%;
  margin-top:15px;
}
////////////////////////////////////////////////////////////////


.progress-bars-mobile{
  display: none;
}

/////////////////////////////////////////////
//new mobile version
@media screen and (max-width: 900px) {
  .progress-bars-web {
    display: none;
  }

  .progress-bars-mobile {
    display: block;
  }


  .process-bars-new{
    border-radius: 18px;
    background: var(--process-bar-bg);
    width: 375px;
    height: 244px;
    padding: 42px 23px 20px 23px;
  }

  .progress-bar-title{
    color: var(--supper-power-title-color);
    font-family: Poppins, serif;
    font-size: 23px;
    font-style: normal;
    font-weight: 600;
    line-height: 100%; /* 32px */
    letter-spacing: -1.6px;
    margin-bottom: 30px;
    padding-left: 3px;
  }

  .emoji{
    background: linear-gradient(92deg, color(display-p3 0.4178 0.7985 0.5701) 24.29%, color(display-p3 0.3106 0.3617 0.8223) 53.56%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: Poppins, serif;
    font-size: 23px;
    font-style: normal;
    font-weight: 600;
    line-height: 100%;
    letter-spacing: -1.6px;
  }

  .progress-card-grid{
    display: grid;
    grid-template-columns: 329px;
    gap: 10px;
  }

  .card-item-blue{
    width: 329px;
    height: 130px;
    border-radius: 18px;
    background: url("/assets/svg/pro_card1_mobile.svg");
    padding:18px 0 0 22px;
  }
  .card-item-green{
    width: 329px;
    height: 130px;
    border-radius: 18px;
    background: url("/assets/svg/pro_card2_mobile.svg");
    padding:18px 0 0 22px;
  }
  .card-item-yellow{
    width: 329px;
    height: 130px;
    border-radius: 18px;
    background: url("/assets/svg/pro_card3_mobile.svg");
    padding:18px 0 0 22px;
  }

  .pro_text1{
    color: #294876;
    font-family: Poppins, serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 103.6%; /* 24.864px */
    letter-spacing: -1.2px;
  }

  .pro_text2{
    color: #007A41;
    font-family: Poppins, serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 103.6%; /* 24.864px */
    letter-spacing: -1.2px;
  }

  .pro_text3{
    color: #6F4F0D;
    font-family: Poppins, serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 103.6%; /* 24.864px */
    letter-spacing: -1.2px;
  }
  .icon{
    margin-bottom:15px;
  }

  $animationSpeed: 40s;

  // Animation
  @keyframes scroll {
    0% { transform: translateX(0); }
    100% { transform: translateX(calc(-140px * 7))}
  }


  // Styling
  .slider {
    background: var(--process-bar-bg);
    height: 100px;
    margin: auto;
    overflow:hidden;
    position: relative;
    width: 330px;

    &::before,
    &::after {
      content: "";
      height: 100px;
      position: absolute;
      width: 200px;
      z-index: 2;
    }

    &::after {
      right: 0;
      top: 0;
      transform: rotateZ(180deg);
    }

    &::before {
      left: 0;
      top: 0;
    }

    .slide-track {
      animation: scroll $animationSpeed linear infinite;
      display: flex;
      width: calc(250px * 14);
    }

    .slide {
      height: 100px;
      width: 140px;
    }
  }


}
