<div class="progress-bars-web" >
  <div class="process-bars-new">
    <div class="progress-bar-title">Awesome people who  <br/> worked with us </div>
    <div class="slider">
      <div class="slide-track">
        <div class="slide">
          <img src="assets/brand/howler_head.svg"  alt="" />
          <div class="icon-text">Howler Head</div>
        </div>
        <div class="slide">
          <img src="assets/brand/danawhite.svg" alt="" />
          <div class="icon-text">Dana White</div>
        </div>
        <div class="slide">
          <img src="assets/brand/criptocom.svg"  alt="" />
          <div class="icon-text">crypto.com</div>
        </div>
        <div class="slide">
          <img src="assets/brand/fiverr.svg"  alt="" />
          <div class="icon-text" style="margin-top: 22px;">Fiverr</div>
        </div>
        <div class="slide">
          <img src="assets/brand/artforc.svg"  alt="" />
          <div class="icon-text"  style="margin-top: 9px;" >artforcrypto</div>
        </div>
        <div class="slide">
          <img src="assets/brand/jossiecotto.svg"  alt="" />
          <div class="icon-text" style="margin-top: 9px;">Jossie Cotto</div>
        </div>
        <div class="slide">
          <img src="assets/brand/rarero.svg"  alt="" />
          <div class="icon-text">Rarerobots</div>
        </div>


        <div class="slide">
          <img src="assets/brand/howler_head.svg"  alt="" />
          <div class="icon-text">Howler Head</div>
        </div>
        <div class="slide">
          <img src="assets/brand/danawhite.svg"  alt="" />
          <div class="icon-text">Dana White</div>
        </div>
        <div class="slide">
          <img src="assets/brand/criptocom.svg" alt="" />
          <div class="icon-text">crypto.com</div>
        </div>
        <div class="slide">
          <img src="assets/brand/fiverr.svg"  alt="" />
          <div class="icon-text" style="margin-top: 22px;">Fiverr</div>
        </div>
        <div class="slide">
          <img src="assets/brand/artforc.svg"  alt="" />
          <div class="icon-text" style="margin-top: 9px;">artforcrypto</div>
        </div>
        <div class="slide">
          <img src="assets/brand/jossiecotto.svg"  alt="" />
          <div class="icon-text" style="margin-top: 9px;">Jossie Cotto</div>
        </div>
        <div class="slide">
          <img src="assets/brand/rarero.svg" alt="" />
          <div class="icon-text">Rarerobots</div>
        </div>
      </div>
    </div>
  </div>
</div>







<div class="progress-bars-mobile">
  <div class="process-bars-new">
    <div class="progress-bar-title">Awesome people who  <br/> worked with us </div>
    <div class="slider">
      <div class="slide-track">
        <div class="slide">
          <img src="assets/brand/howler_head.svg"  alt="" />
          <div class="icon-text">Howler Head</div>
        </div>
        <div class="slide">
          <img src="assets/brand/danawhite.svg" alt="" />
          <div class="icon-text">Dana White</div>
        </div>
        <div class="slide">
          <img src="assets/brand/criptocom.svg"  alt="" />
          <div class="icon-text">crypto.com</div>
        </div>
        <div class="slide">
          <img src="assets/brand/fiverr.svg"  alt="" />
          <div class="icon-text" style="margin-top: 22px;">Fiverr</div>
        </div>
        <div class="slide">
          <img src="assets/brand/artforc.svg"  alt="" />
          <div class="icon-text"  style="margin-top: 9px;" >artforcrypto</div>
        </div>
        <div class="slide">
          <img src="assets/brand/jossiecotto.svg"  alt="" />
          <div class="icon-text" style="margin-top: 9px;">Jossie Cotto</div>
        </div>
        <div class="slide">
          <img src="assets/brand/rarero.svg"  alt="" />
          <div class="icon-text">Rarerobots</div>
        </div>


        <div class="slide">
          <img src="assets/brand/howler_head.svg"  alt="" />
          <div class="icon-text">Howler Head</div>
        </div>
        <div class="slide">
          <img src="assets/brand/danawhite.svg"  alt="" />
          <div class="icon-text">Dana White</div>
        </div>
        <div class="slide">
          <img src="assets/brand/criptocom.svg" alt="" />
          <div class="icon-text">crypto.com</div>
        </div>
        <div class="slide">
          <img src="assets/brand/fiverr.svg"  alt="" />
          <div class="icon-text" style="margin-top: 22px;">Fiverr</div>
        </div>
        <div class="slide">
          <img src="assets/brand/artforc.svg"  alt="" />
          <div class="icon-text" style="margin-top: 9px;">artforcrypto</div>
        </div>
        <div class="slide">
          <img src="assets/brand/jossiecotto.svg"  alt="" />
          <div class="icon-text" style="margin-top: 9px;">Jossie Cotto</div>
        </div>
        <div class="slide">
          <img src="assets/brand/rarero.svg" alt="" />
          <div class="icon-text">Rarerobots</div>
        </div>
      </div>
    </div>
  </div>
</div>
