<!--<div class="container">-->
<!--    <div class="flex flex-col items-stretch">-->
<!--        <div class="flex w-full items-stretch justify-between gap-5 max-md:max-w-full max-md:flex-wrap max-md:justify-center">-->
<!--          <div class="text-[color(display-p3_0.1412_0.1451_0.1647)] text-xl font-medium leading-6 whitespace-nowrap border-[color(display-p3_0.8174_0.9069_0.8881)] shadow-lg grow justify-center items-center pt-9 pb-6 px-16 rounded-2xl border-[3px] border-solid max-md:px-5">-->
<!--            NFT Creations-->
<!--          </div>-->
<!--          <div class="text-[color(display-p3_0.1412_0.1451_0.1647)] text-center text-xl font-medium leading-6 whitespace-nowrap border-[color(display-p3_0.8174_0.9069_0.8881)] shadow-lg grow justify-center items-center px-16 py-8 rounded-2xl border-[3px] border-solid max-md:px-5">-->
<!--            Brand Development-->
<!--          </div>-->
<!--          <div class="text-[color(display-p3_0.1412_0.1451_0.1647)] text-xl font-medium leading-6 whitespace-nowrap border-[color(display-p3_0.8174_0.9069_0.8881)] shadow-lg grow justify-center items-center px-16 py-8 rounded-2xl border-[3px] border-solid max-md:px-5">-->
<!--            UI / UX-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="flex w-full items-stretch justify-between gap-5 max-md:max-w-full max-md:flex-wrap max-md:justify-center">-->
<!--            <div class="text-[color(display-p3_0.1412_0.1451_0.1647)] text-xl font-medium leading-6 whitespace-nowrap border-[color(display-p3_0.8174_0.9069_0.8881)] shadow-lg grow justify-center items-center pt-9 pb-6 px-16 rounded-2xl border-[3px] border-solid max-md:px-5">-->
<!--              NFT Creations-->
<!--            </div>-->
<!--            <div class="text-[color(display-p3_0.1412_0.1451_0.1647)] text-center text-xl font-medium leading-6 whitespace-nowrap border-[color(display-p3_0.8174_0.9069_0.8881)] shadow-lg grow justify-center items-center px-16 py-8 rounded-2xl border-[3px] border-solid max-md:px-5">-->
<!--              Brand Development-->
<!--            </div>-->
<!--            <div class="text-[color(display-p3_0.1412_0.1451_0.1647)] text-xl font-medium leading-6 whitespace-nowrap border-[color(display-p3_0.8174_0.9069_0.8881)] shadow-lg grow justify-center items-center px-16 py-8 rounded-2xl border-[3px] border-solid max-md:px-5">-->
<!--              UI / UX-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->


<div class="container">
  <div class="items-row">
      <div class="item">
        NFT Creations
      </div>
      <div class="item">
        Brand Development
      </div>
      <div class="item">
        UI / UX
      </div>

    <div class="item">
      Social media Management
    </div>
    <div class="item">
      Web & Software Development
    </div>
    <div class="item">
      Blockchain Development
    </div>
  </div>
</div>
