.container{
  max-width: 1220px;
}

.card1{
  width: 420.992px;
  height: 410.173px;
  transform: rotate(-0.141deg);
  border-radius: 18px;
  background: radial-gradient(96.28% 93.78% at 37.84% 25.56%, #006C72 0%, #0F0D0D 100%, #003B5C 100%);

}
.card2{
  width: 530px;
  height: 189px;
}
.card3{
  width: 232px;
  height: 410px;
  border-radius: 18px;
  background: radial-gradient(111.19% 120.04% at 17.24% 4.02%, #60D555 0%, #009990 100%);
}

.card4{
  width: 767px;
  height: 189px;
  border-radius: 18px;
  background: linear-gradient(118deg, #00795D 32.56%, #009CBD 95.29%);
}

.card5{
  width: 433px;
  height: 189px;
  border-radius: 18px;
  background: linear-gradient(180deg, #042339 0%, rgba(0, 79, 90, 0.89) 100%);
}

.card6{
  width: 530px;
  height: 189px;
  border-radius: 18px;
  background: radial-gradient(172.38% 116.23% at 33.59% 7.41%, #0058EA 0%, #003C73 100%);
}

.card7{
  width: 250px;
  height: 202px;
  border-radius: 18px;
  background: radial-gradient(124.88% 98.08% at 16.8% 30.69%, #00C2FC 0%, #6E32FF 100%);
}

.card8{
  width: 260px;
  height: 202px;
  border-radius: 18px;
  background: radial-gradient(154.87% 130.07% at 23.65% 25.99%, #FFC319 0%, #FF1017 61.46%);
}
