<!--<div class="container">-->
<!--  <div class="box">-->
<!--    <div class="group">-->
<!--      <div class="div">-->
<!--        <div class="overlap">-->
<!--          <div class="element-customer">-->
<!--            24x7 <br />-->
<!--            customer-->
<!--            <br />-->
<!--            support-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="overlap-group">-->
<!--          <div class="rectangle" ></div>-->
<!--          <div class="top-notch-quality">-->
<!--            Top notch-->
<!--            <br />-->
<!--            quality-->
<!--          </div>-->
<!--          <div class="guaranteed-quality">Guaranteed&nbsp;&nbsp;quality outcomes. everytime.</div>-->
<!--        </div>-->
<!--        <div class="overlap-group-2">-->
<!--          <div class="cost-effective">-->
<!--            Cost <br />-->
<!--            Effective-->
<!--          </div>-->
<!--          <div class="overlap-2">-->
<!--            <p class="we-charge-fractions">-->
<!--              We charge <br />-->
<!--              fractions of the services <br />-->
<!--              you typically cost fortunes.-->
<!--            </p>-->
<!--            <img class="mask-group" alt="Mask group" src="mask-group.png" />-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="overlap-3">-->
<!--          <div class="text-wrapper">Project Supervision</div>-->
<!--          <p class="element-to-meticulous">-->
<!--            1 to 1 meticulous care <br />-->
<!--            for every project-->
<!--          </p>-->
<!--        </div>-->
<!--        <div class="div-wrapper">-->
<!--          <p class="p">Detailed project updates on time</p>-->
<!--        </div>-->
<!--        <div class="overlap-4">-->
<!--          <div class="text-wrapper-2">Team work</div>-->
<!--        </div>-->
<!--        <div class="overlap-5">-->
<!--          <div class="world-class-talent">-->
<!--            World class-->
<!--            <br />-->
<!--            talent-->
<!--          </div>-->
<!--          <p class="text-wrapper-3">Zero hassle finding world class top talent</p>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->

<!--</div>-->


<div class="container">
  <div class="row">
    <div class="card1" style="margin-left: 12px">

    </div>
    <div class="card2" style="margin: 0 12px 0 12px">

      <div class="row">
        <div class="card6"></div>
      </div>

      <div class="row" style="margin-top: 10px">
        <div class="card7"></div>
        <div class="card8" style="margin-left: 10px"></div>
      </div>

    </div>
    <div class="card3">

    </div>
  </div>

  <div class="row" style="margin-top: 10px">
    <div class="card4" style="margin-left: 12px">

    </div>
    <div class="card5" style="margin-left: 6px">

    </div>
  </div>
</div>
