<div class="container">
  <div class="row">
    <div class="card1" style="margin-left: 12px">

    </div>
    <div class="card2" style="margin: 0 12px 0 12px">

      <div class="row">
        <div class="card6"></div>
      </div>

      <div class="row" style="margin-top: 10px">
        <div class="card7"></div>
        <div class="card8" style="margin-left: 10px"></div>
      </div>

    </div>
    <div class="card3">

    </div>
  </div>

  <div class="row" style="margin-top: 10px">
    <div class="card4" style="margin-left: 12px">

    </div>
    <div class="card5" style="margin-left: 6px">

    </div>
  </div>
</div>

<!--<div class="container">-->
<!--  <div class="gird-items">-->
<!--    <div class="items">-->
<!--      <div class="card1">-->

<!--      </div>-->
<!--    </div>-->
<!--    <div class="items">-->
<!--      <div class="card2">-->

<!--      </div>-->
<!--    </div>-->
<!--    <div class="items">-->
<!--      <div class="card3">-->

<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
