

.card1{
  width: 184.335px;
  height: 406.33px;
  transform: rotate(-0.141deg);
  border-radius: 18px;
  background: var(--supper-power-card1-bg-color);

}
.wid-card{
  width: 441.049px;
  height: 187px;
  border-radius: 18px;
  background: var(--supper-power-wid-card-bg-color);
}
.card3{
  width: 229.505px;
  height: 406.33px;
  border-radius: 18px;
  background: var(--supper-power-card3-bg-color);
}

.card4{
  width: 437.029px;
  height: 189px;
  border-radius: 18px;
  background: var(--supper-power-card4-bg-color);
  text-align: center;;
  padding-top: 55px;
}

.card5{
  width: 437.029px;
  height: 189px;
  border-radius: 18px;
  background: var(--supper-power-card5-bg-color);
  text-align: center;
  padding-top: 78px;
}

.card6{
  width: 441.049px;
  height: 189px;
  border-radius: 18px;
  background: radial-gradient(172.38% 116.23% at 33.59% 7.41%, #0058EA 0%, #003C73 100%);
}

.card7{
  width: 216.533px;
  height: 202px;
  border-radius: 18px;
  background: var(--supper-power-card7-bg-color);
}

.card8{
  width: 209.534px;
  height: 202px;
  border-radius: 18px;
  background: var(--supper-power-card8-bg-color);
}


.gird-items1{
  display: grid;
  grid-template-columns:  184.335px auto 229.505px;
  grid-template-rows: 406.33px;
  gap: 20px;
}

.gird-items2{
  display: grid;
  grid-template-columns:  437.029px 437.029px;
  gap: 23px;
  margin-top: 21px;
}




.child-grid2{
  display: grid;
  grid-template-columns:  216.533px 209.534px;
  grid-template-rows: 406.33px;
  gap: 14px;
  margin-top: 14px;
}

.text1{
  color: var(--supper-power-cards-text-color);
  font-family: Poppins, serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: 103.6%; /* 37.296px */
  letter-spacing: -1.8px;
  padding: 28px 0 0 25px;
}
.text1-world{
  color: var(--supper-power-cards-text-color);
  font-family: Poppins, serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: 103.6%; /* 37.296px */
  letter-spacing: -1.8px;
  padding: 28px 0 0 19px;
}
.des1{
  color: var(--supper-power-cards-text-color);
  font-family: Poppins, serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 103.6%;
  padding: 10px 0 0 25px;
}

.text-row-1{
  color: var(--supper-power-cards-text-color);
  font-family: Poppins, serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: 103.6%; /* 37.296px */
  letter-spacing: -1.8px;

}


.piggy-image{
  position: relative;
  top: -38px;
  left: 46px;
}

.title{
  color: var(--supper-power-title-color);
  font-family: Poppins, serif;
  font-size: 45px;
  font-style: normal;
  font-weight: 600;
  line-height: 96.6%;
  margin-bottom: 33px;
}
