

.card1{
  width: 184.335px;
  height: 406.33px;
  transform: rotate(-0.141deg);
  border-radius: 18px;
  background: var(--supper-power-card1-bg-color);

}
.wid-card{
  width: 450px;
  height: 187px;
  border-radius: 18px;
  background: var(--supper-power-wid-card-bg-color);
  transform: translateY(0);
  transition: .3s ease-in-out;
}
.card3{
  width: 235px;
  height: 406.33px;
  border-radius: 18px;
  background: var(--supper-power-card3-bg-color);
}

.card4{
  width: 438px;
  height: 189px;
  border-radius: 18px;
  background: var(--supper-power-card4-bg-color);
  text-align: center;;
  padding-top: 55px;
}

.card5{
  width: 447px;
  height: 189px;
  border-radius: 18px;
  background: var(--supper-power-card5-bg-color);
  text-align: center;
  padding-top: 78px;
}

.card6{
  width: 441.049px;
  height: 189px;
  border-radius: 18px;
  background: radial-gradient(172.38% 116.23% at 33.59% 7.41%, #0058EA 0%, #003C73 100%);
}

.card7{
  width: 217px;
  height: 202px;
  border-radius: 18px;
  background: var(--supper-power-card7-bg-color);
  transform: translateY(0);
  transition: .3s ease-in-out;
}

.card8{
  width: 218px;
  height: 202px;
  border-radius: 18px;
  background: var(--supper-power-card8-bg-color);
  transform: translateY(0);
  transition: .3s ease-in-out;
}


.gird-items1{
  display: grid;
  grid-template-columns:  184.335px auto 235px;
  grid-template-rows: 406.33px;
  gap: 15px;
}

.gird-items2{
  display: grid;
  grid-template-columns:  438px 447px;
  gap: 15px;
  margin-top: 15px;
}




.child-grid2{
  display: grid;
  grid-template-columns:  217px 218px;
  grid-template-rows: 406.33px;
  gap: 15px;
  margin-top: 15px;
}

.text1{
  color: var(--supper-power-cards-text-color);
  font-family: Poppins, serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: 103.6%; /* 37.296px */
  letter-spacing: -1.8px;
  padding: 28px 0 0 25px;
}
.text1-world{
  color: var(--supper-power-cards-text-color);
  font-family: Poppins, serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: 103.6%; /* 37.296px */
  letter-spacing: -1.8px;
  padding: 28px 0 0 14px;
}
.des1{
  color: var(--supper-power-cards-text-color);
  font-family: Poppins, serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 103.6%;
  padding: 10px 0 0 25px;
}
.des1-world{
  color: var(--supper-power-cards-text-color);
  font-family: Poppins, serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 103.6%;
  padding: 10px 0 0 14px;
}
.text-row-1{
  color: var(--supper-power-cards-text-color);
  font-family: Poppins, serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: 103.6%; /* 37.296px */
  letter-spacing: -1.8px;

}


.piggy-image{
  position: relative;
  top: -38px;
  left: 52px;
}

.title{
  color: var(--supper-power-title-color);
  font-family: Poppins, serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 116%;
  letter-spacing: -1.6px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.items {
  transform: translateY(0);
  transition: .3s ease-in-out;
}
.items:hover{
  transform: translateY(-10px);
}
.wid-card:hover {
  transform: translateY(-10px);
}
.card7:hover {
  transform: translateY(-10px);
}
.card8:hover{
  transform: translateY(-10px);
}
.superpower-bar-mobile{
  display: none;
}

@media screen and (max-width: 900px) {
  .superpower-bar-web{
    display: none;
  }
  .superpower-bar-mobile{
    display: block;
  }

  .title{
    color: var(--supper-power-title-color);
    font-family: Poppins, serif;
    font-size: 23px;
    font-style: normal;
    font-weight: 600;
    line-height: 96.6%;
  }

  .gird-items1{
    display: grid;
    grid-template-columns:  206.026px 157.622px;
    grid-template-rows: none;
    gap: 10px;
  }

  .gird-items2{
    display: grid;
    grid-template-columns:  192px 172px;
    gap: 10px;
    margin-top: 10px;
  }

  .child-grid2{
    display: grid;
    grid-template-columns:  174px 192px;
    grid-template-rows: none;
    gap: 10px;
    margin-top: 10px;
  }

  .card1{
    width: 206.026px;
    height: 196.209px;
    transform: rotate(-0.141deg);
    border-radius: 10.478px;
    background: var(--supper-power-card1-bg-color);

  }
  .wid-card{
    width: 375px;
    height: 124.935px;
    border-radius: 10.478px;
    background: var(--supper-power-wid-card-bg-color);
  }
  .card3{
    width: 157.622px;
    height: 196.846px;
    border-radius: 10.478px;
    background: var(--supper-power-card3-bg-color);
  }

  .piggy-image{
    position: relative;
    top: -7px;
    left: 63px;
  }

  .card4{
    width: 192px;
    height: 120px;
    border-radius: 10.478px;
    background: var(--supper-power-card4-bg-color);
    text-align: center;;
    padding-top: 25px;
  }

  .card5{
    width: 172px;
    height: 120px;
    border-radius: 10.478px;
    background: var(--supper-power-card5-bg-color);
    text-align: center;
    padding-top: 32px;
  }

  .card6{
    width: 441.049px;
    height: 189px;
    border-radius: 10.478px;
    background: radial-gradient(172.38% 116.23% at 33.59% 7.41%, #0058EA 0%, #003C73 100%);
  }

  .card7{
    width: 174px;
    height: 150px;
    border-radius: 10.478px;
    background: var(--supper-power-card7-bg-color);
  }

  .card8{
    width: 192px;
    height: 150px;
    border-radius: 10.478px;
    background: var(--supper-power-card8-bg-color);
  }

  .text1{
    color: var(--supper-power-cards-text-color);
    font-family: Poppins, serif;
    font-size: 23px;
    font-style: normal;
    font-weight: 600;
    line-height: 103.6%; /* 15.54px */
    letter-spacing: -0.75px;
  }
  .text1-world{
    color: var(--supper-power-cards-text-color);
    font-family: Poppins, serif;
    font-size: 23px;
    font-style: normal;
    font-weight: 600;
    line-height: 103.6%; /* 15.54px */
    letter-spacing: -0.75px;
  }
  .des1{
    color: var(--supper-power-cards-text-color);
    font-family: Poppins, serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 103.6%;
  }

  .text-row-1{
    color: var(--supper-power-cards-text-color);
    font-family: Poppins, serif;
    text-align: center;
    font-size: 23px;
    font-style: normal;
    font-weight: 600;
    line-height: 103.6%;
    letter-spacing: -0.75px;
  }
}
