@import "cal-sans";
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,400;9..40,700&family=Poppins:wght@500&display=swap');

.label {
  width: 468px;
  height: 124px;
}

.label .get-work-done-with {
  position: fixed;
  top: 0;
  left: 0;
  background: var(--banner-text-color);
  -webkit-background-clip: text !important;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
  font-family: "Cal Sans-SemiBold", Helvetica, serif;
  font-weight: 600;
  color: transparent;
  font-size: 64px;
  text-align: center;
  letter-spacing: 0;
  line-height: 61.8px;
}


.GetWorkDoneWithZeroHassle{
  text-align: center;
  background: linear-gradient(180deg, rgb(35, 100, 132) 0%, rgb(125.19, 196.56, 7.37) 100%);
  color: transparent;
  -webkit-background-clip: text !important;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
  font-size: 64px;
  font-family: Cal Sans, serif;
  font-weight: 600;
  line-height: 61.82px;
  word-wrap: break-word;
}


.centered {
  //position: absolute;
  //top: 30%;
  //left: 50%;
  //transform: translate(-50%, -50%);

  opacity: 1;
  transform: translate3d(4px, -248px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(358deg) rotateZ(0deg) skew(0deg, 0deg);
  transform-style: preserve-3d;
  text-align: center;

}
.coullax-svg{
  width: 900px;
}
.hero-image path{
  fill-opacity: var(--opacity);
  width: 100%;
}

.sign-up-btn{
  width: 276px;
  height: 52px;
  border-radius: 26px;
  background: var(--banner-dashboard-btn);
  margin-top: 38px;
  color: #fff;
  border: none;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 103.6%;
}



.banner-mobile{
  display: none;
}


@media screen and (max-width: 900px) {
  .banner-web{
    display: none;
  }

  .banner-mobile{
    display: block;
  }


  .label {
    width: 300px;
    height: 76.047px;
  }

  .label .get-work-done-with {
    position: fixed;
    top: 0;
    left: 0;
    background: var(--banner-text-color);
    -webkit-background-clip: text !important;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
    font-family: "Cal Sans-SemiBold", Helvetica, serif;
    text-align: center;
    font-size: 34.884px;
    font-style: normal;
    font-weight: 600;
    line-height: 96.6%;
  }

  .GetWorkDoneWithZeroHassle{
    text-align: center;
    background: linear-gradient(180deg, rgb(35, 100, 132) 0%, rgb(125.19, 196.56, 7.37) 100%);
    color: transparent;
    -webkit-background-clip: text !important;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
    font-family: Cal Sans, serif;
    font-size: 34.884px;
    font-style: normal;
    font-weight: 600;
    line-height: 96.6%;
    word-wrap: break-word;
  }

  .centered {
    opacity: 1;
    transform: translate3d(4px, -40px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(358deg) rotateZ(0deg) skew(0deg, 0deg);
    transform-style: preserve-3d;
    text-align: center;

  }

  .sign-up-btn{
    width: 179px;
    height: 38px;
    border-radius: 19.186px;
    background: var(--banner-dashboard-btn);
    margin-top: 20px;
    color: #fff;
    border: none;
    text-align: center;
    font-family: Poppins, serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 103.6%;
  }
}
