.nfts {
    background: var(--nft-page-bg-color);
}

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,400;9..40,700&family=Poppins:wght@500;600&display=swap');
@import 'cal-sans';

.nft-container {
    margin: auto;
    max-width: 900px;
}
.nft-hero{
  border-radius: 18px;
  background: #0E0E0C;
  width: 900px;
  height: 380px;
}
.nft-hero-title{
  color: color(display-p3 0.9765 0.9608 0.9255);
  font-family: Poppins, serif;
  font-size: 45px;
  font-style: normal;
  font-weight: 600;
  line-height: 96.6%;
  margin: 111px 0 4px 71px;
}
.nft-highlight{
  color: #C5EF00;
  font-family: Poppins, serif;
  font-size: 45px;
  font-style: normal;
  font-weight: 600;
  line-height: 96.6%;
}

.nft-move-dashboard-btn{
  width: 236px;
  height: 57px;
  color: #0A0B0D;
  text-align: center;
  font-family: Poppins, serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 103.6%;
  background: #C5EF00;
  border-radius: 26.5px;
  margin-top: 15px;
}
// @mixin dropShadow($horiz, $vert, $blur, $spread, $horiz2, $vert2, $blur2, $spread2, $horiz3, $vert3, $blur3, $spread3, $horiz4, $vert4, $blur4, $spread4, $horiz5, $vert5, $blur5, $spread5 ) {
//       -moz-box-shadow: $horiz $vert $blur $spread, $horiz2 $vert2 $blur2 $spread2, $horiz3 $vert3 $blur3 $spread3, $horiz4 $vert4 $blur4 $spread4, $horiz5 $vert5 $blur5 $spread5;
//       -webkit-box-shadow: $horiz $vert $blur $spread, $horiz2 $vert2 $blur2 $spread2, $horiz3 $vert3 $blur3 $spread3, $horiz4 $vert4 $blur4 $spread4, $horiz5 $vert5 $blur5 $spread5;
//       box-shadow: $horiz $vert $blur $spread, $horiz2 $vert2 $blur2 $spread2, $horiz3 $vert3 $blur3 $spread3, $horiz4 $vert4 $blur4 $spread4, $horiz5 $vert5 $blur5 $spread5;
// }

// .nft-card:hover {
//     color: #000;
//     border: 3px solid;
//     @include dropShadow(1px, 1px, 0px, 0px, 2px, 2px, 0px, 0px, 3px, 3px, 0px, 0px, 4px, 4px, 0px, 0px, 5px, 5px, 0px, 0px);
//     position: relative;

//     &:active {
//         -moz-box-shadow: 0px 0px 0px 0px;
//         -webkit-box-shadow: 0px 0px 0px 0px;
//         box-shadow: 0px 0px 0px 0px;
//         top: 5px;
//         left: 5px;
//     }
// }
.d-color {
    background-color: black;
}

.d-color:hover {
    transform: translate(20px,20px);

}
// .nft-card {
//     background-color: aliceblue;

// }


.nft-question-container{
  margin-top: 34px;
}
.nft-question-container-title{
  color: var(--socialmedia-page-table-name-txt-color);
  font-family: Cal Sans, serif;
  font-size: 45px;
  font-style: normal;
  font-weight: 600;
  line-height: 96.6%;
  margin-bottom: 31px;
}


.mat-expansion-panel{
  margin-top: 20px !important;
  border-radius: 10px !important;
  box-shadow: none !important;
  background: #141414 !important;
}
.mat-expansion-panel:not(.mat-expanded)
.mat-expansion-panel-header:hover:not([aria-disabled="true"]) {
  background-color: #141414 !important;
}

.mat-expansion-panel-header{
  height: 79px !important;
  border-radius: 10px !important;
  box-shadow: none !important;
  padding: 0 46px !important;
}

.mat-expansion-panel-header-title{
  color: #C5EF00 !important;
  font-family: Poppins, serif !important;
  font-size: 21px !important;
  font-style: normal !important;
  font-weight: 600 !important;
  line-height: 144.1% !important;
}

::ng-deep .nft-expantion-panel .mat-expansion-indicator::after {
  border-style: solid;
  border-width: 0 2px 2px 0;
  content: "";
  display: inline-block;
  padding: 3px;
  transform: rotate(45deg);
  vertical-align: middle;
  color: #C5EF00 !important;
  width: 12px !important;
  height: 12px !important;
  border-color: #C5EF00;
}

::ng-deep .nft-expantion-panel .mat-expansion-panel-body{
  color: #FAF5EB;
  font-family: Poppins, serif;
  font-size: 21px;
  font-style: normal;
  font-weight: 300;
  line-height: 144.1%;
  padding: 0 46px 16px !important;
}
.background {
    width: 439.02px;
    height: 266.71px;
    outline-width: 4px;
    outline-color: var(--nft-cards-outline-color);
    outline-style: solid;
}

.background:hover {
    width: 426.12px;
    height: 251.71px;
    box-shadow:  var(--nft-cards-box-shadow-color) 15px 15px;
}
.marke {
    color: #B4B4B4;
}

.headcard {
    color: var(--nft-cards-head-text-color);
}

.descript {
    color: var(--nft-cards-description-text-color);
}



.price-container{
  display: grid;
  grid-template-columns: 264.453px 264.453px 264.453px;
  grid-template-rows: 396px;
  gap: 22px;
  margin-top: 55px;
  border-radius: 18px;
  background: var(--nft-price-container-bg);
  justify-content: center;
  align-items: center;
  box-shadow:  var(--nft-page-price-card-background-shadow) 12px 12px;
}

.price-card{
  width: 264.453px;
  height: 341.351px;
  border-radius: 17px;
  border: 2.813px solid rgba(255, 255, 255, 0.03);
  backdrop-filter: blur(19.13px) brightness(100%);
  background-color: #FEFEF2;
  padding: 36px 0 20px 27px;

  .pkg-type{
    color: black;
    font-family: Cal Sans, serif;
    font-size: 22.507px;
    font-style: normal;
    font-weight: 600;
    line-height: 96.6%;
  }

  .price{
    color: black;
    font-family: Cal Sans, serif;
    font-size: 42.2px;
    font-style: normal;
    font-weight: 600;
    line-height: 96.6%;
    margin-top: 4px;
  }

  .pkg-item{
    color: black;
    font-family: Poppins, serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 96.6%;

    ul{
      list-style: inside !important;
      li{
        margin-top: 25px;

      }
    }
  }
  .order-now-btn{
    width: 214px;
    height: 41px;
    border-radius: 16.88px;
    border: 3px solid black;
    color: black;
    text-align: center;
    font-family: Poppins, serif;
    font-size: 14.067px;
    font-style: normal;
    font-weight: 700;
    line-height: 103.6%;
    margin-top: 51px;
  }
}

.price-card-mid{
  border-radius: 17px;
  border: 2.813px solid rgba(255, 255, 255, 0.03);
  backdrop-filter: blur(9.565333366394043px);
  background-color: #020202;
  padding: 18px 0 20px 27px;

  .pkg-tag{
    width: 108px;
    height: 23px;
    border-radius: 23px;
    background: rgba(254, 254, 243, 1);
    text-align: center;
    color: #060708;
    font-family: Poppins, serif;
    font-size: 11px;
    font-style: normal;
    font-weight: 600;
    line-height: 96.6%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .pkg-type-mid{
    color: white;
    font-family: Cal Sans, serif;
    font-size: 22.507px;
    font-style: normal;
    font-weight: 600;
    line-height: 96.6%;
  }

  .price-mid{
    color: #C5EF00;
    font-family: Cal Sans, serif;
    font-size: 42.2px;
    font-style: normal;
    font-weight: 600;
    line-height: 96.6%;
    margin-top: 4px;
  }

  .pkg-item-mid{
    color: white;
    font-family: Poppins, serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 96.6%;

    ul{
      list-style: inside !important;

      li{
        margin-top: 25px;
      }
    }
  }
  .order-now-btn-mid{
    width: 214px;
    height: 41px;
    border-radius: 16.88px;
    border: none;
    color: #000;
    background: rgba(205, 238, 45, 1);
    text-align: center;
    font-family: Poppins, serif;
    font-size: 14.067px;
    font-style: normal;
    font-weight: 700;
    line-height: 103.6%;
    margin-top: 51px;
  }
}





.nft-pricing-table-container {
  width: 900px;
  height: 444px;
  border-radius: 14.339px;
  background: var(--nft-page-pricing-table-container);
  display: grid;
  justify-content: center;
  align-items: center;
  margin-top: 34px;
  border: var(--nft-page-pricing-table-container-border);
}
.nft-price-table {
  width: 810px;;
  border: none;
  border-collapse:separate;
  border-spacing:0 10px;
}
.nft-price-table tr:not(:last-child) {
  border:none;
}
.nft-price-table tr td {
  border-left: none;
  padding: 8px 24px;
}
.nft-price-table tr td:first-child {
  border-left: none;
}

.nft-price-table tr {
  background: rgba(205, 238, 45, var(--nft-page-pricing-table-container-tr-opacity));
  width: 810px;
  height: 52px;
  border-radius: 5px;
  //opacity: var(--nft-page-pricing-table-container-tr-opacity);
}
//.price-table tr:hover {
//  background-color: #F1F3FF;
//}

tbody > tr > td:nth-child(3) {
  background: rgba(2, 2, 2, 0.24);
  width: 177px;
  opacity: 0.5;
  //mix-blend-mode: multiply;
}
tbody > tr > td:nth-child(4) {
  width: 109px;
}

tbody > tr > td:nth-child(2) {
  width: 109px;
}

.nft-price-table tr.nft-price-table-head {
  background: var(--nft-page-pricing-table-container-tr-head);
  color: #000;

}

.table-name{
  color: var(--nft-page-table-name-txt-color);
  text-align: start;
  font-family: Cal Sans, serif;
  font-size: 22.507px;
  font-style: normal;
  font-weight: 600;
  line-height: 96.6%;
}

.table-col{
  color: var(--nft-page-table-name-txt-color);
  text-align: center;
  font-family: Cal Sans, serif;
  font-size: 22.507px;
  font-style: normal;
  font-weight: 600;
  line-height: 96.6%;
}

.table-items{
  color: var(--nft-page-table-name-txt-color);
  font-family: Poppins, serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 96.6%;
  display: list-item;
  list-style-position: inside;
  margin-top: 10px;
}

.price-plan-icon path{
  fill: var(--nft-page-table-icon-color);
}

.nft-question-container{
  margin-top: 34px;
}
.nft-question-container-title{
  color: var(--socialmedia-page-table-name-txt-color);
  font-family: Cal Sans, serif;
  font-size: 45px;
  font-style: normal;
  font-weight: 600;
  line-height: 96.6%;
  margin-bottom: 31px;
}




.nft-dev-call-container{
  height: 77px;
  border-radius: 91px;
  background: #C5EF00;
  justify-content: space-between;
  align-items: center;
  padding: 0 46px 0 46px;
  margin-top: 22px;
  margin-bottom: 40px;

  .nft-label{
    color: #000;
    font-family: Cal Sans, serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 96.6%;
  }
  .nft-book-cl-bnt{
    width: 225px;
    height: 52px;
    border-radius: 64px;
    background: #000;
    color: #C5EF00;
    text-align: center;
    font-family: Poppins, serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 122.1%;
  }
}

.cards-background {
    background-color: var(--nft-cards-head-text-color);
}

.do-it {
    color: var(--nft-do-it-text-color);
    font-family: Cal Sans;
    font-size: 45px;
    font-style: normal;
    font-weight: 600;
    line-height: 96.6%;
}

.text-changing {
    color: var(--nft-small-cards-main-text-color);
}

.svg-changing path{
    fill: var(--nft-small-cards-svg-color);
}





@media screen and (max-width: 900px) {
  .nft-mobile {
    background: var(--nft-page-bg-color);
  }
  .nft-container-mobile {
    margin: auto;
    max-width: 375px;
  }

  .nft-banner-mobi{
    width: 375px;
    height: 396px;
    border-radius: 18px;
    background: #0E0E0C;
  }
  .nft-hero-title-mobile{
    color: color(display-p3 1 1 1);
    font-family: Poppins, serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 96.6%;
    text-align: center;
    padding-top: 150px;
  }
  .nft-highlight-mobile{
    color: #C5EF00;
    font-family: Poppins, serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 96.6%;
  }

  .nft-move-dashboard-btn-mobile{
    width: 232px;
    height: 43px;
    color: #0A0B0D;
    border: 2px solid #000;
    text-align: center;
    font-family: Poppins, serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 103.6%;
    background: #C5EF00;
    border-radius: 26.5px;
    margin-top: 15px;
  }


  .description-bar-mobile{
    margin-top: 25px;
  }
  .grid-items{
    display: grid;
    grid-template-columns: 375px;
    gap: 20px;
  }


  .description-card-mobile{
    width: 375px;
    height: 93px;
    border-radius: 12px;
    background: var(--nft-page-mobile-des-card-bg-color);
    align-items: center;
    padding-left: 18px;


    .title-mobile{
      color: var(--nft-cards-head-text-color);
      font-family: Cal Sans, serif;
      font-size: 20px;
      font-style: normal;
      font-weight: 600;
      line-height: 102.1%;
    }
    .development-txt{
      color: color(display-p3 0.7059 0.7059 0.7059);
      font-family: Cal Sans, serif;
      font-size: 20px;
      font-style: normal;
      font-weight: 600;
      line-height: 102.1%;
    }

  }

  .description-card-mobile:hover{
    width: 365px;
    height: 83px;
    box-shadow:  var(--nft-cards-box-shadow-color) 10px 10px;
    outline-width: 4px;
    outline-color: var(--nft-cards-outline-color);
    outline-style: solid;
  }



  .price-grid-items{
    display: grid;
    grid-template-columns: 375px;
    grid-template-rows:341px;
    gap: 21px;
    margin-top: 27px;
    border-radius: 18px;
    justify-content: center;
    align-items: center;

  }

  .price-card-item{
    border-radius: 16.88px;
    border: 3px solid #000;
    background:var(--nft-page-mobile-price-card-background);
    height: 341px;
    padding: 35px 30px 20px 30px;

    .pkg-type{
      color: var(--nft-page-mobile-price-card-text-color);
      font-family: Cal Sans, serif;
      font-size: 23px;
      font-style: normal;
      font-weight: 600;
      line-height: 96.6%;
    }
    .price{
      color: var(--nft-page-mobile-price-card-price-text-color);
      font-family: Cal Sans, serif;
      font-size: 30px;
      font-style: normal;
      font-weight: 600;
      line-height: 96.6%;
      margin-top: 4px;
    }

    .pkg-item{
      color: var(--nft-page-mobile-price-card-text-color);
      font-family: Poppins, serif;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 96.6%;

      ul{
        list-style: inside !important;
        li{
          margin-top: 30px;

        }
      }
    }
    .order-now-btn{
      width: 303px;
      height: 50px;
      border-radius: 25px;
      text-align: center;
      font-family: Poppins, serif;
      //background-color: #1e1e1e;
      color: var(--nft-page-mobile-price-card-price-text-color);
      font-size: 16px;
      font-style: normal;
      font-weight: 700;
      line-height: 103.6%;
      margin-top: 36px;
      border: 3px solid var(--nft-page-mobile-price-card-price-text-color);
    }
  }


  .price-card-mid-mobi{
    height: 341px;
    border-radius: 25px;
    background-color: var(--nft-page-mobile-price-card-mid-bg-color);
    padding: 18px 30px 20px 30px;

    .pkg-tag-mid{
      width: 123px;
      height: 32px;
      border-radius: 16px;
      background: var(--nft-page-mobile-price-card-mid-price-text-color);
      text-align: center;
      color: var(--nft-page-mobile-price-card-price-text-color);
      font-family: Poppins, serif;
      font-size: 14px;
      font-style: normal;
      font-weight: 600;
      line-height: 96.6%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .pkg-type-mid-mobi{
      color: var(--nft-page-mobile-price-card-mid-text-color);
      font-family: Cal Sans, serif;
      font-size: 22.507px;
      font-style: normal;
      font-weight: 600;
      line-height: 96.6%;
    }

    .price-mid-mobi{
      color: var(--nft-page-mobile-price-card-mid-price-text-color);
      font-family: Cal Sans, serif;
      font-size: 30px;
      font-style: normal;
      font-weight: 600;
      line-height: 96.6%;
      margin-top: 4px;
    }

    .pkg-item-mid-mobi{
      color: var(--nft-page-mobile-price-card-mid-text-color);
      font-family: Poppins, serif;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 96.6%;

      ul{
        list-style: inside !important;

        li{
          margin-top: 25px;
        }
      }
    }
    .order-now-btn-mid-mobi{
      width: 303px;
      height: 50px;
      border-radius: 25px;
      color: #000;
      border: 3px solid #0F0F0F;
      background: #C5EF00;
      text-align: center;
      font-family: Poppins, serif;
      font-size: 16px;
      font-style: normal;
      font-weight: 700;
      line-height: 103.6%;
      margin-top: 36px;
    }
  }

  .mySwiper{
    height: 476px;
    border-radius: 14.339px;
    background: var(--nft-mobile-page-price-plan-card-bg);
    margin-top: 27px;
    border: var(--nft-mobile-page-price-plan-card-border);
  }
  .comp-plans-card{
    justify-content: start;
    //display: grid;
    //grid-template-columns: 300px;
    padding: 28px 0 0 26px;
  }
  .comp-plans-card-title{
    color: var(--nft-page-mobile-price-card-price-text-color);
    font-family: Cal Sans, serif;
    font-size: 22.507px;
    font-style: normal;
    font-weight: 600;
    line-height: 96.6%;
  }


  .comp-plans-card-type{
    color: var(--nft-page-mobile-price-card-text-color);
    text-align: start;
    font-family: Cal Sans, serif;
    font-size: 22.507px;
    font-style: normal;
    font-weight: 600;
    line-height: 96.6%;
    margin-top: 18px;
  }
  .comp-plans-card-items{
    color: var(--nft-page-mobile-price-card-text-color);
    font-family: Poppins, serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 96.6%;

    ul{
      //list-style: inside !important;

      li{
        margin-top: 29px;
      }
    }

  }


  ::ng-deep .nft-mobi-swiper .swiper-pagination-bullet {
    opacity: 0.2;
    background: rgba(226, 226, 226, 1) !important;
  }
  ::ng-deep .nft-mobi-swiper .swiper-pagination-bullet-active {
    background: rgba(205, 238, 45, 1) !important;
    opacity: 1;
  }

  .price-plan-icon path{
    fill: var(--nft-page-mobile-price-card-text-color);
  }

  .nft-question-container-title{
    color: var(--socialmedia-page-table-name-txt-color);
    font-family: Cal Sans, serif;
    font-size: 22.507px;
    font-style: normal;
    font-weight: 600;
    line-height: 96.6%;
  }



  .mat-expansion-panel{
    margin-top: 20px !important;
    border-radius: 10px !important;
    box-shadow: none !important;
    background: #141414 !important;
  }
  .mat-expansion-panel:not(.mat-expanded)
  .mat-expansion-panel-header:hover:not([aria-disabled="true"]) {
    background-color: #141414 !important;
  }

  .mat-expansion-panel-header{
    height: 79px !important;
    border-radius: 10px !important;
    box-shadow: none !important;
    padding: 25px 18px !important;
  }

  .mat-expansion-panel-header-title{
    color: #C5EF00 !important;
    font-family: Poppins, serif !important;
    font-size: 18px !important;
    font-style: normal !important;
    font-weight: 600 !important;
    line-height: 144.1% !important;
  }

  ::ng-deep .nft-expantion-panel-mobi .mat-expansion-indicator::after {
    border-style: solid;
    border-width: 0 2px 2px 0;
    content: "";
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
    vertical-align: middle;
    color: #C5EF00 !important;
    width: 12px !important;
    height: 12px !important;
    border-color: #C5EF00;
  }

  ::ng-deep .nft-expantion-panel-mobi .mat-expansion-panel-body{
    color: #FAF5EB;
    font-family: Poppins, serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 144.1%;
    padding: 0 25px 16px !important;
  }

  .dev-call-container-mobi{
    height: 77px;
    border-radius: 91px;
    background-color: #C5EF00;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px 0 37px;
    margin-top: 22px;
    margin-bottom: 40px;

    .label{
      color: #000;
      font-family: Cal Sans, serif;
      font-size: 16px;
      font-style: normal;
      font-weight: 600;
      line-height: 96.6%;
    }
    .book-cl-bnt{
      width: 139px;
      height: 38px;
      border-radius: 64px;
      background: black;
      color: #C5EF00;
      text-align: center;
      font-family: Poppins, serif;
      font-size: 16px;
      font-style: normal;
      font-weight: 600;
      line-height: 122.1%;
    }
  }
}
