[data-theme="light"] {
  --main-content-background-color: #F6F7F9;
  --main-content-text-color: #231f20;
  --opacity: 0.06;

  --web-scroller-track: #f5f5f5;
  --web-scroller-track-thumb: #fff;
  --web-scroller-track-thumb-hover:#fff;

  --nav-signin-btn-background-color:#232323;
  --nav-signin-btn-text-color:#fff;
  --nav-coullax-logo-color: black;

  --nav-mobile-container-bg-color: #ffffff;

  --banner-left-up-bg-color:linear-gradient(140deg, #FFF 11.4%, #DDE9FF 97.63%);
  --banner-left-up-text-color:#000;
  --banner-right-up-bg-color:linear-gradient(158deg, #00DE7B 7.98%, #008C40 93.04%);
  --banner-right-down-bg-color: linear-gradient(100deg, #181D33 16.03%, #15204E 89.72%);


  --banner-text-color:linear-gradient(180deg, rgb(35, 100, 132) 0%, rgb(125.19, 196.56, 7.37) 100%);
  --banner-dashboard-btn:radial-gradient(50% 50% at 50% 50%, #007A37 0%, #004E53 100%);

  --contact-bar-background-color:#E5F3F1;
  --contact-bar-text-color:#090A09;

  --contact-bar-bookcall-btn-bg-color: transparent;
  --contact-bar-bookcall-btn-text-color:#000;
  --contact-bar-bookcall-btn-border: 2px solid #4D4D4F;

  --process-bar-bg:#fff;
  --process-bar-card1-text-color:#144183;
  --process-bar-card2-text-color:#03844c;
  --process-bar-card3-text-color:#A70201;
  --process-bar-card1-bg-hover-color:linear-gradient(157deg, #0072EB 5.01%, #003063 84.48%);
  --process-bar-card2-bg-hover-color:radial-gradient(50% 50% at 50% 50%, #006E4D 0%, #008745 100%);
  --process-bar-card3-bg-hover-color:linear-gradient(90deg, rgba(254,169,3,1) 0%, rgba(166,0,0,1) 100%, rgba(241,46,27,1) 100%);

  --process-bar-mobile-card1-bg-color:#E9F1FF;
  --process-bar-mobile-card2-bg-color:#E5F0ED;
  --process-bar-mobile-card3-bg-color:#FFEEEF;

  --process-bar-mobile-card1-text-color:#0073EC;
  --process-bar-mobile-card2-text-color:#006F4E;
  --process-bar-mobile-card3-text-color:#B70000;

  --process-bar-mobile-card1-icon:#0073EC;
  --process-bar-mobile-card2-icon:#006F4E;
  --process-bar-mobile-card3-icon:#B70000;


  --process-bar-mobile-card1-border:none;
  --process-bar-mobile-card2-border:none;
  --process-bar-mobile-card3-border:none;

  --service-bar-card-background-color:#fff;
  --service-bar-card-shadow: none;
  --service-bar-card-text-color: #000;
  --service-bar-card-border: 2px solid #FBFFFE;

  --service-bar-card-background-hover-color:linear-gradient(145deg, #FFF 20.54%, #DCE8FE 93.2%);
  --service-bar-card-mobile-background-hover-color:radial-gradient(881.87% 77.06% at 82% 81.18%, #DDE9FE 0%, #FFF 100%);
  --service-bar-card-mobile-arow: #61A2FF;
  --service-bar-card-mobile-arow-hover: #61A2FF;

  --service-bar-mobile-card-background-color:#FFF;
  --service-bar-mobile-arrow-light:block;
  --service-bar-mobile-arrow-dark:none;

  --home-page-review-bar-background: #FFF;
  --home-page-review-bar-text-color: black;

  --redirect-card-text-color:#24252A;
  --redirect-card-border:3px solid #CBE8E2;
  --redirect-mobile-card-border:1px solid #CBE8E2;

  --call-bar-background-color:radial-gradient(1850.04% 110.71% at 41.69% 8.95%, #0963B7 0%, #093059 100%);
  --call-bar-btn-text-color: #0A59A5;
  --call-bar-btn-bg-color: #fff;
  --call-bar-btn-border-color: none;

  --call-bar-background-color-new:#fff;
  --call-bar-des-color-new:#24252A;



  --supper-power-card1-bg-color:radial-gradient(110.17% 105.1% at 24.59% 11.97%, #FFBF2E 0%, #E2A732 100%);
  --supper-power-wid-card-bg-color: radial-gradient(109.34% 84.95% at 33.59% 7.41%, #70ABFF 0%, #4B8FF4 100%);
  --supper-power-card3-bg-color:radial-gradient(111.19% 120.04% at 17.24% 4.02%, #0DEA84 0%, #10AD61 100%);
  --supper-power-card4-bg-color:linear-gradient(118deg, #1CD9BE 32.56%, #009BB9 95.29%);
  --supper-power-card5-bg-color:linear-gradient(120deg, #A98DFF 31.63%, #7037D4 84.11%);
  --supper-power-card6-bg-color:radial-gradient(172.38% 116.23% at 33.59% 7.41%, #0058EA 0%, #003C73 100%);
  --supper-power-card7-bg-color:radial-gradient(167.43% 132.97% at 16.71% 12.85%, #00B9E2 0%, #3EBFB8 100%);
  --supper-power-card8-bg-color:radial-gradient(154.87% 130.07% at 23.65% 25.99%, #FFC93F 0%, #FF3B39 61.46%);
  --supper-power-cards-text-color:#fff;
  --supper-power-title-color:#242424;

  --footer-link-text-color:#202020;



  --blockchaindev-page-bg-color:#E6ECFF;
  --blockchaindev-page-hero-text-color: #1C212A;
  --blockchaindev-page-hero-highlight-text-color: linear-gradient(90deg, color(display-p3 0.82 0.4374 1) 22.07%, color(display-p3 0.0802 0.0281 0.6802) 98.15%);
  --dark-mode: block;
  --light-mode: none;
  --blockchaindev-page-hero-move-dashboard-btn-border:2px solid #320978;
  --blockchaindev-page-hero-move-dashboard-btn-txt-color:#320978;
  --blockchaindev-page-des-card-bg-color:#fff;
  --blockchaindev-page-des-card-icon-div-bg-color:#E6DAFF;
  --blockchaindev-page-des-card-icon-div-border:none;
  --blockchaindev-page-des-card-icon-color:#500AA9;
  --blockchaindev-page-des-card-title-color:#1C212A;
  --blockchaindev-page-des-card-title-development-txt:color(display-p3 0.2431 0.1216 0.7529);
  --blockchaindev-page-des-card-card-des-text-color:#232323;
  --blockchaindev-page-price-container-bg-color:linear-gradient(100deg, #D3C0FF -6.9%, #5800B0 47.89%, #250A67 95.23%);
  --blockchaindev-page-order-now-mid-btn-bg-color: #F2AD13;
  --blockchaindev-page-table-name-txt-color:#000;
  --blockchaindev-page-table-col-txt-color:#612BD4;
  --blockchaindev-page-pricing-table-container:#FFF;
  --blockchaindev-page-pricing-table-container-tr:#E6ECFF;
  --blockchaindev-page-pricing-table-td-3rd-child:rgb(206 183 255 / 38%);
  --blockchaindev-page-pricing-table-items-color: #612BD4;
  --blockchaindev-page-pricing-table-icon-color:#522AC8;
  --blockchaindev-page-question-container-title:#1C2028;
  --blockchaindev-page-question-container-mat-expansion-panel:#fff;
  --blockchaindev-page-question-container-mat-expansion-panel-header-title:#5827D0;
  --blockchaindev-page-question-container-mat-expansion-panel-body:#875CF1;
  --blockchaindev-page-call-container:linear-gradient(180deg, #5827D0 0%, #5827D0 214.94%);
  --blockchaindev-page-call-container-book-cl-btn-text-color:#5827D0;

  --blockchaindev-page-des-card-hover: url("../../../src/assets/svg/services_card_master_light.svg");
  --blockchaindev-page-des-hover-icon-div-bg-color:#500AA9;
  --blockchaindev-page-des-hover-icon-path:#E6DAFF;
  --blockchaindev-page-des-hover-development-txt:color(display-p3 0.7647 0.4078 0.9804);

  --blockchaindev-mobile-page-des-card-hover: url("../../../src/assets/svg/selected_card _ mobile_light.svg");
  --blockchaindev-mobile-page-des-hover-icon-div-bg-color:#500AA9;
  --blockchaindev-mobile-page-icons-display:block;
  --blockchaindev-mobile-page-icons-display-dark:none;
  --blockchaindev-mobile-page-price-card-item:color(display-p3 1 1 1);
  --blockchaindev-mobile-page-price-card-pkg-type:#1E1E1E;
  --blockchaindev-mobile-page-price-card-order-now-btn-text:#5827D0;
  --blockchaindev-mobile-page-price-card-order-now-btn-border:3px solid #612BD4;
  --blockchaindev-mobile-page-price-card-order-now-btn-mid:radial-gradient(82.17% 89.89% at 67.88% 18.35%, rgba(51, 0, 190, 0.44) 0%, #5827D0 100%);
  --blockchaindev-mobile-page-price-card-order-now-btn-mid-border:2.813px solid rgba(255, 255, 255, 0.03);
  --blockchaindev-mobile-page-price-plan-card-bg: #FFF;
  --blockchaindev-mobile-page-price-plan-card-title: #612BD4;
  --blockchaindev-mobile-page-price-plan-card-type: #000;
  --blockchaindev-mobile-page-price-plan-card-item: #612BD4;


  --socialmedia-page-bg-color: #fff6e6;
  --socialmedia-card-bg-color: #F5E9D5;
  --socialmedia-card-bg-hover-color: url("../../../src/assets/svg/socialmedia_card_master_light.svg");
  --socialmedia-card-head-text: #0A0B0D;
  --socialmedia-card-descript-text: #232323;
  --socialmedia-page-pricing-table-container:#F5E9D5;
  --socialmedia-page-pricing-table-container-tr: #E9D1A1;
  --socialmedia-page-pricing-table-td-3rd-child: #ECE3D4;
  --socialmedia-page-table-name-txt-color:#000;
  --socialmedia-page-table-call-container:#FFA500;

  --socialmedia-page-des-card-bg-color: #F5E9D5;
  --socialmedia-page-des-card-title-color: black;
  --socialmedia-mobile-page-price-plan-card-bg: #F5E9D5;
  --socialmedia-mobile-page-price-plan-card-title: #1d2027;
  --socialmedia-mobile-page-price-plan-card-item: #BCB5A7;
  --socialmedia-mobile-page-price-plan-card-title: #1D2027;
  --socialmedia-page-question-container-mat-expansion-panel: #F5E9D5;
  --socialmedia-page-question-container-mat-expansion-panel-header-title: #1D2027;
  --socialmedia-page-question-container-mat-expansion-panel-body:#1C2028;



  --nft-page-bg-color: #FAF5EB;
  --nft-cards-outline-color: #0E0E0C;
  --nft-cards-box-shadow-color: rgba(14, 14, 12, 1);
  --nft-cards-head-text-color: #0A0B0D;
  --nft-cards-description-text-color: #232323;
  --nft-small-cards-main-text-color: #FEFEF3;
  --nft-do-it-text-color: #1D2027;
  --nft-small-cards-svg-color: #CDEE2D;

  --nft-price-container-bg:#C5EF00;
  --nft-page-price-card-background-shadow:#020202;

  --nft-page-pricing-table-container:#FEFEF2;
  --nft-page-pricing-table-container-border: 3px solid #000;
  --nft-page-pricing-table-container-tr-opacity: 1;
  --nft-page-table-name-txt-color:#000;
  --nft-page-table-icon-color:#020202;
  --nft-page-pricing-table-container-tr-head:#FEFEF2;


  --nft-page-mobile-des-card-bg-color:#FEFEF2;
  --nft-page-mobile-price-card-background:#FEFEF2;
  --nft-page-mobile-price-card-text-color:#1E1E1E;
  --nft-page-mobile-price-card-price-text-color:#1E1E1E;
  --nft-page-mobile-price-card-mid-bg-color:#0F0F0F;
  --nft-page-mobile-price-card-mid-text-color:#FFF;
  --nft-page-mobile-price-card-mid-price-text-color:#C5EF00;

  --nft-mobile-page-price-plan-card-bg:#FEFEF2;
  --nft-mobile-page-price-plan-card-border: 3px solid #000;



  --uiux-page-bg-color: #F5F5F7;
  --uiux-page-banner-web-bg-color: #FC2636;
  --uiux-page-banner-web-bg-image-stroke:#FF4D57;
  --uiux-page-banner-web-special-text: color(display-p3 0.098 0.1137 0.1922);
  --uiux-page-banner-web-dashboard-btn:#F5F5F7;
  --uiux-page-banner-web-dashboard-btn-text:#181D33;
  --uiux-page-banner-web-dashboard-btn-shadow:#181D33;

  --uiux-page-des-card-bg-color:#FFF;
  --uiux-page-des-card-title-color:#261B1B;
  --uiux-page-order-now-type-color:#000;
  --uiux-page-order-now-btn-bg-color:#181D33;
  --uiux-page-price-card-mid:#181D32;
  --uiux-page-price-card-mid-pkg-tag-bg:#FC2636;
  --uiux-page-price-card-mid-pkg-tag-text:#FFF;
  --uiux-page-pricing-table-container: #fff;
  --uiux-page-pricing-table-container-tr:#FFEDED;
  --uiux-page-pricing-table-td-3rd-child:#FFD8D9;
  --uiux-page-table-name-txt-color:#000;
  --uiux-page-question-container-mat-expansion-panel:#FFF;

  --uiux-mobile-page-price-plan-card-bg:#fff;
  --uiux-page-mobile-price-card-price-text-color:#181D33;





  --branddev-page-bg-color:#fff;
  --branddev-page-hero-section-text-color:#003554;
  --branddev-page-hero-section-text-highlight:#003554;
  --branddev-page-hero-image-bg:block;
  --branddev-page-hero-image-bg-dark:none;
  --branddev-page-hero-section-btn-border:#023451;
  --branddev-page-des-card-bg-color:#E6FAEE;
  --branddev-page-des-card-bg-color-hover:#003554;
  --branddev-page-des-card-title-color:#0A0B0D;
  --branddev-page-des-card-icon-color-hover:#4AB16E;
  --branddev-page-des-card-title-color-hover:#FFF;
  --branddev-page-order-now-bg-color:#E6FAEE;
  --branddev-page-order-now-type-color:#000;
  --branddev-page-pricing-table-container:#E6FAEE;
  --branddev-page-pricing-table-container-tr:#C4E1D0;
  --branddev-page-pricing-table-container-head:#000;
  --branddev-page-pricing-table-td-3rd-child:#D1E9DB;
  --branddev-page-question-container-mat-expansion-panel:#E6FAEE;





  --body-color: white;
  --font-color: #475569;
  --icon-inactive-color: #94a3b8;
  --switch-background-color: #f1f5f9;
  --switch-shadow: inset 0px 0px 0.125em rgba(0, 0, 0, 0.06),
  inset 0px 0px 0.0625em rgba(0, 0, 0, 0.04);
  --switch-button-shadow: 0px 0px 0.125em rgba(0, 0, 0, 0.06),
  0px 0px 0.0625em rgba(0, 0, 0, 0.04);


}

[data-theme="dark"] {
  --main-content-background-color: linear-gradient(180deg, #070707 0%, #171C19 100%);
  --main-content-text-color: #ffffff;
  --opacity: 0.4;

  --web-scroller-track: black;
  --web-scroller-track-thumb: #000;
  --web-scroller-track-thumb-hover:#000;

  --nav-signin-btn-background-color:#fff;
  --nav-signin-btn-text-color:#151515;
  --nav-coullax-logo-color: #fff;

  --nav-mobile-container-bg-color:#232323;


  --banner-left-up-bg-color:linear-gradient(140deg, #2D2D2D 11.4%, #1D1D1D 97.63%);
  --banner-left-up-text-color:#fff;
  --banner-right-up-bg-color:#FFBF2E;
  --banner-right-down-bg-color: #6DA9FF;


  --banner-text-color:linear-gradient(180deg, #0078A1 0%, #609F00 125%);
  --banner-dashboard-btn:radial-gradient(50% 50% at 50% 50%, #4DCB3D 0%, #009635 100%);

  --contact-bar-background-color:#1E1E20;
  --contact-bar-text-color:#fff;

  --contact-bar-bookcall-btn-bg-color: #fff;
  --contact-bar-bookcall-btn-text-color:#000;
  --contact-bar-bookcall-btn-border: none;

  --process-bar-bg:#1E1E1E;
  --process-bar-card1-text-color:#fff;
  --process-bar-card2-text-color:#fff;
  --process-bar-card3-text-color:#fff;
  --process-bar-card1-bg-hover-color:linear-gradient(157deg, #0965BC 5.01%, #082443 84.48%);
  --process-bar-card2-bg-hover-color:linear-gradient(180deg, #007A6E 0%, #004B46 100%);
  --process-bar-card3-bg-hover-color:linear-gradient(180deg, #985A2B 0%, #54341C 100%);

  --process-bar-mobile-card1-bg-color:linear-gradient(180deg, #070707 0%, #171C19 100%);
  --process-bar-mobile-card2-bg-color:linear-gradient(180deg, #070707 0%, #171C19 100%);
  --process-bar-mobile-card3-bg-color:linear-gradient(180deg, #070707 0%, #171C19 100%);

  --process-bar-mobile-card1-text-color:#fff;
  --process-bar-mobile-card2-text-color:#fff;
  --process-bar-mobile-card3-text-color:#fff;

  --process-bar-mobile-card1-border:2px solid #0965BC;
  --process-bar-mobile-card2-border:2px solid #007A6E;
  --process-bar-mobile-card3-border:2px solid #875028;

  --process-bar-mobile-card1-icon:#0965BC;
  --process-bar-mobile-card2-icon:#007A6E;
  --process-bar-mobile-card3-icon:#875028;

  --service-bar-card-background-color:radial-gradient(60.59% 47.26% at 50% 50%, #252525 0%, #18171A 100%);
  --service-bar-card-shadow:0px 4px 20.1px 0px rgba(0, 0, 0, 0.25);
  --service-bar-card-text-color: #FFF;
  --service-bar-card-border: 2px solid #3F3E41;

  --service-bar-card-background-hover-color:radial-gradient(91.52% 84.24% at 70.43% 66.86%, #313131 0%, #191919 100%);
  --service-bar-card-mobile-background-hover-color:radial-gradient(602.4% 78.99% at 70% 69.89%, #2B2B2B 0%, #1A1A1A 100%);
  --service-bar-card-mobile-arow: #2D2D2D;
  --service-bar-card-mobile-arow-hover: #838383;

  --service-bar-mobile-card-background-color:#191919;
  --service-bar-mobile-arrow-light:none;
  --service-bar-mobile-arrow-dark:block;

  --home-page-review-bar-background: #191919;
  --home-page-review-bar-text-color: #FFF;

  --redirect-card-text-color:#F5F5F7;
  --redirect-card-border:2px solid #4D4D4F;
  --redirect-mobile-card-border:1px solid #232323;

  --call-bar-background-color:radial-gradient(120.07% 92.39% at 42.09% 42.63%, rgba(0, 121, 93, 0.31) 0%, rgba(4, 35, 57, 0.31) 100%);
  --call-bar-btn-text-color: #F5F5F7;
  --call-bar-btn-bg-color: tranparant;
  --call-bar-btn-border-color: 2px solid #FFF;
  --call-bar-background-color-new:#191919;
  --call-bar-des-color-new:#F5F5F7;

  --supper-power-card1-bg-color:radial-gradient(110.17% 105.1% at 24.59% 11.97%, #FFBF2E 0%, #E2A732 100%);
  --supper-power-wid-card-bg-color: radial-gradient(109.34% 84.95% at 33.59% 7.41%, #70ABFF 0%, #4B8FF4 100%);
  --supper-power-card3-bg-color:radial-gradient(111.19% 120.04% at 17.24% 4.02%, #0DEA84 0%, #10AD61 100%);
  --supper-power-card4-bg-color:linear-gradient(118deg, #1CD9BE 32.56%, #009BB9 95.29%);
  --supper-power-card5-bg-color:linear-gradient(120deg, #A98DFF 31.63%, #7037D4 84.11%);
  --supper-power-card6-bg-color:radial-gradient(172.38% 116.23% at 33.59% 7.41%, #0058EA 0%, #003C73 100%);
  --supper-power-card7-bg-color:radial-gradient(167.43% 132.97% at 16.71% 12.85%, #00B9E2 0%, #3EBFB8 100%);
  --supper-power-card8-bg-color:radial-gradient(154.87% 130.07% at 23.65% 25.99%, #FFC93F 0%, #FF3B39 61.46%);
  --supper-power-cards-text-color:#fff;
  --supper-power-title-color:#FFF;


  --footer-link-text-color:#fff;


  --blockchaindev-page-bg-color:linear-gradient(180deg, #0A0B0D 0%, #001107 100%);
  --blockchaindev-page-hero-text-color: #F5F5F7;
  --blockchaindev-page-hero-highlight-text-color: linear-gradient(90deg, color(display-p3 0.251 0.7059 0.5421) 22.07%, color(display-p3 0.4275 0.8588 0.4941) 58.13%, color(display-p3 0.7804 0.8863 0.4392) 98.15%);
  --light-mode: none;
  --dark-mode: block;
  --blockchaindev-page-hero-move-dashboard-btn-border: 2px solid #00BC85;
  --blockchaindev-page-hero-move-dashboard-btn-txt-color:#00BC85;
  --blockchaindev-page-des-card-bg-color:#14161A;
  --blockchaindev-page-des-card-icon-div-bg-color:#14161A;
  --blockchaindev-page-des-card-icon-div-border:2px solid #59FCAB;
  --blockchaindev-page-des-card-icon-color:#00D27C;
  --blockchaindev-page-des-card-title-color:#FFF;
  --blockchaindev-page-des-card-title-development-txt:color(display-p3 0.3569 0.8118 0.5176);
  --blockchaindev-page-des-card-card-des-text-color:#FFF;
  --blockchaindev-page-price-container-bg-color:radial-gradient(489.83% 136.45% at 2.44% 0%, #43A345 0%, #00552E 49.73%, #181818 100%);
  --blockchaindev-page-order-now-mid-btn-bg-color: #fff;
  --blockchaindev-page-table-name-txt-color:#00D27C;
  --blockchaindev-page-table-col-txt-color:#FFF;
  --blockchaindev-page-pricing-table-container:#14161A;
  --blockchaindev-page-pricing-table-container-tr:#1C2627;
  --blockchaindev-page-pricing-table-td-3rd-child:#000;
  --blockchaindev-page-pricing-table-items-color: #fff;
  --blockchaindev-page-pricing-table-icon-color:#00D27C;
  --blockchaindev-page-question-container-title:#fff;
  --blockchaindev-page-question-container-mat-expansion-panel:#14161A;
  --blockchaindev-page-question-container-mat-expansion-panel-header-title:#fff;
  --blockchaindev-page-question-container-mat-expansion-panel-body:#fff;
  --blockchaindev-page-call-container:radial-gradient(129.77% 99.35% at 49.06% 16.23%, #42A246 0%, #004428 100%);
  --blockchaindev-page-call-container-book-cl-btn-text-color:#42A246;

  --blockchaindev-page-des-card-hover: url("../../../src/assets/svg/services_card_master_dark.svg");
  --blockchaindev-page-des-hover-icon-div-bg-color:radial-gradient(49.33% 49.33% at 50% 50%, #CFEB91 0%, #09D082 100%);
  --blockchaindev-page-des-hover-icon-path:#14161A;
  --blockchaindev-page-des-hover-development-txt:color(display-p3 0.3569 0.8118 0.5176);

  --blockchaindev-mobile-page-des-card-hover: url("../../../src/assets/svg/selected_card _ mobile_dark.svg");
  --blockchaindev-mobile-page-des-hover-icon-div-bg-color:#73E69B;
  --blockchaindev-mobile-page-icons-display:none;
  --blockchaindev-mobile-page-icons-display-dark:block;
  --blockchaindev-mobile-page-price-card-item:#14161A;
  --blockchaindev-mobile-page-price-card-pkg-type:#fff;
  --blockchaindev-mobile-page-price-card-order-now-btn-text:#32E994;
  --blockchaindev-mobile-page-price-card-order-now-btn-border:3px solid #32E994;
  --blockchaindev-mobile-page-price-card-order-now-btn-mid:radial-gradient(83.6% 97.64% at 93.67% 91.79%, #006625 0%, #002A13 100%);
  --blockchaindev-mobile-page-price-card-order-now-btn-mid-border:2.813px solid rgba(255, 255, 255, 0.03);
  --blockchaindev-mobile-page-price-plan-card-bg: #14161A;
  --blockchaindev-mobile-page-price-plan-card-title: #32E994;
  --blockchaindev-mobile-page-price-plan-card-type: #fff;
  --blockchaindev-mobile-page-price-plan-card-item: #fff;


  --socialmedia-page-bg-color: #181818;
  --socialmedia-card-bg-color:url("../../../src/assets/svg/socialmedia_card_master_dark.svg");
  --socialmedia-card-bg-hover-color: url("../../../src/assets/svg/socialmedia_card_master_light.svg");
  --socialmedia-card-head-text: white;
  --socialmedia-card-descript-text: #EAE4D9;
  --socialmedia-page-pricing-table-container:#222222;
  --socialmedia-page-pricing-table-container-tr: #313131;
  --socialmedia-page-pricing-table-td-3rd-child: #B3B3B3;
  --socialmedia-page-table-name-txt-color:#fff;

  --socialmedia-page-des-card-bg-color:url("../../../src/assets/svg/socialmedia_card_mobile_master_dark.svg");
  --socialmedia-page-des-card-title-color: white;
  --socialmedia-mobile-page-price-plan-card-bg: #212121;
  --socialmedia-mobile-page-price-plan-card-title: #F2EBDF;
  --socialmedia-mobile-page-price-plan-card-item: #3B3B3B;
  --socialmedia-mobile-page-price-plan-card-title:#EAA134;
  --socialmedia-page-question-container-mat-expansion-panel: #222222;
  --socialmedia-page-question-container-mat-expansion-panel-header-title: #F2EBDF;
  --socialmedia-page-question-container-mat-expansion-panel-body:#F4EBDE;




  --nft-page-bg-color: #020202;
  --nft-cards-outline-color: #C5EF00;
  --nft-cards-box-shadow-color: rgba(220, 253, 0, 1);
  --nft-cards-head-text-color: #CDEE2D;
  --nft-cards-description-text-color: #FEFEF3;
  --nft-small-cards-main-text-color: #020202;
  --nft-do-it-text-color: #F9F5EC;
  --nft-small-cards-svg-color: black;


  --nft-price-container-bg:linear-gradient(104deg, #C5EF00 2.72%, rgba(143, 183, 0, 0.93) 80.9%);
  --nft-page-price-card-background-shadow:#2D311C;

  --nft-page-pricing-table-container:linear-gradient(130deg, #222 27.36%, #000 92.19%);
  --nft-page-pricing-table-container-border: 3px solid #C5EF00;
  --nft-page-pricing-table-container-tr-opacity: 0.1;
  --nft-page-table-name-txt-color:#fff;
  --nft-page-table-icon-color:#C5EF00;
  --nft-page-pricing-table-container-tr-head:linear-gradient(130deg, #222 27.36%, #000 92.19%);


  --nft-page-mobile-des-card-bg-color:linear-gradient(98deg, #222 12.91%, #0D0D0D 86.55%);
  --nft-page-mobile-price-card-background:#0F0F0F;
  --nft-page-mobile-price-card-text-color:#FFF;
  --nft-page-mobile-price-card-price-text-color:#C5EF00;
  --nft-page-mobile-price-card-mid-bg-color:#C5EF00;
  --nft-page-mobile-price-card-mid-text-color:#0F0F0F;;
  --nft-page-mobile-price-card-mid-price-text-color:#020202;

  --nft-mobile-page-price-plan-card-bg:#0F0F0F;
  --nft-mobile-page-price-plan-card-border:3px solid #FFF;



  --uiux-page-bg-color: #121212;
  --uiux-page-banner-web-bg-color: #181D33;
  --uiux-page-banner-web-bg-image-stroke:#242C4C;
  --uiux-page-banner-web-special-text: color(display-p3 0.9098 0.251 0.251);
  --uiux-page-banner-web-dashboard-btn:#FC2636;
  --uiux-page-banner-web-dashboard-btn-text:#fff;
  --uiux-page-banner-web-dashboard-btn-shadow:#FFF;

  --uiux-page-des-card-bg-color:#171717;
  --uiux-page-des-card-title-color:#fff;
  --uiux-page-order-now-type-color:#FC2636;
  --uiux-page-order-now-btn-bg-color:#FC2636;
  --uiux-page-price-card-mid:#FC2636;
  --uiux-page-price-card-mid-pkg-tag-bg:#FFF;
  --uiux-page-price-card-mid-pkg-tag-text:#FC2636;
  --uiux-page-pricing-table-container: #000;
  --uiux-page-pricing-table-container-tr:#161616;;
  --uiux-page-pricing-table-td-3rd-child:#000;
  --uiux-page-table-name-txt-color:#fff;
  --uiux-page-question-container-mat-expansion-panel:#181D33;

  --uiux-mobile-page-price-plan-card-bg:#161616;
  --uiux-page-mobile-price-card-price-text-color:#FC2636;







  --branddev-page-bg-color:#0A0B0D;
  --branddev-page-hero-section-text-color: #FFF;
  --branddev-page-hero-section-text-highlight:#00B467;
  --branddev-page-hero-image-bg:none;
  --branddev-page-hero-image-bg-dark:block;
  --branddev-page-hero-section-btn-border:#4AB16E;
  --branddev-page-des-card-bg-color:#00263C;
  --branddev-page-des-card-bg-color-hover:#00B467;
  --branddev-page-des-card-title-color:#E6FAEE;
  --branddev-page-des-card-icon-color-hover:rgba(234, 249, 239, 1);
  --branddev-page-des-card-title-color-hover:#0A0B0D;
  --branddev-page-order-now-bg-color:#00263C;
  --branddev-page-order-now-type-color:#E6FAEE;
  --branddev-page-pricing-table-container:#00263C;
  --branddev-page-pricing-table-container-tr:#004066;
  --branddev-page-pricing-table-container-head:#00B467;
  --branddev-page-pricing-table-td-3rd-child: #000000;
  --branddev-page-question-container-mat-expansion-panel:#00263C;


  --body-color: #475569;
  --font-color: #f8fafc;
  --icon-inactive-color: #cbd5e1;
  --switch-background-color: #64748b;
  --switch-shadow: inset 0px 0px 0.125em rgba(0, 0, 0, 0.16),
  inset 0px 0px 0.0625em rgba(0, 0, 0, 0.24);
  --switch-button-shadow: 0px 0px 0.125em rgba(0, 0, 0, 0.16),
  0px 0px 0.0625em rgba(0, 0, 0, 0.14);
  --left: calc(0.25em + calc(2.5em - 2 * 0.25em));
}

[data-theme="auto"]{
  --left: calc(0.25em + 2 * calc(2.5em - 2 * 0.25em));
}
