[data-theme="light"] {
  --main-content-background-color: #fff;
  --main-content-text-color: #231f20;
  --opacity: 0.06;

  --nav-signin-btn-background-color:#232323;
  --nav-signin-btn-text-color:#fff;
  --nav-coullax-logo-color: black;

  --banner-text-color:linear-gradient(180deg, rgb(35, 100, 132) 0%, rgb(125.19, 196.56, 7.37) 100%);

  --contact-bar-background-color:#E5F3F1;
  --contact-bar-text-color:#090A09;

  --process-bar-card1-text-color:#144183;
  --process-bar-card2-text-color:#03844c;
  --process-bar-card3-text-color:#A70201;
  --process-bar-card1-bg-hover-color:linear-gradient(157deg, #0072EB 5.01%, #003063 84.48%);
  --process-bar-card2-bg-hover-color:radial-gradient(50% 50% at 50% 50%, #006E4D 0%, #008745 100%);
  --process-bar-card3-bg-hover-color:linear-gradient(90deg, rgba(254,169,3,1) 0%, rgba(166,0,0,1) 100%, rgba(241,46,27,1) 100%);

  --service-bar-card-background-color:radial-gradient(50% 50% at 50% 50%, #FBFFFE 0%, #E3F2EE 100%);
  --service-bar-card-shadow: none;
  --service-bar-card-text-color: #24252A;
  --service-bar-card-border: none;

  --redirect-card-text-color:#24252A;
  --redirect-card-border:3px solid #CBE8E2;

  --call-bar-background-color:radial-gradient(1850.04% 110.71% at 41.69% 8.95%, #0963B7 0%, #093059 100%);
  --call-bar-btn-text-color: #0A59A5;
  --call-bar-btn-bg-color: #fff;
  --call-bar-btn-border-color: none;








}

[data-theme="dark"] {
  --main-content-background-color: linear-gradient(180deg, #070707 0%, #171C19 100%);;
  --main-content-text-color: #ffffff;
  --opacity: 19;

  --nav-signin-btn-background-color:#fff;
  --nav-signin-btn-text-color:#151515;
  --nav-coullax-logo-color: #fff;

  --banner-text-color:linear-gradient(180deg, #0078A1 0%, #609F00 125%);

  --contact-bar-background-color:#1E1E20;
  --contact-bar-text-color:#fff;

  --process-bar-card1-text-color:#fff;
  --process-bar-card2-text-color:#fff;
  --process-bar-card3-text-color:#fff;
  --process-bar-card1-bg-hover-color:linear-gradient(157deg, #0965BC 5.01%, #082443 84.48%);
  --process-bar-card2-bg-hover-color:linear-gradient(180deg, #007A6E 0%, #004B46 100%);
  --process-bar-card3-bg-hover-color:linear-gradient(180deg, #985A2B 0%, #54341C 100%);

  --service-bar-card-background-color:radial-gradient(60.59% 47.26% at 50% 50%, #252525 0%, #18171A 100%);
  --service-bar-card-shadow:0px 4px 20.1px 0px rgba(0, 0, 0, 0.25);
  --service-bar-card-text-color: #fff;
  --service-bar-card-border: 2px solid #3F3E41;


  --redirect-card-text-color:#F5F5F7;
  --redirect-card-border:2px solid #4D4D4F;

  --call-bar-background-color:radial-gradient(120.07% 92.39% at 42.09% 42.63%, rgba(0, 121, 93, 0.31) 0%, rgba(4, 35, 57, 0.31) 100%);
  --call-bar-btn-text-color: #F5F5F7;
  --call-bar-btn-bg-color: tranparant;
  --call-bar-btn-border-color: 2px solid #FFF;
}
