[data-theme="light"] {
  --header-background-color: #ffffff;
  --header-border-color: #e5e8ea;
  --header-menu-item-color: #231f20;
  --header-theme-switch-background-color: #cccccc;
  --header-theme-switch-before-background-color: #ffffff;
  --header-theme-switch-checked-background-color: #2196f3;

  --main-content-background-color: #fff;
  --main-content-text-color: #231f20;
  --opacity: 0.06;
  --nav-signin-btn-background-color:#232323;
  --nav-signin-btn-text-color:#fff;
  --nav-coullax-logo-color: black;
}

[data-theme="dark"] {
  --header-background-color: #2c3c93;
  --header-border-color: #e5e8ea;
  --header-menu-item-color: #ffffff;
  --header-theme-switch-background-color: #cccccc;
  --header-theme-switch-before-background-color: #ffffff;
  --header-theme-switch-checked-background-color: #2196f3;

  --main-content-background-color: #231f20;
  --main-content-text-color: #ffffff;
  --opacity: 19;
  --nav-signin-btn-background-color:#fff;
  --nav-signin-btn-text-color:#151515;
  --nav-coullax-logo-color: #fff;
}
