@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,400;9..40,700&family=Poppins:wght@500;600&display=swap');
@import 'cal-sans';


.socialmedia {
  background: var(--socialmedia-page-bg-color);
}
.centered-sm{
  opacity: 1;
  transform: translate3d(0px, -285px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(358deg) rotateZ(0deg) skew(0deg, 0deg);
  transform-style: preserve-3d;
  text-align: center;
}
.socialmedia-web-thounder{
  position: relative;
  top: -9px;
  left: 294px;
}
.socialmedia-hero-image{
  display: flex;
  justify-content: center;

}
.ai-web-bg-light{
  display: var(--socialmedia-page-hero-page-show);
}
.ai-web-bg-dark{
  display: var(--socialmedia-page-hero-page-show-dark);
}
.scm-exp-dash-btn{
  width: 232px;
  height: 53px;
  border-radius: 26.5px;
  color: var(--ai-page-hero-page-scm-exp-dash-btn-text);
  text-align: center;
  font-family: Poppins, serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 103.6%;
  background:var(--ai-page-hero-page-scm-exp-dash-btn-bg);
  z-index: 999;
  margin-top: 202px;
}
.socialmedia-container {
  margin: auto;
  max-width: 900px;
}
.background {
  background: var(--socialmedia-card-bg-color);
  border: var(--socialmedia-card-bg-border);
}
.pic-svg path{
  fill: var(--socialmedia-card-icon-path);
}
.pic-svg circle{
  fill: var(--socialmedia-card-icon-circle);
}

.marke {
  color:var(--socialmedia-card-head-text-marke);
}
.headcard {
  color: var(--socialmedia-card-head-text);
}
.descript {
  color: var(--socialmedia-card-descript-text);
}
.background:hover {
  background: var(--socialmedia-card-bg-hover-color);
  border: none;

  .descript {
    color: #FFF;
  }
  .headcard {
    color: #ECF3FF;
  }
  .marke {
    color: color(display-p3 0.251 0.9098 0.7912);
  }
  .pic-svg path{
    fill: #40E8CA;
  }
  .pic-svg circle{
    fill: #0A0B0D;
  }
}




.price-container{
  display: grid;
  grid-template-columns: 264.453px 264.453px 264.453px;
  grid-template-rows: 396px;
  gap: 22px;
  margin-top: 55px;
  border-radius: 18px;
  background: var(--ai-page-price-container-bg);
  justify-content: center;
  align-items: center;
  border: var(--ai-page-price-container-border);
}

.price-card{
  width: 264.453px;
  height: 341.351px;
  border-radius: 17px;
  border: 2.813px solid rgba(255, 255, 255, 0.03);
  backdrop-filter: blur(19.13px) brightness(100%);
  background-color: #fff;
  padding: 36px 0 20px 27px;

  .pkg-type{
    color: black;
    font-family: Cal Sans, serif;
    font-size: 22.507px;
    font-style: normal;
    font-weight: 600;
    line-height: 96.6%;
  }

  .price{
    color: black;
    font-family: Cal Sans, serif;
    font-size: 42.2px;
    font-style: normal;
    font-weight: 600;
    line-height: 96.6%;
    margin-top: 4px;
  }

  .pkg-item{
    color: black;
    font-family: Poppins, serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 96.6%;

    ul{
      list-style: inside !important;
      li{
        margin-top: 25px;

      }
    }
  }
  .order-now-btn{
    width: 214px;
    height: 41px;
    border-radius: 16.88px;
    border: 3px solid black;
    color: black;
    text-align: center;
    font-family: Poppins, serif;
    font-size: 14.067px;
    font-style: normal;
    font-weight: 700;
    line-height: 103.6%;
    margin-top: 51px;
  }
}
.upwards{
  color:black;
  font-family: Cal Sans, serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: 96.6%;
}
.upwards-mid{
  color:var(--ai-page-price-container-pkg-type-mid);
  font-family: Cal Sans, serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: 96.6%;
}
.price-card-mid{
  border-radius: 17px;
  border: 2.813px solid rgba(255, 255, 255, 0.03);
  backdrop-filter: blur(19.13px) brightness(100%);
  background-color: var(--socialmedia-card-icon-circle);
  padding: 18px 0 20px 27px;

  .pkg-tag{
    width: 108px;
    height: 23px;
    border-radius: 23px;
    background: #fff;
    text-align: center;
    color: #060708;
    font-family: Poppins, serif;
    font-size: 11px;
    font-style: normal;
    font-weight: 600;
    line-height: 96.6%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .pkg-type-mid{
    color: var(--ai-page-price-container-pkg-type-mid);
    font-family: Cal Sans, serif;
    font-size: 22.507px;
    font-style: normal;
    font-weight: 600;
    line-height: 96.6%;
  }

  .price-mid{
    color: var(--ai-page-price-container-pkg-type-mid);
    font-family: Cal Sans, serif;
    font-size: 42.2px;
    font-style: normal;
    font-weight: 600;
    line-height: 96.6%;
    margin-top: 4px;
  }

  .pkg-item-mid{
    color: var(--ai-page-price-container-pkg-type-mid);
    font-family: Poppins, serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 96.6%;

    ul{
      list-style: inside !important;

      li{
        margin-top: 25px;
      }
    }
  }
  .order-now-btn-mid{
    width: 214px;
    height: 41px;
    border-radius: 16.88px;
    border: none;
    color: var(--ai-page-price-container-order-now-btn-mid-text);
    background: var(--ai-page-price-container-order-now-btn-mid-bg);
    text-align: center;
    font-family: Poppins, serif;
    font-size: 14.067px;
    font-style: normal;
    font-weight: 700;
    line-height: 103.6%;
    margin-top: 51px;
  }
}



.socialmedia-pricing-table-container {
  width: 900px;
  height: 444px;
  border-radius: 14.339px;
  background: var(--socialmedia-page-pricing-table-container);
  display: grid;
  justify-content: center;
  align-items: center;
  margin-top: 34px;
  border:var(--ai-page-price-container-border);
}
.socialmedia-price-table {
  width: 810px;;
  border: none;
  border-collapse:separate;
  border-spacing:0 10px;
}
.socialmedia-price-table tr:not(:last-child) {
  border:none;
}
.socialmedia-price-table tr td {
  border-left: none;
  padding: 8px 24px;
}
.socialmedia-price-table tr td:first-child {
  border-left: none;
}

.socialmedia-price-table tr {
  background: var(--socialmedia-page-pricing-table-container-tr);
  width: 810px;
  height: 52px;
  border-radius: 5px;
}
//.price-table tr:hover {
//  background-color: #F1F3FF;
//}

tbody > tr > td:nth-child(3) {
  background: var(--socialmedia-page-pricing-table-td-3rd-child);
  width: 177px;
  opacity: 0.5;
}
tbody > tr > td:nth-child(4) {
  width: 109px;
}

tbody > tr > td:nth-child(2) {
  width: 109px;
}

.socialmedia-price-table tr.price-table-head {
  background: var(--socialmedia-page-pricing-table-container);
  color: #000;
}

.table-name{
  color: var(--socialmedia-page-table-name-txt-color);
  text-align: start;
  font-family: Cal Sans, serif;
  font-size: 22.507px;
  font-style: normal;
  font-weight: 600;
  line-height: 96.6%;
}

.table-col{
  color: var(--socialmedia-page-table-name-txt-color);
  text-align: center;
  font-family: Cal Sans, serif;
  font-size: 22.507px;
  font-style: normal;
  font-weight: 600;
  line-height: 96.6%;
}

//.table-col-mid{
//  color: #310C7E;
//  text-align: center;
//  font-family: Cal Sans, serif;
//  font-size: 22.507px;
//  font-style: normal;
//  font-weight: 600;
//  line-height: 96.6%;
//}
.table-items{
  color: var(--socialmedia-page-table-name-txt-color);
  font-family: Poppins, serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 96.6%;
  display: list-item;
  list-style-position: inside;
  margin-top: 10px;
}

.price-plan-icon path{
  fill: var(--socialmedia-page-table-icon-txt-color);
}




.socialmedia-question-container{
  margin-top: 34px;
}
.socialmedia-question-container-title{
  color: var(--socialmedia-page-table-name-txt-color);
  font-family: Cal Sans, serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 96.6%;
  margin-bottom: 31px;
  display: flex;
  justify-content: center;
  align-items: center;
}


.mat-expansion-panel{
  margin-top: 20px !important;
  border-radius: 10px !important;
  box-shadow: none !important;
  background: var(--socialmedia-page-question-container-mat-expansion-panel) !important;
  border:var(--socialmedia-page-question-container-mat-expansion-panel-border);
}
.mat-expansion-panel:not(.mat-expanded)
.mat-expansion-panel-header:hover:not([aria-disabled="true"]) {
  background-color: var(--socialmedia-page-question-container-mat-expansion-panel) !important;
}

.mat-expansion-panel-header{
  height: 79px !important;
  border-radius: 10px !important;
  box-shadow: none !important;
  padding: 0 46px !important;
}

.mat-expansion-panel-header-title{
  color: var(--socialmedia-page-table-name-txt-color) !important;
  font-family: Poppins, serif !important;
  font-size: 21px !important;
  font-style: normal !important;
  font-weight: 600 !important;
  line-height: 144.1% !important;
}

::ng-deep .socialmedia-expantion-panel .mat-expansion-indicator::after {
  border-style: solid;
  border-width: 0 2px 2px 0;
  content: "";
  display: inline-block;
  padding: 3px;
  transform: rotate(45deg);
  vertical-align: middle;
  color: var(--socialmedia-page-table-name-txt-color) !important;
  width: 12px !important;
  height: 12px !important;
  border-color: var(--socialmedia-page-table-name-txt-color);
}

::ng-deep .socialmedia-expantion-panel .mat-expansion-panel-body{
  color: var(--socialmedia-page-table-name-txt-color);
  font-family: Poppins, serif;
  font-size: 21px;
  font-style: normal;
  font-weight: 300;
  line-height: 144.1%;
  padding: 0 46px 16px !important;
}


.socialmedia-dev-call-container{
  height: 77px;
  border-radius: 91px;
  background: var(--socialmedia-page-table-icon-txt-color);
  justify-content: space-between;
  align-items: center;
  padding: 0 46px 0 46px;
  margin-top: 22px;
  margin-bottom: 40px;

  .socialmedia-label{
    color: var(--ai-page-price-container-book-call-socialmedia-label);
    font-family: Cal Sans, serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 96.6%;
  }
  .socialmedia-book-cl-bnt{
    width: 225px;
    height: 52px;
    border-radius: 64px;
    background:var(--ai-page-price-container-order-now-btn-mid-bg);
    color: var(--socialmedia-page-table-icon-txt-color);
    text-align: center;
    font-family: Poppins, serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 122.1%;
  }
}


$t: 1s;

@property --k {
  syntax: '<number>';
  initial-value: -1;
  inherits: true
}


.book-call {
  --m: 3;
  grid-area: 2/ 1/ span 1/ span 2;
  position: relative;
  //border: solid 2em transparent;
  //padding: 0.5em 3.25em;
  border-radius: 5em;
  box-shadow: inset 0 0 1px #00B467;
  background: var(--ai-page-price-container-order-now-btn-mid-bg);
  color: var(--socialmedia-page-table-icon-txt-color);
  font: 700 1.5em/ 1 montserrat, sans-serif;

  #slow:checked ~ & { --m: 5 }
  width: 225px;
  height: 52px;
  //color: var(--call-bar-btn-text-color);
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 103.6%;
  //border: var(--call-bar-btn-border-color);
}

@keyframes k { 0%, 33.3% { --k: 1 } }

.particle {
  --f: 1;
  --pos-k: max(0, var(--k));
  --neg-k: max(0, -1*var(--k));
  --low-c: min(1, 4*(1 - var(--pos-k)));
  --abs-d: max(var(--neg-k) - .5, .5 - var(--neg-k));
  --mov-f: var(--pos-k);
  display: grid;
  position: absolute;
  left: var(--x); top: var(--y);
  rotate: var(--a);
  animation: k calc(var(--m)*#{$t}) linear calc(var(--m)*var(--t, 0)*#{$t}) infinite;

  @supports (scale: sqrt(4)) { --mov-f: sqrt(var(--pos-k)) }

  &::before, &::after {
    grid-area: 1/ 1;
    width: .75em;
    aspect-ratio: 1
  }

  &::before {
    --sa: calc(min(1, 1 - 2*min(.5, var(--mov-f)))*45deg);
    border-radius: calc(1.25*min(.8, var(--mov-f))*50%) 50% 50%;
    transform-origin: 0 0;
    translate: calc(var(--mov-f)*var(--d));
    rotate: -45deg;
    scale: var(--f);
    transform: skew(var(--sa), var(--sa));
    opacity: var(--low-c);
    filter: Saturate(var(--low-c));
    background: radial-gradient(at 85% 85%, #000B40FF, #00ECC9FF 75%);
    content: ''
  }

  &::after {
    translate: -50% -50%;
    scale: calc(var(--f)*(1 - 2*var(--abs-d)));
    text-align: center;
    filter: blur(.5px);
    content: '✦'
  }

}



//////////////////////////
$side: 120px;
$l: 90px;
$num: 10;
$dur: 10s;

@mixin plane($w, $h) {
  width: $w;
  height: $h;
  transform-style: preserve-3d;
}
@mixin view($p) {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  perspective: $p;
  z-index: -1;
}
@mixin center {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.view {
  @include view(400);
}
.plane {
  @include plane($side, $side);

  &.main {
    @include center;
    transform: rotateX(60deg) rotateZ(-30deg);
    animation: rotate 20s infinite linear;

    .circle {
      width: $side;
      height: $side;
      position: absolute;
      transform-style: preserve-3d;
      border-radius: 100%;
      //border: 2px solid white
      box-sizing: border-box;
      box-shadow: 0 0 60px #e1ebfe, inset 0 0 60px #021142;

      &::before,
      &::after {
        content: '';
        display: block;
        @include center;
        width: 10%;
        height: 10%;
        border-radius: 100%;
        background: #021142;
        //border: 4px solid black
        box-sizing: border-box;
        box-shadow: 0 0 60px 2px #021142;
      }
      &::before {
        transform: translateZ(-$l);
      }
      &::after {
        transform: translateZ($l);
      }
      @for $i from 1 through 5 {
        &:nth-child(#{$i}) {
          transform: rotateZ($i / 5 * 360deg) rotateX(63.435deg);
        }
      }
    }
  }
}
@keyframes rotate {
  0% {
    transform: rotateX(0) rotateY(0) rotateZ(0);
  }
  100% {
    transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg);
  }
};
///////////////////////
@media screen and (max-width: 900px) {
  .blockchaindev-mobile{
    background: var(--socialmedia-page-bg-color);
  }
  .blockchaindev-container-mobile{
    margin: auto;
    max-width: 375px;
  }

  .socialmedia-web-thounder-mobi{
    position: relative;
    top: 48px;
    left: 69px;
  }

  .mobile-hero-text {
    color: var(--blockchaindev-page-hero-text-color);
    font-family: Cal Sans, serif;
    text-align: center;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 102.1%;
  }


  .highlight-mobi{
    background: var(--blockchaindev-page-hero-highlight-text-color);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: Cal Sans, serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 102.1%;
  }

  .centered-sm{
    opacity: 1;
    transform: translate3d(0px, -528px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(358deg) rotateZ(0deg) skew(0deg, 0deg);
    transform-style: preserve-3d;
    text-align: center;
  }

  .move-dashboard-btn-mobi{
    width: 232px;
    height: 53px;
    border-radius: 26.5px;
    text-align: center;
    font-family: Poppins, serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 103.6%;
    margin-top: 462px;
    color: var(--ai-page-hero-page-scm-exp-dash-btn-text);
    background:var(--ai-page-hero-page-scm-exp-dash-btn-bg);
  }


  .description-bar-mobile{
    margin-top: 25px;
  }
  .grid-items{
    display: grid;
    grid-template-columns: 375px;
    gap: 15px;
  }


  .description-card-mobile{
    width: 375px;
    height: 93px;
    border-radius: 12px;
    background: var(--socialmedia-card-bg-color);
    border: var(--socialmedia-card-bg-border);
    align-items: center;
    padding-left: 18px;

    .title-mobile{
      color: var(--socialmedia-card-head-text);
      font-family: Cal Sans, serif;
      font-size: 20px;
      font-style: normal;
      font-weight: 600;
      line-height: 102.1%;
    }
    .development-txt{
      color:var(--socialmedia-card-head-text-marke);
      font-family: Cal Sans, serif;
      font-size: 20px;
      font-style: normal;
      font-weight: 600;
      line-height: 102.1%;
    }

  }

  .description-card-mobile:hover{
    background: var(--socialmedia-card-bg-hover-color);
    border: none;

    .pic-svg path{
      fill: #0A0B0D;

    }
    .pic-svg circle{
      fill: #40E8CA;
    }

    .title-mobile{
      color: #ECF3FF;
      font-family: Cal Sans, serif;
      font-size: 20px;
      font-style: normal;
      font-weight: 600;
      line-height: 102.1%;
    }

    .development-txt{
      color: color(display-p3 0.251 0.9098 0.7912);
    }

  }


  .price-grid-items{
    display: grid;
    grid-template-columns: 375px;
    grid-template-rows:341px;
    gap: 21px;
    margin-top: 27px;
    border-radius: 18px;
    justify-content: center;
    align-items: center;

  }

  .price-card-item{
    border-radius: 16.88px;
    border: var(--ai-page-price-container-mobile-background-border);
    background:var(--ai-page-price-container-mobile-background);
    backdrop-filter: blur(9.565333366394043px);
    height: 341px;
    padding: 35px 30px 20px 30px;

    .pkg-type{
      color: var(--ai-page-price-container-mobile-text);
      font-family: Cal Sans, serif;
      font-size: 23px;
      font-style: normal;
      font-weight: 600;
      line-height: 96.6%;
    }
    .price{
      color: var(--ai-page-price-container-mobile-text);
      font-family: Cal Sans, serif;
      font-size: 30px;
      font-style: normal;
      font-weight: 600;
      line-height: 96.6%;
      margin-top: 4px;
    }

    .pkg-item{
      color: var(--ai-page-price-container-mobile-text);
      font-family: Poppins, serif;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 96.6%;

      ul{
        list-style: inside !important;
        li{
          margin-top: 30px;

        }
      }
    }
    .order-now-btn{
      width: 303px;
      height: 50px;
      border-radius: 25px;
      text-align: center;
      font-family: Poppins, serif;
      background-color: var(--ai-page-price-container-btn-background);
      color: var(--ai-page-price-container-btn-text);
      font-size: 16px;
      font-style: normal;
      font-weight: 700;
      line-height: 103.6%;
      margin-top: 36px;
    }
  }

  .upwards{
    color:var(--ai-page-price-container-mobile-text);
    font-family: Cal Sans, serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: 96.6%;
  }
  .upwards-mid{
    color:var(--ai-page-price-container-pkg-type-mid);
    font-family: Cal Sans, serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: 96.6%;
  }

  .price-card-mid-mobi{
    height: 341px;
    border-radius: 12px;
    background-color: var(--socialmedia-card-icon-circle);
    backdrop-filter: blur(9.565333366394043px);
    padding: 18px 30px 20px 30px;

    .pkg-tag-mid{
      width: 123px;
      height: 32px;
      border-radius: 16px;
      background: #fff;
      text-align: center;
      color:  #060708;
      font-family: Poppins, serif;
      font-size: 14px;
      font-style: normal;
      font-weight: 600;
      line-height: 96.6%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .pkg-type-mid-mobi{
      color:var(--ai-page-price-container-pkg-type-mid);
      font-family: Cal Sans, serif;
      font-size: 22.507px;
      font-style: normal;
      font-weight: 600;
      line-height: 96.6%;
    }

    .price-mid-mobi{
      color: var(--ai-page-price-container-pkg-type-mid);
      font-family: Cal Sans, serif;
      font-size: 30px;
      font-style: normal;
      font-weight: 600;
      line-height: 96.6%;
      margin-top: 4px;
    }

    .pkg-item-mid-mobi{
      color: var(--ai-page-price-container-pkg-type-mid);
      font-family: Poppins, serif;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 96.6%;

      ul{
        list-style: inside !important;

        li{
          margin-top: 25px;
        }
      }
    }
    .order-now-btn-mid-mobi{
      width: 303px;
      height: 50px;
      border-radius: 25px;
      border: none;
      color: var(--ai-page-price-container-order-now-btn-mid-text);
      background: var(--ai-page-price-container-order-now-btn-mid-bg);
      text-align: center;
      font-family: Poppins, serif;
      font-size: 14.067px;
      font-style: normal;
      font-weight: 700;
      line-height: 103.6%;
      margin-top: 36px;
    }
  }


  .mySwiper{
    height: 476px;
    border-radius: 14.339px;
    background: var(--socialmedia-mobile-page-price-plan-card-bg);
    margin-top: 27px;
  }
  .comp-plans-card{
    justify-content: start;
    //display: grid;
    //grid-template-columns: 300px;
    padding: 28px 0 0 26px;
  }
  .comp-plans-card-title{
    color: var(--socialmedia-mobile-page-price-plan-card-title);
    font-family: Cal Sans, serif;
    font-size: 22.507px;
    font-style: normal;
    font-weight: 600;
    line-height: 96.6%;
  }


  .comp-plans-card-type{
    color: var(--socialmedia-mobile-page-price-plan-card-title);
    text-align: start;
    font-family: Cal Sans, serif;
    font-size: 22.507px;
    font-style: normal;
    font-weight: 600;
    line-height: 96.6%;
    margin-top: 18px;
  }
  .comp-plans-card-items{
    color: var(--socialmedia-mobile-page-price-plan-card-title);
    font-family: Poppins, serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 96.6%;

    ul{
      //list-style: inside !important;

      li{
        margin-top: 29px;
      }
    }

  }


  ::ng-deep .socialmedia-mobi-swiper .swiper-pagination-bullet {
    opacity: 1;
    background: var(--socialmedia-mobile-page-price-plan-card-item) !important;
  }
  ::ng-deep .socialmedia-mobi-swiper .swiper-pagination-bullet-active {
    background: var(--socialmedia-mobile-page-price-plan-card-title) !important;
    opacity: 1;
  }



  .bold-point{
    display: list-item !important;
    list-style-type: disc !Important;
    list-style: inside;
  }

  .question-container{
    margin-top: 32px;
  }
  .question-container-title-mobi{
    color: var(--blockchaindev-page-question-container-title);
    font-family: Cal Sans, serif;
    font-size: 22.507px;
    font-style: normal;
    font-weight: 600;
    line-height: 96.6%;
    display: flex;
    justify-content: center;
    align-items: center;
  }


  .mat-expansion-panel{
    margin-top: 20px !important;
    border-radius: 12px !important;
    box-shadow: none !important;
    background: var(--socialmedia-page-question-container-mat-expansion-panel) !important;
  }

  .mat-expansion-panel:not(.mat-expanded)
  .mat-expansion-panel-header:hover:not([aria-disabled="true"]) {
    background-color: var(--socialmedia-page-question-container-mat-expansion-panel) !important;
  }

  .mat-expansion-panel-header{
    height: 81px !important;
    border-radius: 12px !important;
    box-shadow: none !important;
    padding: 0 25px !important;
  }

  .mat-expansion-panel-header-title{
    color: var(--socialmedia-page-question-container-mat-expansion-panel-header-title) !important;
    font-family: Poppins, serif !important;
    font-size: 18px !important;
    font-style: normal !important;
    font-weight: 600 !important;
    line-height: 144.1% !important;
  }

  ::ng-deep .expantion-panel-socailmedia-mobi .mat-expansion-indicator::after {
    border-style: solid;
    border-width: 0 2px 2px 0;
    content: "";
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
    vertical-align: middle;
    color: var(--socialmedia-page-question-container-mat-expansion-panel-header-title) !important;
    width: 12px !important;
    height: 12px !important;
    border-color: var(--socialmedia-page-question-container-mat-expansion-panel-header-title);
  }

  ::ng-deep .expantion-panel-socailmedia-mobi .mat-expansion-panel-body{
    color: var(--socialmedia-page-question-container-mat-expansion-panel-body);
    font-family: Poppins, serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 144.1%;
    padding: 0 25px 16px !important;
  }


  .dev-call-container-mobi{
    height: 77px;
    border-radius: 91px;
    background-color: var(--socialmedia-page-table-icon-txt-color);
    justify-content: space-between;
    align-items: center;
    padding: 0 20px 0 37px;
    margin-top: 22px;
    margin-bottom: 40px;

    .label{
      color:var(--ai-page-price-container-book-call-socialmedia-label);
      font-family: Cal Sans, serif;
      font-size: 16px;
      font-style: normal;
      font-weight: 600;
      line-height: 96.6%;
    }
    .book-cl-bnt{
      width: 139px;
      height: 38px;
      border-radius: 64px;
      background:var(--ai-page-price-container-order-now-btn-mid-bg);
      color: var(--socialmedia-page-table-icon-txt-color);
      text-align: center;
      font-family: Poppins, serif;
      font-size: 16px;
      font-style: normal;
      font-weight: 600;
      line-height: 122.1%;
    }
    .book-call {
      --m: 3;
      grid-area: 2/ 1/ span 1/ span 2;
      position: relative;
      //border: solid 2em transparent;
      //padding: 0.5em 3.25em;
      border-radius: 5em;
      box-shadow: inset 0 0 1px #00B467;
      background:var(--ai-page-price-container-order-now-btn-mid-bg);
      color: var(--socialmedia-page-table-icon-txt-color);
      font: 700 1.5em/ 1 montserrat, sans-serif;

      #slow:checked ~ & { --m: 5 }
      width: 139px;
      height: 38px;
      //color: var(--call-bar-btn-text-color);
      font-family: 'Poppins', sans-serif;
      font-size: 16px;
      font-style: normal;
      font-weight: 600;
      line-height: 122.1%;
      //border: var(--call-bar-btn-border-color);
    }
  }
}
