.containers{
  max-width: 900px;
  margin: auto;
}
.banner-bar{
  margin-top: 75px;
}

.process-bar{
  margin-top: -156px;
}
.contact-bar{
  margin-top: 42px;
}
.footer{
  margin-top: 56px;
}

.services{
  margin-top: 32px;
}

.call-bar{
  margin-top: 30px;
}

.superpowers{
  margin-top: 30px;
}

.redirect {
  margin-top: 30px;
}


@media screen and (max-width: 900px) {
  .containers{
    max-width: 370px;
    margin: auto;
  }
}
