.container{
  max-width: 900px;
}
.banner-bar{
  margin-top: 75px;
}

.process-bar{
  margin-top: -140px;
}
.contact-bar{
  margin-top: -140px;
}
.footer{
  margin-top: 56px;
}

.services{
  margin-top: 73px;
}

.call-bar{
  margin-top: 30px;
}

.superpowers{
  margin-top: 30px;
}

.redirect {
  margin-top: 30px;
}
