<div class="containers">
  <!--  <div class="web-nav">-->
  <app-navbar></app-navbar>

  <!--  </div>-->

  <!--  <div class="mobi-nav">-->
  <!--    <app-navbar-mobile></app-navbar-mobile>-->
  <!--  </div>-->

  <section class="banner-bar">
    <app-banner></app-banner>
  </section>

  <section class="process-bar">
    <app-process></app-process>
  </section>

    <section class="contact-bar">
      <app-redirect-cards></app-redirect-cards>
    </section>

  <section class="services">
    <app-servicesbar></app-servicesbar>
  </section>

  <section class="superpowers">
    <app-superpowers></app-superpowers>
  </section>

  <section class="statics">
    <app-contactus></app-contactus>
  </section>


  <section >
    <app-slider-bar></app-slider-bar>
  </section>
  <section class="review-bar">
    <app-review-bar></app-review-bar>
  </section>
  <!--&lt;!&ndash;  <section class="redirect">&ndash;&gt;-->
  <!--&lt;!&ndash;&lt;!&ndash;    <app-redirect-cards></app-redirect-cards>&ndash;&gt;&ndash;&gt;-->
  <!--&lt;!&ndash;  </section>&ndash;&gt;-->
  <section class="call-bar">
    <app-call></app-call>
  </section>
  <section class="footer">
    <app-footer></app-footer>
  </section>


</div>

