.containers{
  max-width: 900px;
  margin: auto;
}
.banner-bar{
  margin-top: 10px;
}

.process-bar{
  margin-top: 30px;
}
.contact-bar{
  margin-top: 30px;
}
.footer{
  margin-top: 22px;
}

.services{
  margin-top: 30px;
}

.call-bar{
  margin-top: 30px;
}

.superpowers{
  margin-top: 30px;
}

.redirect {
  margin-top: 30px;
}

.mobi-nav{
  display: none;
}
.review-bar{
  margin-top: 30px;
}

.statics{
  margin-top:40px;
}
@media screen and (max-width: 900px) {
  .web-nav{
    display: none;
  }

  .mobi-nav{
    display: block;
  }
  .containers{
    max-width: 375px;
    margin: auto;
  }

  .process-bar{
    margin-top: 32px;
  }

  .review-bar{
    margin-top: 37px;
  }
}









