<div class="containers">
  <app-navbar></app-navbar>
  <section class="banner-bar">
    <app-banner></app-banner>
  </section>

  <section class="process-bar">
    <app-process></app-process>
  </section>

  <section class="contact-bar">
    <app-contactus></app-contactus>
  </section>

  <section class="services">
    <app-servicesbar></app-servicesbar>
  </section>

  <section class="superpowers">
    <app-superpowers></app-superpowers>
  </section>
  <section class="redirect">
    <app-redirect-cards></app-redirect-cards>
  </section>

  <section class="call-bar">
    <app-call></app-call>
  </section>
  <section class="footer">
    <app-footer></app-footer>
  </section>

</div>
