<div class="contact-bar-web">
  <div class="contact-card">
    <div class="start-align" data-aos="fade-left" data-aos-duration="1500">
      <div class="contact-text" >Talk about your<br/>project with us</div>
      <button class="book-call-btn" type="button" (click)="scheduleCall()">Book a call</button>
    </div>
  </div>
</div>
<!--<div class="calendly-inline-widget" data-auto-load="false"></div>-->
<!--<div class="calendly-inline-widget" data-url="https://calendly.com/ushansan99/30min" style="min-width:320px;height:930px;"></div>-->
