@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,400;9..40,700&family=Poppins:wght@500&display=swap');
.container{
  min-width: 1220px;

}
.mat-mdc-card{
  max-width: 394px;
  height: 115px;
  box-shadow: none !important;
}

.process-card1{
  $border: 3px;
  color: #004288;
  background: #fff;
  background-clip: padding-box;
  border: solid $border transparent;
  border-radius: 18px;

  .card-text1{
    margin-left: 2.083vw;
    color: #144183;
    font-size: 21px;
    line-height: 103.6%;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    text-align: start;
  }


  &:before {
    content: '';
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    z-index: -1;
    margin: -$border; /* !importanté */
    border-radius: inherit; /* !importanté */
    background: linear-gradient(90deg, rgba(34,112,227,1) 0%, rgba(14,48,95,1) 100%);

  }

  &:hover{
    transition: all 0.5s ease-in-out;
    background: linear-gradient(157deg, #0072EB 5.01%, #003063 84.48%);
    border: none;

    .card-text1{
      margin-left: 2.083vw;
      color: #ffffff;
      font-size: 21px;
      line-height: 103.6%;
      font-weight: 500;
      font-family: 'Poppins', sans-serif;
      text-align: start;
    }

    .icons path{
      fill: #fff;
    }

  }
}

.process-card2{
  $border: 3px;
  color: #008746;
  background: #fff;
  background-clip: padding-box;
  border: solid $border transparent;
  border-radius: 18px;

  .card-text2{
    margin-left: 2.083vw;
    color: #03844c;
    font-size: 21px;
    line-height: 103.6%;
    font-weight: 500;
    font-family: 'Poppins', serif;
    text-align: start;
  }

  &:before {
    content: '';
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    z-index: -1;
    margin: -$border; /* !importanté */
    border-radius: inherit; /* !importanté */
    background:linear-gradient(90deg, rgba(2,108,79,1) 0%, rgba(2,132,75,1) 100%);
  }

  &:hover{
    transition: all ease 40ms;
    background: radial-gradient(50% 50% at 50% 50%, #006E4D 0%, #008745 100%);
    border: none;
    .card-text2{
      margin-left: 2.083vw;
      color: #ffffff;
      font-size: 21px;
      line-height: 103.6%;
      font-weight: 500;
      font-family: 'Poppins', serif;
      text-align: start;
    }

    .icons path{
      fill: #fff;
    }

  }
}

.process-card3{
  $border: 3px;
  color: #B70000;
  background: #fff;
  background-clip: padding-box;
  border: solid $border transparent;
  border-radius: 18px;

  .card-text3{
    margin-left: 2.083vw;
    color: #A70201;
    font-size: 21px;
    line-height: 103.6%;
    font-weight: 500;
    font-family: 'Poppins', serif;
    text-align: start;
  }

  &:before {
    content: '';
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    z-index: -1;
    margin: -$border; /* !importanté */
    border-radius: inherit; /* !importanté */
    background: linear-gradient(90deg, rgba(254,169,3,1) 0%, rgba(166,0,0,1) 100%, rgba(241,46,27,1) 100%);
  }

  &:hover{
    transition: all ease 40ms;
    background: linear-gradient(90deg, rgba(254,169,3,1) 0%, rgba(166,0,0,1) 100%, rgba(241,46,27,1) 100%);
    border: none;
    .card-text3{
      margin-left: 2.083vw;
      color: #ffffff;
      font-size: 21px;
      line-height: 103.6%;
      font-weight: 500;
      font-family: 'Poppins', sans-serif;
      text-align: start;
    }

    .icons path{
      fill: #fff;
    }
  }

}


.icon-text{
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  top: 33px;
}





