<div class="container">
  <div class="row row-12">
    <div class="col-4">
      <mat-card class="process-card1 rounded-lg">
        <div class="icon-text" style="display: flex; align-items: center; justify-content: center">
          <img src="assets/svg/Star.svg" width="45" height="45">
          <p class="card-text1">Sign up and pick<br/> a suitable plan </p>
        </div>
      </mat-card>
    </div>
    <div class="col-4">
      <mat-card class="process-card2 rounded-lg">
        <div class="icon-text" style="display: flex; align-items: center; justify-content: center">
          <img src="assets/svg/Presentation.svg" width="45" height="45">
          <p class="card-text2">Schedule a call <br/> with us </p>
        </div>
      </mat-card>
    </div>
    <div class="col-4">
      <mat-card class="process-card3 ">
        <div class="icon-text" style="display: flex; align-items: center; justify-content: center">
          <img src="assets/svg/Clock.svg" width="45" height="45">
          <p class="card-text3">Get your work done, <br/> in no time </p>
        </div>
      </mat-card>
    </div>
  </div>
</div>


