@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,400;9..40,700&family=Poppins:wght@500;600&display=swap');
@import 'cal-sans';
@import 'swiper/swiper-bundle.min.css';



.blockchaindev-mobile{
  background: var(--blockchaindev-page-bg-color);
}
.blockchaindev-container-mobile{
  margin: auto;
  max-width: 375px;
}

.mobile-hero-text {
  color: var(--blockchaindev-page-hero-text-color);
  font-family: Cal Sans, serif;
  text-align: center;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 102.1%;
}


.highlight-mobi{
  background: var(--blockchaindev-page-hero-highlight-text-color);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: Cal Sans, serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 102.1%;
}

.move-dashboard-btn-mobi{
  width: 232px;
  height: 43px;
  border-radius: 26px;
  border: var(--blockchaindev-page-hero-move-dashboard-btn-border);
  background: transparent;
  color: var(--blockchaindev-page-hero-move-dashboard-btn-txt-color);
  text-align: center;
  font-family: Poppins, serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 103.6%;
  margin-top: 25px;
}


.description-bar-mobile{
  margin-top: 25px;
}
.grid-items{
  display: grid;
  grid-template-columns: 375px;
  gap: 15px;
}


.description-card-mobile{
  width: 375px;
  height: 93px;
  border-radius: 12px;
  background: var(--blockchaindev-page-des-card-bg-color);
  align-items: center;
  padding-left: 18px;

  .title-mobile{
    color: var(--blockchaindev-page-des-card-title-color);
    font-family: Cal Sans, serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 102.1%;
  }
  .development-txt{
    color: var(--blockchaindev-page-des-card-title-development-txt);
    font-family: Cal Sans, serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 102.1%;
  }


  .icons-light{
    display: var(--blockchaindev-mobile-page-icons-display);
  }

  .icons-dark{
    display: var(--blockchaindev-mobile-page-icons-display-dark);
  }

  .icons-dark path:nth-child(1){
    stroke: #73E69B;
    stroke-width:2;
  }
  .icons-dark circle{
    stroke: #73E69B;
    stroke-width:2;
  }

}

.description-card-mobile:hover{
  background: var(--blockchaindev-mobile-page-des-card-hover);
  background-repeat: no-repeat;
  background-size: cover;

  .icons-light path:nth-child(1){
    fill: var(--blockchaindev-mobile-page-des-hover-icon-div-bg-color);
  }
  .icons-light circle{
    fill: var(--blockchaindev-mobile-page-des-hover-icon-div-bg-color);
  }

  .icons-light path:not(:nth-child(1)){
    fill:var(--blockchaindev-page-des-hover-icon-path);
  }
  .icons-light rect{
    fill:var(--blockchaindev-page-des-hover-icon-path);
  }

  .icons-dark path:nth-child(1){
    stroke: none;
    fill: #73E69BFF;
  }

  .icons-dark path:nth-child(1){
    stroke: none;
    fill: #73E69BFF;
  }
  .icons-dark circle{
    stroke: none;
    fill: #73E69BFF;
  }
  .icons-dark path:not(:nth-child(1)){
    fill: #14161AFF;
  }
  .icons-dark rect{
    fill: #14161AFF;
  }
  .title-mobile{
    color: #fff;
  }

  .development-txt{
    color: var(--blockchaindev-page-des-hover-development-txt);
  }

  .card-des{
    color: #FFF;
  }
}


.price-grid-items{
  display: grid;
  grid-template-columns: 375px;
  grid-template-rows:341px;
  gap: 21px;
  margin-top: 27px;
  border-radius: 18px;
  justify-content: center;
  align-items: center;

}

.price-card-item{
  border-radius: 16.88px;
  border: 2.813px solid rgba(255, 255, 255, 0.03);
  background: var(--blockchaindev-mobile-page-price-card-item);
  backdrop-filter: blur(9.565333366394043px);
  height: 341px;
  padding: 35px 30px 20px 30px;

  .pkg-type{
    color: var(--blockchaindev-mobile-page-price-card-pkg-type);
    font-family: Cal Sans, serif;
    font-size: 23px;
    font-style: normal;
    font-weight: 600;
    line-height: 96.6%;
  }
  .price{
    color: var(--blockchaindev-mobile-page-price-card-pkg-type);
    font-family: Cal Sans, serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: 96.6%;
    margin-top: 4px;
  }

  .pkg-item{
    color: var(--blockchaindev-mobile-page-price-card-pkg-type);
    font-family: Poppins, serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 96.6%;

    ul{
      list-style: inside !important;
      li{
        margin-top: 30px;

      }
    }
  }
  .order-now-btn{
    width: 303px;
    height: 50px;
    border-radius: 25px;
    border: var(--blockchaindev-mobile-page-price-card-order-now-btn-border);
    text-align: center;
    font-family: Poppins, serif;
    color: var(--blockchaindev-mobile-page-price-card-order-now-btn-text);
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 103.6%;
    margin-top: 36px;
  }
}


.price-card-mid-mobi{
  height: 341px;
  border-radius: 25px;
  //border: 2.813px solid rgba(255, 255, 255, 0.03);
  background: var(--blockchaindev-mobile-page-price-card-order-now-btn-mid);
  backdrop-filter: blur(9.565333366394043px);
  padding: 18px 30px 20px 30px;

  .pkg-tag-mid{
    width: 123px;
    height: 32px;
    border-radius: 16px;
    background: #F2AD13;
    text-align: center;
    color: #060708;
    font-family: Poppins, serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 96.6%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .pkg-type-mid-mobi{
    color: #fff;
    font-family: Cal Sans, serif;
    font-size: 22.507px;
    font-style: normal;
    font-weight: 600;
    line-height: 96.6%;
  }

  .price-mid-mobi{
    color: #fff;
    font-family: Cal Sans, serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: 96.6%;
    margin-top: 4px;
  }

  .pkg-item-mid-mobi{
    color: #fff;
    font-family: Poppins, serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 96.6%;

    ul{
      list-style: inside !important;

      li{
        margin-top: 25px;
      }
    }
  }
  .order-now-btn-mid-mobi{
    width: 303px;
    height: 50px;
    border-radius: 25px;
    border: none;
    color: #000;
    background: var(--blockchaindev-page-order-now-mid-btn-bg-color);
    text-align: center;
    font-family: Poppins, serif;
    font-size: 14.067px;
    font-style: normal;
    font-weight: 700;
    line-height: 103.6%;
    margin-top: 36px;
  }
}


.mySwiper{
  height: 476px;
  border-radius: 14.339px;
  background: var(--blockchaindev-mobile-page-price-plan-card-bg);
  margin-top: 27px;
}
.comp-plans-card{
  justify-content: start;
  //display: grid;
  //grid-template-columns: 300px;
  padding: 28px 0 0 26px;
}
.comp-plans-card-title{
  color: var(--blockchaindev-mobile-page-price-plan-card-title);
  font-family: Cal Sans, serif;
  font-size: 22.507px;
  font-style: normal;
  font-weight: 600;
  line-height: 96.6%;
}


.comp-plans-card-type{
  color: var(--blockchaindev-mobile-page-price-plan-card-type);
  text-align: start;
  font-family: Cal Sans, serif;
  font-size: 22.507px;
  font-style: normal;
  font-weight: 600;
  line-height: 96.6%;
  margin-top: 26px;
}
.comp-plans-card-items{
  color: var(--blockchaindev-mobile-page-price-plan-card-item);
  font-family: Poppins, serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 96.6%;

  ul{
    //list-style: inside !important;

    li{
      margin-top: 29px;
    }
  }

}



.swiper-pagination-bullet {
  opacity: 0.2;
  background: var(--blockchaindev-mobile-page-price-plan-card-item) !important;
}
.swiper-pagination-bullet-active {
  background: var(--blockchaindev-mobile-page-price-plan-card-title) !important;
  opacity: 1;
}



.bold-point{
  display: list-item !important;
  list-style-type: disc !Important;
  list-style: inside;
}

.question-container{
  margin-top: 32px;
}
.question-container-title{
  color: var(--blockchaindev-page-question-container-title);
  font-family: Cal Sans, serif;
  font-size: 22.507px;
  font-style: normal;
  font-weight: 600;
  line-height: 96.6%;

}


.mat-expansion-panel{
  margin-top: 20px !important;
  border-radius: 12px !important;
  box-shadow: none !important;
  background: var(--blockchaindev-page-question-container-mat-expansion-panel) !important;
}

.mat-expansion-panel-header{
  height: 81px !important;
  border-radius: 12px !important;
  box-shadow: none !important;
  padding: 0 25px !important;
}

.mat-expansion-panel-header-title{
  color: var(--blockchaindev-page-question-container-mat-expansion-panel-header-title) !important;
  font-family: Poppins, serif !important;
  font-size: 18px !important;
  font-style: normal !important;
  font-weight: 600 !important;
  line-height: 144.1% !important;
}

.mat-expansion-indicator::after {
  border-style: solid;
  border-width: 0 2px 2px 0;
  content: "";
  display: inline-block;
  padding: 3px;
  transform: rotate(45deg);
  vertical-align: middle;
  color: var(--blockchaindev-page-question-container-mat-expansion-panel-header-title) !important;
  width: 12px !important;
  height: 12px !important;
  border-color: var(--blockchaindev-page-question-container-mat-expansion-panel-header-title);
}

.mat-expansion-panel-body{
  color: var(--blockchaindev-page-question-container-mat-expansion-panel-body);
  font-family: Poppins, serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 144.1%;
  padding: 0 25px 16px !important;
}


.dev-call-container-mobi{
  height: 77px;
  border-radius: 91px;
  background: var(--blockchaindev-page-call-container);
  justify-content: space-between;
  align-items: center;
  padding: 0 20px 0 37px;
  margin-top: 22px;
  margin-bottom: 40px;

  .label{
    color: #FFF;
    font-family: Cal Sans, serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 96.6%;
  }
  .book-cl-bnt{
    width: 139px;
    height: 38px;
    border-radius: 64px;
    background: #FFF;
    color: var(--blockchaindev-page-call-container-book-cl-btn-text-color);
    text-align: center;
    font-family: Poppins, serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 122.1%;
  }
}
