@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,400;9..40,700&family=Poppins:wght@500;600&display=swap');
@import 'cal-sans';


.blockchaindev{
  background: var(--blockchaindev-page-bg-color);
}
.blockchaindev-container{
  margin: auto;
  max-width: 900px;
  //height: 100vh;
}

.hero-title{
  color: var(--blockchaindev-page-hero-text-color);
  font-family: Cal Sans, serif;
  font-size: 45px;
  font-style: normal;
  font-weight: 600;
  line-height: 102.1%;
  margin: 142px 0 4px 56px;
}

.highlight{
  background: var(--blockchaindev-page-hero-highlight-text-color);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: Cal Sans, serif;
  font-size: 45px;
  font-style: normal;
  font-weight: 600;
  line-height: 102.1%;
}

.move-dashboard-btn{
  width: 232px;
  height: 53px;
  border-radius: 26.5px;
  border: var(--blockchaindev-page-hero-move-dashboard-btn-border);
  background: transparent;
  color: var(--blockchaindev-page-hero-move-dashboard-btn-txt-color);
  text-align: center;
  font-family: Poppins, serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 103.6%;
  margin-top: 32px;
}
.col-4{
  width: 300px !important;
}
.blockchain-description{
  display: grid;
  grid-template-columns: 439.024px 439.024px;
  gap: 22px;
  margin-top: 92px;
}
.des-card{
  width: 439.024px;
  height: 266.707px;
  background: var(--blockchaindev-page-des-card-bg-color);
  border-radius: 18px;

  .des-card-cont{
    padding: 28px 28px 28px 28px;
  }

  .icon-div{
    width: 61px;
    height: 61px;
    border-radius: 50%;
    background: var(--blockchaindev-page-des-card-icon-div-bg-color);
    justify-content: center;
    border:var(--blockchaindev-page-des-card-icon-div-border);

    .icons path{
      fill:var(--blockchaindev-page-des-card-icon-color);
    }
    .icons rect{
      fill:var(--blockchaindev-page-des-card-icon-color);
    }
    .icon1{
      position: relative;
      top: 10px;
      left: 10px;
    }
    .icon2{
      position: relative;
      top: 11px;
      left: 17px;
    }
    .icon3{
      position: relative;
      top: 14px;
      left: 17px;
    }
    .icon4{
      position: relative;
      top: 16px;
      left: 11px;
    }
    .icon5{
      position: relative;
      top: 16px;
      left: 17px;
    }
    .icon6{
      position: relative;
      top: 19px;
      left: 13px;
    }
  }

  .card-title{
    color: var(--blockchaindev-page-des-card-title-color);
    font-family: Cal Sans, serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 102.1%;
    margin-top: 21px;
  }

  .development-txt{
    color: var(--blockchaindev-page-des-card-title-development-txt);
    font-family: Cal Sans, serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 102.1%;
  }

  .card-des{
    color: var(--blockchaindev-page-des-card-card-des-text-color);
    font-family: Poppins, serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 120%;
    margin-top: 8px;
  }

  .icons-light{
    display: var(--blockchaindev-mobile-page-icons-display);
  }

  .icons-dark{
    display: var(--blockchaindev-mobile-page-icons-display-dark);
  }

  .icons-dark path:nth-child(1){
    stroke: #73E69B;
    stroke-width:2;
  }
  .icons-dark circle{
    stroke: #73E69B;
    stroke-width:2;
  }
}

.des-card:hover{
  background: var(--blockchaindev-page-des-card-hover);

  //.icon-div{
  //  background: var(--blockchaindev-page-des-hover-icon-div-bg-color);
  //  border: none;
  //}
  //.icons path{
  //  fill:var(--blockchaindev-page-des-hover-icon-path);
  //}
  //.icons rect{
  //  fill:var(--blockchaindev-page-des-hover-icon-path);
  //}

  .icons-light path:nth-child(1){
    fill: var(--blockchaindev-mobile-page-des-hover-icon-div-bg-color);
  }
  .icons-light circle{
    fill: var(--blockchaindev-mobile-page-des-hover-icon-div-bg-color);
  }

  .icons-light path:not(:nth-child(1)){
    fill:var(--blockchaindev-page-des-hover-icon-path);
  }
  .icons-light rect{
    fill:var(--blockchaindev-page-des-hover-icon-path);
  }

  .icons-dark path:nth-child(1){
    stroke: none;
    fill: #73E69BFF;
  }

  .icons-dark path:nth-child(1){
    stroke: none;
    fill: #73E69BFF;
  }
  .icons-dark circle{
    stroke: none;
    fill: #73E69BFF;
  }
  .icons-dark path:not(:nth-child(1)){
    fill: #14161AFF;
  }
  .icons-dark rect{
    fill: #14161AFF;
  }


  .card-title{
    color: #fff;
  }

  .development-txt{
    color: var(--blockchaindev-page-des-hover-development-txt);
  }

  .card-des{
    color: #FFF;
  }
}

.price-container{
  display: grid;
  grid-template-columns: 264.453px 264.453px 264.453px;
  grid-template-rows: 396px;
  gap: 22px;
  margin-top: 55px;
  border-radius: 18px;
  background: var(--blockchaindev-page-price-container-bg-color);
  justify-content: center;
  align-items: center;
}

.price-card{
  width: 264.453px;
  height: 341.351px;
  border-radius: 17px;
  border: 2.813px solid rgba(255, 255, 255, 0.03);
  background: rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(9.565333366394043px);
  padding: 36px 0 20px 27px;

  .pkg-type{
    color: #fff;
    font-family: Cal Sans, serif;
    font-size: 22.507px;
    font-style: normal;
    font-weight: 600;
    line-height: 96.6%;
  }

  .price{
    color: #fff;
    font-family: Cal Sans, serif;
    font-size: 42.2px;
    font-style: normal;
    font-weight: 600;
    line-height: 96.6%;
    margin-top: 4px;
  }

  .pkg-item{
    color: #fff;
    font-family: Poppins, serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 96.6%;

    ul{
      list-style: inside !important;
      li{
        margin-top: 25px;

      }
    }
  }
  .order-now-btn{
    width: 214px;
    height: 41px;
    border-radius: 16.88px;
    border: 3px solid #fff;
    color: #fff;
    text-align: center;
    font-family: Poppins, serif;
    font-size: 14.067px;
    font-style: normal;
    font-weight: 700;
    line-height: 103.6%;
    margin-top: 51px;
  }
}
.upwards{
  color:#fff;
  font-family: Cal Sans, serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: 96.6%;
}

.price-card-mid{
  border-radius: 17px;
  border: 2.813px solid rgba(255, 255, 255, 0.03);
  background: rgba(0, 0, 0, 0.43);
  backdrop-filter: blur(9.565333366394043px);
  padding: 18px 0 20px 27px;
  width: 264.453px;
  height: 341.351px;

  .pkg-tag{
    width: 108px;
    height: 23px;
    border-radius: 23px;
    background: #F2AD13;
    text-align: center;
    color: #060708;
    font-family: Poppins, serif;
    font-size: 11px;
    font-style: normal;
    font-weight: 600;
    line-height: 96.6%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .pkg-type-mid{
    color: #fff;
    font-family: Cal Sans, serif;
    font-size: 22.507px;
    font-style: normal;
    font-weight: 600;
    line-height: 96.6%;
  }

  .price-mid{
    color: #fff;
    font-family: Cal Sans, serif;
    font-size: 42.2px;
    font-style: normal;
    font-weight: 600;
    line-height: 96.6%;
    margin-top: 4px;
  }

  .pkg-item-mid{
    color: #fff;
    font-family: Poppins, serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 96.6%;

    ul{
      list-style: inside !important;

      li{
        margin-top: 25px;
      }
    }
  }
  .order-now-btn-mid{
    width: 214px;
    height: 41px;
    border-radius: 16.88px;
    border: none;
    color: #000;
    background: var(--blockchaindev-page-order-now-mid-btn-bg-color);
    text-align: center;
    font-family: Poppins, serif;
    font-size: 14.067px;
    font-style: normal;
    font-weight: 700;
    line-height: 103.6%;
    margin-top: 47px;
  }
}



.pricing-table-container {
  width: 900px;
  height: 444px;
  border-radius: 14.339px;
  background: var(--blockchaindev-page-pricing-table-container);
  display: grid;
  justify-content: center;
  align-items: center;
  margin-top: 34px;
}
.price-table {
  width: 810px;;
  border: none;
  border-collapse:separate;
  border-spacing:0 10px;
}
.price-table tr:not(:last-child) {
  border:none;
}
.price-table tr td {
  border-left: none;
  padding: 8px 24px;
}
.price-table tr td:first-child {
  border-left: none;
}

.price-table tr {
  background: var(--blockchaindev-page-pricing-table-container-tr);
  width: 810px;
  height: 52px;
  border-radius: 5px;
}
//.price-table tr:hover {
//  background-color: #F1F3FF;
//}

tbody > tr > td:nth-child(3) {
  background: var(--blockchaindev-page-pricing-table-td-3rd-child);
  width: 177px;
}
tbody > tr > td:nth-child(4) {
  width: 109px;
}

tbody > tr > td:nth-child(2) {
  width: 109px;
}

.price-table tr.price-table-head {
  background-color: var(--blockchaindev-page-pricing-table-container);
  color: #000;
}

.table-name{
  color: var(--blockchaindev-page-table-name-txt-color);
  text-align: start;
  font-family: Cal Sans, serif;
  font-size: 22.507px;
  font-style: normal;
  font-weight: 600;
  line-height: 96.6%;
}

.table-col{
  color: var(--blockchaindev-page-table-col-txt-color);
  text-align: center;
  font-family: Cal Sans, serif;
  font-size: 22.507px;
  font-style: normal;
  font-weight: 600;
  line-height: 96.6%;
}

//.table-col-mid{
//  color: #310C7E;
//  text-align: center;
//  font-family: Cal Sans, serif;
//  font-size: 22.507px;
//  font-style: normal;
//  font-weight: 600;
//  line-height: 96.6%;
//}
.table-items{
  color: var(--blockchaindev-page-pricing-table-items-color);
  font-family: Poppins, serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 96.6%;
  display: list-item;
  list-style-position: inside;
  margin-top: 10px;
}

.price-plan-icon path{
  fill: var(--blockchaindev-page-pricing-table-icon-color);
}


.question-container{
  margin-top: 34px;
}
.question-container-title{
  color: var(--blockchaindev-page-question-container-title);
  font-family: Cal Sans, serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 96.6%;
  margin-bottom: 31px;
  display: flex;
  justify-content: center;
  align-items: center;
}


.mat-expansion-panel{
  margin-top: 20px !important;
  border-radius: 10px !important;
  box-shadow: none !important;
  background: var(--blockchaindev-page-question-container-mat-expansion-panel) !important;
}

.mat-expansion-panel:not(.mat-expanded)
.mat-expansion-panel-header:hover:not([aria-disabled="true"]) {
  background-color: var(--blockchaindev-page-question-container-mat-expansion-panel) !important;
}

.mat-expansion-panel-header{
  height: 79px !important;
  border-radius: 10px !important;
  box-shadow: none !important;
  padding: 0 46px !important;
}

.mat-expansion-panel-header-title{
  color: var(--blockchaindev-page-question-container-mat-expansion-panel-header-title) !important;
  font-family: Poppins, serif !important;
  font-size: 21px !important;
  font-style: normal !important;
  font-weight: 600 !important;
  line-height: 144.1% !important;
}

::ng-deep .expantion-panel-blockchain .mat-expansion-indicator::after {
   border-style: solid;
   border-width: 0 2px 2px 0;
   content: "";
   display: inline-block;
   padding: 3px;
   transform: rotate(45deg);
   vertical-align: middle;
   color: var(--blockchaindev-page-question-container-mat-expansion-panel-header-title) !important;
   width: 12px !important;
   height: 12px !important;
  border-color: var(--blockchaindev-page-question-container-mat-expansion-panel-header-title);
}

::ng-deep .expantion-panel-blockchain .mat-expansion-panel-body{
  color: var(--blockchaindev-page-question-container-mat-expansion-panel-body);
  font-family: Poppins, serif;
  font-size: 21px;
  font-style: normal;
  font-weight: 300;
  line-height: 144.1%;
  padding: 0 46px 16px !important;
}


.dev-call-container{
  height: 77px;
  border-radius: 91px;
  background: var(--blockchaindev-page-call-container);
  justify-content: space-between;
  align-items: center;
  padding: 0 46px 0 46px;
  margin-top: 22px;
  margin-bottom: 40px;

  .label{
    color: #FFF;
    font-family: Cal Sans, serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 96.6%;
  }
  .book-cl-bnt{
    width: 225px;
    height: 52px;
    border-radius: 64px;
    background: #FFF;
    color: var(--blockchaindev-page-call-container-book-cl-btn-text-color);
    text-align: center;
    font-family: Poppins, serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 122.1%;
  }
}

$t: 1s;

@property --k {
  syntax: '<number>';
  initial-value: -1;
  inherits: true
}


.book-call {
  --m: 3;
  grid-area: 2/ 1/ span 1/ span 2;
  position: relative;
  //border: solid 2em transparent;
  //padding: 0.5em 3.25em;
  border-radius: 5em;
  box-shadow: inset 0 0 1px #5827D0FF;
  background: #FFF;
  color: var(--blockchaindev-page-call-container-book-cl-btn-text-color);
  font: 700 1.5em/ 1 montserrat, sans-serif;

  #slow:checked ~ & { --m: 5 }
  width: 225px;
  height: 52px;
  //color: var(--call-bar-btn-text-color);
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 122.1%;
  //border: var(--call-bar-btn-border-color);
}

.book-call:hover{
  --m: 1;
}

@keyframes k { 0%, 33.3% { --k: 1 } }

.particle {
  --f: 1;
  --pos-k: max(0, var(--k));
  --neg-k: max(0, -1*var(--k));
  --low-c: min(1, 4*(1 - var(--pos-k)));
  --abs-d: max(var(--neg-k) - .5, .5 - var(--neg-k));
  --mov-f: var(--pos-k);
  display: grid;
  position: absolute;
  left: var(--x); top: var(--y);
  rotate: var(--a);
  animation: k calc(var(--m)*#{$t}) linear calc(var(--m)*var(--t, 0)*#{$t}) infinite;

  @supports (scale: sqrt(4)) { --mov-f: sqrt(var(--pos-k)) }

  &::before, &::after {
    grid-area: 1/ 1;
    width: .75em;
    aspect-ratio: 1
  }

  &::before {
    --sa: calc(min(1, 1 - 2*min(.5, var(--mov-f)))*45deg);
    border-radius: calc(1.25*min(.8, var(--mov-f))*50%) 50% 50%;
    transform-origin: 0 0;
    translate: calc(var(--mov-f)*var(--d));
    rotate: -45deg;
    scale: var(--f);
    transform: skew(var(--sa), var(--sa));
    opacity: var(--low-c);
    filter: Saturate(var(--low-c));
    background: radial-gradient(at 85% 85%, var(--blockchaindev-page-call-container-book-cl-btn-text-color), #eaddff 75%);
    content: ''
  }

  &::after {
    translate: -50% -50%;
    scale: calc(var(--f)*(1 - 2*var(--abs-d)));
    text-align: center;
    filter: blur(.5px);
    content: '✦'
  }

}



//////////////////////////

.blockchaindev-mobile{
  display: none;
}
@media screen and (max-width: 900px) {
  .blockchaindev-mobile{
    display: block;
  }
  .blockchaindev{
    display: none;
  }
  .block-dev-nav{
    display: none;
  }
}

