<div class="container">
    <div class="container-fluid">
        <div class="flex justify-between gap-5 items-start max-md:flex-wrap">
            <img loading="lazy" src="assets/svg/coullax_logo.svg" class="aspect-squre object-contain object-center w-[132px] overflow-hidden shrink-0 max-w-full" />
            <div class="self-stretch flex items-stretch justify-between gap-4 max-md:justify-center">
              <img loading="lazy" src="assets/footer_Social/Instagram.svg" class="aspect-square object-contain object-center w-[50px] overflow-hidden shrink-0 max-w-full" />
              <img loading="lazy" src="assets/footer_Social/Facebook.svg" class="aspect-square object-contain object-center w-[49px] overflow-hidden shrink-0 max-w-full" />
              <img loading="lazy" src="assets/footer_Social/Twitter.svg" class="aspect-square object-contain object-center w-[50px] overflow-hidden shrink-0 max-w-full" />
            </div>
        </div>
    </div>
</div>
