
.coullax-logo path {
  fill: var(--nav-coullax-logo-color);
}
.footer-container{
  padding-bottom: 20px;
}

.footer-container-mobile{
  display: none;
}

.footer-sco{
  cursor: pointer;
}
@media screen and (max-width: 900px) {
  .footer-container{
    display: none;
  }

  .footer-container-mobile{
    display: block;
  }
}
