<!--<div class="container">-->
<!--  <div class="row" style="max-width: 1220px">-->
<!--    <div class="col-4">-->
<!--      <mat-card class="service-card">-->
<!--        <mat-card-header>-->
<!--          <mat-card-title class="service-title">NFT Creations</mat-card-title>-->
<!--        </mat-card-header>-->
<!--        <mat-card-content align="start">-->
<!--          <div class="details">-->
<!--            <ul>-->
<!--              <li>NFT Creation</li>-->
<!--              <li>2D / 3D</li>-->
<!--              <li>Animation NFT</li>-->
<!--            </ul>-->
<!--          </div>-->
<!--        </mat-card-content>-->
<!--        <mat-card-content align="start">-->
<!--          <div class="price">From 99$</div>-->
<!--        </mat-card-content>-->
<!--        <mat-card-actions align="end">-->
<!--          <button class="order-btn">Order Now</button>-->
<!--        </mat-card-actions>-->
<!--      </mat-card>-->
<!--    </div>-->
<!--    <div class="col-4">-->
<!--      <mat-card class="service-card">-->
<!--        <mat-card-header>-->
<!--          <mat-card-title class="service-title">Brand Development</mat-card-title>-->
<!--        </mat-card-header>-->
<!--        <mat-card-content align="start">-->
<!--          <div class="details">-->
<!--            <ul>-->
<!--              <li>Log design</li>-->
<!--              <li>Brand material design</li>-->
<!--              <li>Brand management</li>-->
<!--            </ul>-->
<!--          </div>-->
<!--        </mat-card-content>-->
<!--        <mat-card-content align="start">-->
<!--          <div class="price">From 99$</div>-->
<!--        </mat-card-content>-->

<!--        <mat-card-actions align="end">-->
<!--          <button class="order-btn">Order Now</button>-->
<!--        </mat-card-actions>-->
<!--      </mat-card>-->
<!--    </div>-->
<!--    <div class="col-4">-->
<!--      <mat-card class="service-card">-->
<!--        <mat-card-header>-->
<!--          <mat-card-title class="service-title">Social Media Management</mat-card-title>-->
<!--        </mat-card-header>-->
<!--        <mat-card-content align="start">-->
<!--          <div class="details">-->
<!--            <ul>-->
<!--              <li>Content Design</li>-->
<!--              <li>Content planing</li>-->
<!--              <li>Social media management</li>-->
<!--            </ul>-->
<!--          </div>-->
<!--        </mat-card-content>-->
<!--        <mat-card-content align="start">-->
<!--          <div class="price">From 99$</div>-->
<!--        </mat-card-content>-->
<!--        <mat-card-actions align="end">-->
<!--          <button class="order-btn">Order Now</button>-->
<!--        </mat-card-actions>-->
<!--      </mat-card>-->
<!--    </div>-->
<!--  </div>-->

<!--  <div class="row " style="margin-top: 20px">-->
<!--    <div class="col-4" >-->
<!--      <mat-card class="service-card">-->
<!--        <mat-card-header>-->
<!--          <mat-card-title class="service-title">UI / UX</mat-card-title>-->
<!--        </mat-card-header>-->
<!--        <mat-card-content align="start">-->
<!--          <div class="details">-->
<!--            <ul class="list">-->
<!--              <li>UI Design</li>-->
<!--              <li>UX Research</li>-->
<!--              <li>Product Design</li>-->
<!--            </ul>-->
<!--          </div>-->
<!--        </mat-card-content>-->
<!--        <mat-card-content align="start">-->
<!--          <div class="price">From 99$</div>-->
<!--        </mat-card-content>-->
<!--        <mat-card-actions align="end">-->
<!--          <button class="order-btn">Order Now</button>-->
<!--        </mat-card-actions>-->
<!--      </mat-card>-->
<!--    </div>-->
<!--    <div class="col-4">-->
<!--      <mat-card class="service-card">-->
<!--        <mat-card-header>-->
<!--          <mat-card-title class="service-title">Web & Software Development</mat-card-title>-->
<!--        </mat-card-header>-->
<!--        <mat-card-content align="start">-->
<!--          <div class="details">-->
<!--            <ul>-->
<!--              <li>Web design</li>-->
<!--              <li>Web development</li>-->
<!--              <li>Web maintenance</li>-->
<!--            </ul>-->
<!--          </div>-->
<!--        </mat-card-content>-->
<!--        <mat-card-content align="start">-->
<!--          <div class="price">From 99$</div>-->
<!--        </mat-card-content>-->
<!--        <mat-card-actions align="end">-->
<!--          <button class="order-btn">Order Now</button>-->
<!--        </mat-card-actions>-->
<!--      </mat-card>-->
<!--    </div>-->
<!--    <div class="col-4">-->
<!--      <mat-card class="service-card">-->
<!--        <mat-card-header>-->
<!--          <mat-card-title class="service-title">UI / UX</mat-card-title>-->
<!--        </mat-card-header>-->
<!--        <mat-card-content align="start">-->
<!--          <div class="details">-->
<!--            <ul class="list">-->
<!--              <li>UI Design</li>-->
<!--              <li>UX Research</li>-->
<!--              <li>Product Design</li>-->
<!--            </ul>-->
<!--          </div>-->
<!--        </mat-card-content>-->
<!--        <mat-card-content align="start">-->
<!--          <div class="price">From 99$</div>-->
<!--        </mat-card-content>-->
<!--        <mat-card-actions align="end">-->
<!--          <button class="order-btn">Order Now</button>-->
<!--        </mat-card-actions>-->
<!--      </mat-card>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->


<div >
  <div class="grid-items">
    <div class="items">
      <mat-card class="service-card">
        <mat-card-header>
          <mat-card-title class="service-title">NFT Creations</mat-card-title>
        </mat-card-header>
        <mat-card-content align="start">
          <div class="details">
            <ul>
              <li>NFT Creation</li>
              <li>2D / 3D</li>
              <li>Animation NFT</li>
            </ul>
          </div>
        </mat-card-content>
        <mat-card-content align="start">
          <div class="price">From 99$</div>
        </mat-card-content>
        <mat-card-actions align="end">
          <button class="order-btn">Order Now</button>
        </mat-card-actions>
      </mat-card>
    </div>

    <div class="items">
      <mat-card class="service-card">
        <mat-card-header>
          <mat-card-title class="service-title">Brand Development</mat-card-title>
        </mat-card-header>
        <mat-card-content align="start">
          <div class="details">
            <ul>
              <li>Log design</li>
              <li>Brand material design</li>
              <li>Brand management</li>
            </ul>
          </div>
        </mat-card-content>
        <mat-card-content align="start">
          <div class="price">From 99$</div>
        </mat-card-content>

        <mat-card-actions align="end">
          <button class="order-btn">Order Now</button>
        </mat-card-actions>
      </mat-card>
    </div>

    <div class="items">
      <mat-card class="service-card">
        <mat-card-header>
          <mat-card-title class="service-title">Social Media Management</mat-card-title>
        </mat-card-header>
        <mat-card-content align="start">
          <div class="details">
            <ul>
              <li>Content Design</li>
              <li>Content planing</li>
              <li>Social media management</li>
            </ul>
          </div>
        </mat-card-content>
        <mat-card-content align="start">
          <div class="price">From 99$</div>
        </mat-card-content>
        <mat-card-actions align="end">
          <button class="order-btn">Order Now</button>
        </mat-card-actions>
      </mat-card>
    </div>

    <div class="items">
      <mat-card class="service-card">
        <mat-card-header>
          <mat-card-title class="service-title">UI / UX</mat-card-title>
        </mat-card-header>
        <mat-card-content align="start">
          <div class="details">
            <ul class="list">
              <li>UI Design</li>
              <li>UX Research</li>
              <li>Product Design</li>
            </ul>
          </div>
        </mat-card-content>
        <mat-card-content align="start">
          <div class="price">From 99$</div>
        </mat-card-content>
        <mat-card-actions align="end">
          <button class="order-btn">Order Now</button>
        </mat-card-actions>
      </mat-card>
    </div>

    <div class="items">
      <mat-card class="service-card">
        <mat-card-header>
          <mat-card-title class="service-title">Web & Software Development</mat-card-title>
        </mat-card-header>
        <mat-card-content align="start">
          <div class="details">
            <ul>
              <li>Web design</li>
              <li>Web development</li>
              <li>Web maintenance</li>
            </ul>
          </div>
        </mat-card-content>
        <mat-card-content align="start">
          <div class="price">From 99$</div>
        </mat-card-content>
        <mat-card-actions align="end">
          <button class="order-btn">Order Now</button>
        </mat-card-actions>
      </mat-card>
    </div>

    <div class="items">
      <mat-card class="service-card">
        <mat-card-header>
          <mat-card-title class="service-title">UI / UX</mat-card-title>
        </mat-card-header>
        <mat-card-content align="start">
          <div class="details">
            <ul class="list">
              <li>UI Design</li>
              <li>UX Research</li>
              <li>Product Design</li>
            </ul>
          </div>
        </mat-card-content>
        <mat-card-content align="start">
          <div class="price">From 99$</div>
        </mat-card-content>
        <mat-card-actions align="end">
          <button class="order-btn">Order Now</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
