@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,400;9..40,700&family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,400;9..40,700&family=Poppins:wght@500;600&display=swap');



.grid-items{
  display: grid;
  grid-template-columns: 438.056px 438.056px;
  gap: 21px;
}
.service-card{
  width: 438.056px;
  height: 261px;
  background: var(--service-bar-card-background-color);
  border-radius: 18px;
  box-shadow: var(--service-bar-card-shadow);
  padding: 15px;
  border: var(--service-bar-card-border);

  &:hover{
    border: 3px solid #4CD05F;;
    .order-btn{
      border: none;
      background: radial-gradient(86.92% 80.73% at 47.25% 19.32%, #58D35A 0%, #00A587 100%);
      color: #fff;
    }

  }

}

.service-title{
  color: var(--service-bar-card-text-color);
  font-family: 'Poppins', sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 96.6%;
  margin-bottom: 30px;
}


.order-btn{
  border: 2px solid #24252A;
  width: 176.996px;
  height: 44px;
  border-radius: 22px;
  color: var(--service-bar-card-text-color);
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 103.6%;
}


.price{
  color: var(--service-bar-card-text-color);
  font-family: 'Poppins', sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 96.6%;
  margin-top: 30px;
}



ul{
  list-style: inside !important;
}
ul li {
  float: left;
  margin-right: 11px;
}
li{
  margin-left: 5px;
  color: var(--service-bar-card-text-color);
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}
