@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,400;9..40,700&family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,400;9..40,700&family=Poppins:wght@500;600&display=swap');

.container{
  min-width: 1220px;

}

.grid-items{
  display: grid;
  grid-template-columns: repeat(3, 390px);
  gap: 12px;
}
.service-card{
  width: 394.194px;
  height: 261px;
  background: radial-gradient(50% 50% at 50% 50%, #FBFFFE 0%, #E3F2EE 100%);
  border-radius: 18px;
  box-shadow: none;
  padding: 15px;

  &:hover{
    border: 3px solid #4CD05F;;
    .order-btn{
      border: none;
      background: radial-gradient(86.92% 80.73% at 47.25% 19.32%, #58D35A 0%, #00A587 100%);
      color: #fff;
    }

  }

}

.service-title{
  color: #24252A;
  font-family: 'Poppins', sans-serif;
  font-size: 21px;
  font-style: normal;
  font-weight: 600;
  line-height: 96.6%;
  margin-bottom: 30px;
}


.order-btn{
  border: 2px solid #24252A;
  width: 150.779px;
  height: 44px;
  border-radius: 22px;
  color: #24252A;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 103.6%;
}


.price{
  color: #232323;
  font-family: 'Poppins', sans-serif;
  font-size: 21px;
  font-style: normal;
  font-weight: 600;
  line-height: 96.6%;
  margin-top: 30px;
}



ul{
  list-style: inside !important;
}
ul li {
  float: left;
  margin-right: 14px;
}
li{
  margin-left: 5px;
  color: #24252A;
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 14.49px */
}
