@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,400;9..40,700&family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,400;9..40,700&family=Poppins:wght@500;600&display=swap');



.grid-items{
  display: grid;
  grid-template-columns: 438.056px 438.056px;
  gap: 21px;
}
.title{
  color: var(--supper-power-title-color);
  font-family: Poppins, serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 116%; /* 37.12px */
  letter-spacing: -1.6px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mat-mdc-card-content{
  padding: 0 5px 0 16px;
}
.service-card{
  width: 438.056px;
  height: 261px;
  background: var(--service-bar-card-background-color);
  border-radius: 18px;
  box-shadow: none;
  //box-shadow: var(--service-bar-card-shadow);
  padding: 15px 15px 15px 15px;
  //border: var(--service-bar-card-border);

  transition: .4s, background-position 2s;
  &:hover{
    //border: 2px solid #4CD05F;
    background: var(--service-bar-card-background-hover-color);
    background-position: left;
    .order-btn{
      border: none;
      background: #1A76F1;
      color: #fff;
    }

  }

}

//.service-card:hover{
//  background-color: var(--service-bar-card-background-hover-color);
//  background-position: left;
//  //.order-btn{
//  //  border: none;
//  //  background: #1A76F1;
//  //  color: #fff;
//  //}
//}

.service-title{
  color: var(--service-bar-card-text-color);
  font-family: 'Poppins', sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 96.6%;
  margin-bottom: 30px;
}


.order-btn{
  border:  2px solid #1A76F1;
  width: 176.996px;
  height: 44px;
  border-radius: 22px;
  color: #1A76F1;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 103.6%;
  position: relative;
  top:53px;
}


.price{
  color: var(--service-bar-card-text-color);
  font-family: 'Poppins', sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 96.6%;
  margin-top: 63px;
}



ul{
  list-style: inside !important;
}
ul li {
  float: left;
  margin-right: 11px;
}
li{
  margin-left: 4px;
  color: var(--service-bar-card-text-color);
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}

////////////////////////////////////////
.glowing-wrapper-button {
  z-index: 1;
  color: #fff;
  letter-spacing: -.01em;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, .1);
  border-radius: 62.5rem;
  padding: .7rem 1.5rem;
  font-size: .88rem;
  line-height: 1.42;
  text-decoration: none;
  position: relative;
  max-width: 100%;
  display: inline-block;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
}

.glowing-wrapper {
  border-radius: 62.5rem;
  display: inline-block;
  position: relative;
  overflow: hidden
}

.glowing-wrapper.glowing-wrapper-active {
  background-color: #1A76F1;
}

.glowing-wrapper-borders-masker {
  width: 100%;
  opacity: 0;
  border-radius: 62.5rem;
  padding: .11rem;
  line-height: 100%;
  transition: opacity 1s;
  position: absolute;
  top: 0;
  left: 0
}

.glowing-wrapper .button-text {
  z-index: 2;
  // color: transparent;
  // -webkit-text-fill-color: transparent;
  // background-image: linear-gradient(rgba(255, 255, 255, .8), #fff);
  // -webkit-background-clip: text;
  // background-clip: text;
  // font-weight: 400;
  color: #fff;
  position: relative
}

.glowing-wrapper-animations {
  width: 100%;
  opacity: 0;
  transition: opacity 1s;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)
}

.glowing-wrapper-mask {
  opacity: 1
}

.glowing-wrapper-glow {
  opacity: .12;
  filter: blur(8px)
}

.glowing-wrapper-borders {
  width: 100%;
  opacity: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)
}

.glowing-wrapper-mask-wrapper {
  opacity: 1
}

.glowing-wrapper-button:after {
  background: radial-gradient(85% 120% at 50% 120%, rgba(255, 255, 255, .24) 0%, rgba(255, 255, 255, 0) 100%);
  border-radius: 999px;
  content: "";
  height: calc(100% + 4px);
  left: -2px;
  opacity: 0;
  position: absolute;
  top: -2px;
  transition: 1s all;
  width: calc(100% + 4px)
}

.glowing-wrapper-button:hover:after {
  opacity: .7
}


.glowing-wrapper-active .glowing-wrapper-animations,
.glowing-wrapper-active .glowing-wrapper-borders-masker {
  opacity: 1
}

.glowing-wrapper-animations:before,
.glowing-wrapper-borders:before {
  content: "";
  float: left;
  padding-top: 100%
}

.glowing-wrapper-animations:after,
.glowing-wrapper-borders:after {
  clear: both;
  content: "";
  display: block
}

.glowing-wrapper-animations {
  pointer-events: none;
}

.glowing-wrapper-animations * {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%
}

.glowing-wrapper-borders,
.glowing-wrapper-glow,
.glowing-wrapper-mask {
  animation: borderTurn 2.5s infinite linear;
  background-image: conic-gradient(from 0 at 50% 50%, rgba(255, 255, 255, .5) 0deg, rgba(255, 255, 255, 0) 60deg, rgba(255, 255, 255, 0) 310deg, rgba(255, 255, 255, .5) 360deg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover
}

.glowing-wrapper-mask-wrapper {
  -webkit-mask: url("data:image/svg+xml,url('data:image/svg+xml,%253Csvg width='28' height='24' viewBox='0 0 28 24' fill='none' xmlns='http://www.w3.org/2000/svg'%253E%253Crect width='28' height='24' fill='black'/%253E%253C/svg%253E%250A');");
  mask: url("data:image/svg+xml,url('data:image/svg+xml,%253Csvg width='28' height='24' viewBox='0 0 28 24' fill='none' xmlns='http://www.w3.org/2000/svg'%253E%253Crect width='28' height='24' fill='black'/%253E%253C/svg%253E%250A');");
  mask-repeat: repeat;
  -webkit-mask-size: auto;
  mask-size: auto
}

.glowing-wrapper-borders {
  animation-name: borderTurnWithTranslate
}

.glowing-wrapper-borders-masker {
  content: "";
  inset: 0;
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  mask-composite: xor;
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  pointer-events: none;
}

@keyframes borderTurn {
  0% {
    transform: rotate(0)
  }

  to {
    transform: rotate(360deg)
  }
}

@keyframes borderTurnWithTranslate {
  0% {
    transform: translate(-50%, -50%) rotate(0)
  }

  to {
    transform: translate(-50%, -50%) rotate(360deg)
  }
}

.close-button {
  background: transparent;
  border-radius: 50%;
  animation: animate 3s linear infinite;
}

@keyframes animate {
  0% {
    box-shadow: 0 0 0 0 rgba(48, 0, 117, .7), 0 0 0 0 rgba(48, 0, 117, .7);
  }

  40% {
    box-shadow: 0 0 0 20px rgba(48, 0, 117, 0), 0 0 0 0 rgba(48, 0, 117, .7);
  }

  80% {
    box-shadow: 0 0 0 20px rgba(48, 0, 117, 0), 0 0 0 30px rgba(48, 0, 117, 0);
  }

  100% {
    box-shadow: 0 0 0 0 rgba(48, 0, 117, 0), 0 0 0 30px rgba(48, 0, 117, 0);
  }
}
/////////////////////////
:root {
  --text-color: #a1a1a1;
  --accent-color: #111;
  --geist-foreground-rgb: 255, 255, 255;
  --border-radius: 12px;
}
.gradient-border-card {
  position: relative;
  //padding: 40px;
  border-radius: 18px;
  flex: 1 1;
  transition: background .2s ease-in-out,box-shadow .2s ease-in-out;
  box-shadow: 0 0 0 1px transparent, 0 2px 4px transparent, 0 12px 24px transparent;
  cursor: pointer;
  height: 100%;
  z-index: 1;
  @keyframes shimmer {
    0% {
      opacity: 0
    }

    5% {
      opacity: 0;
      background-position: -50%
    }

    10% {
      opacity: .7
    }

    15% {
      opacity: 0;
      background-position: 150%
    }

    20% {
      opacity: 0
    }

    to {
      opacity: 0
    }
  }
  .shimmer {
    background: linear-gradient(112deg,transparent 30%,rgba(var(--geist-foreground-rgb),.1) 40%,rgba(var(--geist-foreground-rgb),.3) 50%,rgba(var(--geist-foreground-rgb),.1) 60%,transparent 80%);
    position: absolute;
    inset: 0;
    z-index: 20;
    pointer-events: none;
    border-radius: inherit;
    background-size: 200% auto;
    background-position: 0;
    animation: shimmer 18s cubic-bezier(.8,0,.05,1) infinite;
    animation-delay: var(--delay);
  }
  i {
    content: "";
    position: absolute;
    inset: -1px;
    padding: var(--border-size);

    --border-size: 1px;
    --padding: 1px;
    --border-bg: conic-gradient(from 180deg at 50% 50%,#1A76F1  0deg,#6FAAFF   112.5deg,#DDE9FF  228.75deg,rgba(42,138,246,0) 360deg);
    overflow: hidden;
    padding: calc(var(--padding) + var(--border-size));
    border-radius: 18px;
    display: inline-block;
    z-index: 0;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    perspective: 1000;
    transform: translateZ(0);

    -webkit-mask: linear-gradient(#fff 0 0) content-box,linear-gradient(#fff 0 0);
    mask: linear-gradient(#fff 0 0) content-box,linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    z-index: -1;
    border-radius: calc(18px + var(--border-size));
    opacity: 0.4;
    &:before {
      content: "";
      display: block;
      background: var(--border-bg);
      box-shadow: 0 0 40px 20px --var(--border-bg);
      width: calc(100% * 1.41421356237);
      padding-bottom: calc(100% * 1.41421356237);
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%,-50%);
      border-radius: 100%;
      z-index: -2;
      animation: landing_spin__XlUIM 5s linear infinite;
    }
  }
  @keyframes landing_spin__XlUIM {
    0% {
      transform: translate(-50%,-50%) rotate(1turn)
    }

    to {
      transform: translate(-50%,-50%) rotate(0)
    }
  }
  .icon {
    position: relative;
    display: inline-flex;
    padding: 0.75rem;
    border-radius: inherit;
  }
  p {
    color: var(--text-color);
  }
  &:before, .icon:before {
    content: "";
    position: absolute;
    inset: -1px;
    border-radius: inherit;
    padding: 1px;
    background: radial-gradient(75% 75% at 25% 15%,#fff 0,hsla(0,0%,100%,.3) 100%);
    -webkit-mask: linear-gradient(#000,#000) content-box,linear-gradient(#000,#000);
    mask: linear-gradient(#000,#000) content-box,linear-gradient(#000,#000);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    opacity: .5;
    pointer-events: none;
  }
  &:hover {
    background: var(--service-bar-card-background-hover-color);
    //box-shadow: 0 0 0 1px rgba(0,0,0,.03), 0 2px 4px rgba(0,0,0,.05), 0 12px 24px rgba(0,0,0,.05);
  }
}

//////////

.service-bar-mobile{
  display: none;
}

@media screen and (max-width: 900px) {
  .service-bar-mobile{
    display: block;
  }

  .service-bar-web{
    display: none;
  }

  .title{
    color: var(--supper-power-title-color);
    font-family: Poppins, serif;
    font-size: 23px;
    font-style: normal;
    font-weight: 600;
    line-height: 116%; /* 37.12px */
    letter-spacing: -1.6px;
    margin-bottom: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .grid-items{
    display: grid;
    grid-template-columns: 375px;
  }

  .service-card{
    width: 375px;
    height: 93px;
    background: var(--service-bar-mobile-card-background-color);
    border-radius: 10.465px;
    align-items: center;
    padding: 15px 28px 15px 23px;
    border: none;
    box-shadow: none;
    cursor: pointer;


    .mobile-order-arrow-light-hover{
      display: none;
    }

    &:hover{
      background: var(--service-bar-card-mobile-background-hover-color);

      .mobile-arow path{
        fill: var(--service-bar-card-mobile-arow-hover);
      }
      //box-shadow: 0 1.744px 3.081px 0 rgba(0, 0, 0, 0.13);
      //border: none;

      //.service-title{
      //  color:#000;
      //}
      //.price{
      //  color: #777676;;
      //}

      .mobile-order-arrow-light {
        display: none;
      }
      .mobile-order-arrow-dark{
        display: none;
      }

      .mobile-order-arrow-light-hover{
        display: block;
      }

    }

  }

  .mobile-arow path{
    fill: var(--service-bar-card-mobile-arow);
  }

  .service-title{
    color: var(--service-bar-card-text-color);
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 96.6%;
    margin-bottom: 3px;
  }

  .mobile-order-arrow-light{
    display: var(--service-bar-mobile-arrow-light);
  }
  .mobile-order-arrow-dark{
    display: var(--service-bar-mobile-arrow-dark);
  }
  .price{
    font-family: 'Poppins', sans-serif;
    color: #777676;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 96.6%;
    margin-top: 5px;
  }

}
